/*!
Skin Name: Sport
*/
@import "../../../../assets/sass/variables-site/_colors.scss";
@import "../../../../assets/sass/typography/icons";
/*Post categories*/
.has-featured:not(.format-audio) .posts-list__item-media .post__cats {
	bottom: 20px;
	top: auto;
	margin: 0;
	a {
		margin-bottom: 0;
		margin-top: 4px;
	}
}

/*Post List*/
.posts-list--default-small-img,
.posts-list--timeline {

	.has-featured .posts-list__item-inner {
		align-items: flex-start;
		margin-bottom: 20px;
		.posts-list__item-media {
			margin-bottom: 20px;
		}
		.post-thumbnail {
			margin-bottom: 0;
		}
	}
	.has-featured:not(.format-audio) .posts-list__item-media .post__cats {
		bottom: 0;
		a {
			margin-bottom: 0;
			margin-top: 4px;
		}
	}
}

/*Smart Listing*/
.has-thumb-postion-top.has-post-thumb .jet-smart-listing__post-content {
	margin-top: 12px;
}

/*Title h4 bottom decoration*/
h4 {
	&.widget-title,
	&.jet-smart-listing__title,
	&.elementor-heading-title {
		position: relative;

		&:after {
			position: absolute;
			bottom: -13px;
			left: 0;
			display: block;
			content: '';
			width: 56px;
			height: 2px;
		}
	}
	&.widget-title:after {
		bottom: -1px;
	}
	&.jet-smart-listing__title:after {
		bottom: -11px;
	}
}

.cherry-trend-post__thumbnail:before {
	left: auto;
	right: 0;
}

.cherry-trend-post {
	@media (max-width: 767px) {
		flex-direction: column;
		&__content-wrapper {
			margin-left: 0;
			margin-top: 20px;
		}
	}
}

.pagination,
.posts-load-more-nav {
	border-top: none;
}

.jet-tabs .jet-tabs__label-text {
	font-size: 12px;
}

.jet-tabs .jet-tabs__control-inner {
	padding-left: 20px;
	padding-right: 20px;
}

.jet-sub-mega-menu {
	.jet-tabs .jet-tabs__control-wrapper {
		border: none;
	}
	.jet-tabs__control.active-tab,
	.jet-tabs__control:hover {
		background-color: transparent;
	}
	.jet-tabs .jet-tabs__label-text {
		text-transform: none;
	}
	.jet-smart-listing__post-thumbnail a {
		border-radius: 0;
	}

	.jet-custom-nav .menu-item {

		a {
			padding-left: 20px;
			&:before {
				position: absolute;
				top: 12px;
				left: 0;
				content: '\f142';
				@include material-design-icons;
			}
		}

		.jet-custom-nav__sub {
			padding: 5px 20px;
		}

		.jet-dropdown-arrow{
			background-color: transparent;
		}
	}
}

.jet-custom-nav .jet-menu-link-text {
	font-size: 12px;
}

.jet-menu .jet-menu-item .top-level-link {
	padding: 15px 0;
	@media (min-width: 1200px) {
		padding: 30px 0;
	}
}

.gallery {
	.landscape {
		overflow: hidden;
		a {
			position: relative;
			display: inline-block;
			width: 100%;
			height: 100%;
		}
		a:before {
			content: '';
			display: inline-block;
			border-radius: 3px;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: .2s;
		}

		a:after {
			content: '\f415';
			@include material-design-icons;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 40px;
			opacity: 0;
			transition: .2s;
			z-index: 1;
		}

		a:hover {
			&:before,
			&:after {
				opacity: 1;
			}
		}
	}
}

.jet-smart-listing__terms-link,
.post__cats a{
	font-size: 12px;
	padding: 1px 7px;
}
