/*!
Skin Name: Photto
*/
/* #Jet-Menu */
.jet-menu .top-level-link {
  position: relative; }
  .jet-menu .top-level-link:before {
    content: none; }
  .jet-menu .top-level-link .jet-menu-item-wrapper {
    position: relative; }
    .jet-menu .top-level-link .jet-menu-item-wrapper:after {
      content: none; }

.jet-menu > .jet-menu-item > a {
  padding: 7px 10px; }

.jet-sub-menu {
  padding: 0; }
  .jet-sub-menu .jet-sub-menu {
    margin-top: -3px; }
  .jet-sub-menu > li > a {
    padding: 7px 10px;
    text-transform: uppercase; }

/* Jet Portfolio */
.jet-portfolio.preset-type-4 .jet-portfolio__content-inner {
  background-color: transparent; }

.jet-portfolio.preset-type-4 .jet-portfolio__button.elementor-button {
  position: absolute;
  right: 15px;
  bottom: 14px; }

.jet-portfolio.preset-type-4 .jet-portfolio__content-inner {
  padding: 18px 15px 49px 20px; }

.jet-portfolio.preset-type-4 .jet-portfolio__title {
  margin: 0 0 3px 0;
  padding: 0 5px 0 0; }
  @media (min-width: 768px) {
    .jet-portfolio.preset-type-4 .jet-portfolio__title {
      padding: 0 70px 0 0; } }

.jet-portfolio.preset-type-4 .jet-portfolio__desc {
  margin: 0;
  padding: 0 5px 0 0; }
  @media (min-width: 768px) {
    .jet-portfolio.preset-type-4 .jet-portfolio__desc {
      padding: 0 70px 0 0; } }

.elementor-widget .jet-portfolio__button.elementor-button {
  background-color: transparent;
  border-radius: 0;
  padding: 2px 5px; }
  .elementor-widget .jet-portfolio__button.elementor-button:hover {
    background-color: transparent; }

/* Images Layout */
.jet-images-layout__content:before {
  opacity: 0.5; }

.jet-images-layout .jet-images-layout__title {
  margin: 0 0 7px 0;
  text-transform: uppercase; }

/* CF7 */
input,
select,
textarea {
  padding: 7px 15px;
  font-size: 13px;
  line-height: 1.6;
  border: 1px solid transparent;
  border-radius: 0; }

.wpcf7 input[type="submit"] {
  border-radius: 0;
  padding: 9.5px 30px;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1.6; }

/* Posts */
.post-thumbnail__img,
.elementor .post-thumbnail__img {
  border-radius: 0; }

/* Blog */
@media (min-width: 1200px) {
  .blog #primary,
  .archive #primary {
    left: 16.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; } }

.post__cats a {
  border-radius: 0;
  padding: 0 5px 1px; }
  .single-post .post__cats a {
    padding: 0 1px 1px;
    background-color: transparent; }
    .single-post .post__cats a:hover {
      background-color: transparent; }

.has-featured:not(.format-audio) .posts-list__item-media .post__cats {
  margin: 4px 10px; }

/* Buttons */
.btn,
form button,
form input[type='button'],
form input[type='reset'],
form input[type='submit'],
.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-subscribe .cherry-popup-subscribe__submit,
.popup-type-default .cherry-popup-subscribe__submit,
.elementor-widget .elementor-button,
.add_to_cart_button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce input.button:disabled,
.woocommerce input.button[disabled]:disabled,
.woocommerce a.button.loading,
.submit.btn,
.search-form__submit.btn {
  border-radius: 0;
  font-size: 11px;
  padding: 10px 34px; }

/* Posts */
.posts-list:not(.posts-list--grid-2) .format-standard.has-post-thumbnail .post__button-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .posts-list:not(.posts-list--grid-2) .format-standard.has-post-thumbnail .post__button-wrap::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .posts-list:not(.posts-list--grid-2) .format-standard.has-post-thumbnail .post__button-wrap:hover::after {
    opacity: 1; }
  .posts-list:not(.posts-list--grid-2) .format-standard.has-post-thumbnail .post__button-wrap .post__button {
    position: relative;
    z-index: 1;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .posts-list:not(.posts-list--grid-2) .format-standard.has-post-thumbnail .post__button-wrap:hover .post__button {
    opacity: 1; }

.posts-list:not(.posts-list--grid-2) .format-standard.has-post-thumbnail .post-thumbnail {
  position: relative; }

.posts-list--grid-2 .format-standard.has-post-thumbnail .post__button-wrap {
  margin-bottom: 15px; }

.posts-list--default .format-standard.has-post-thumbnail .post__button-wrap .post__button {
  margin-bottom: 28px; }

.posts-list--grid .format-standard.has-post-thumbnail .post__button-wrap .post__button,
.posts-list--masonry .format-standard.has-post-thumbnail .post__button-wrap .post__button,
.posts-list--vertical-justify .format-standard.has-post-thumbnail .post__button-wrap .post__button {
  margin-bottom: 26px; }

.posts-list .posts-list__item {
  border: none !important; }

.post-timeline-date__time {
  border-radius: 0; }

.post-thumbnail,
.elementor .elementor-widget .hentry .post-thumbnail {
  margin-bottom: 26px; }

.posts-list .entry-summary > *:first-child,
.posts-list .entry-content > *:first-child {
  margin-top: 20px; }

.entry-meta-main {
  margin-top: 18px; }

.entry-meta {
  font-size: 13px; }

.entry-meta > .col-sm-6 > * {
  padding-right: 25px;
  padding-bottom: 10px; }
  .posts-list--grid .entry-meta > .col-sm-6 > * {
    padding-right: 10px; }
  .posts-list--default .entry-meta > .col-sm-6 > * {
    padding-bottom: 0; }
    @media (max-width: 767px) {
      .posts-list--default .entry-meta > .col-sm-6 > * {
        padding-bottom: 10px; } }

@media (min-width: 576px) {
  .posts-list--default .entry-meta > .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .entry-meta > .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.cherry-trend-views__count::before {
  content: 'Views: ';
  margin-right: 3px; }

.posts-list__item {
  margin-bottom: 24px; }

.pagination,
.posts-load-more-nav {
  border-top: none;
  text-align: left;
  padding-top: 17px; }

.site-content .page-links a,
.nav-links .page-numbers,
.woocommerce-pagination .page-numbers {
  background-color: transparent !important;
  border: none;
  min-width: auto;
  height: 38px;
  font-size: 11px;
  margin: 0 14px 5px 0; }

.next.page-numbers .mdi:before {
  content: 'Next';
  text-transform: uppercase;
  font-size: 11px;
  position: static;
  visibility: visible;
  opacity: 1;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  text-align: right;
  display: block; }

.prev.page-numbers .mdi:before {
  content: 'Prev';
  text-transform: uppercase;
  font-size: 11px;
  position: static;
  visibility: visible;
  opacity: 1;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  text-align: right;
  display: block; }

.entry-meta-top {
  margin-bottom: 8px; }

.single-post .hentry .entry-meta,
.single-featured-header .entry-meta {
  font-size: 13px; }

.single-post .hentry .cherry-trend-views__count::before {
  font-size: 13px; }

.single-post .hentry .entry-meta-main {
  margin-bottom: 36px; }

.single-post .hentry .post__tags a {
  padding: 0;
  font-size: 11px;
  border-radius: 0;
  margin-right: 15px;
  border: none;
  text-transform: uppercase;
  background-color: transparent !important; }
  .single-post .hentry .post__tags a:hover {
    background-color: transparent !important; }

.single-post .cherry-trend-views__suffix {
  display: none; }

.single-post .post__tags {
  margin-top: 46px;
  margin-bottom: 11px; }

.single-post .cs-share {
  margin-bottom: 28px; }

.post__date a,
.post__comments a,
.posted-by a,
.posts-list .entry-meta,
.cherry-trend-views {
  color: inherit; }

.card-container,
.post-template-single-layout-2 .single-featured-header__meta-box {
  border-radius: 0; }

blockquote,
blockquote.quote-bg {
  border-radius: 0;
  margin-left: 0;
  border-left: none;
  padding: 36px 60px 36px 87px;
  position: relative;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    blockquote,
    blockquote.quote-bg {
      padding: 20px 20px 20px 60px; } }
  blockquote.post-format-quote,
  blockquote.quote-bg.post-format-quote {
    padding: 60px 60px 30px 60px; }
    @media (max-width: 767px) {
      blockquote.post-format-quote,
      blockquote.quote-bg.post-format-quote {
        padding: 50px 20px 20px 20px; } }
    blockquote.post-format-quote::before,
    blockquote.quote-bg.post-format-quote::before {
      top: 22px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
      @media (max-width: 767px) {
        blockquote.post-format-quote::before,
        blockquote.quote-bg.post-format-quote::before {
          top: 16px; } }
  blockquote::before,
  blockquote.quote-bg::before {
    content: '\f10e';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 26px;
    position: absolute;
    top: 39px;
    left: 40px; }
    @media (max-width: 767px) {
      blockquote::before,
      blockquote.quote-bg::before {
        top: 23px;
        left: 20px; } }
  blockquote cite,
  blockquote.quote-bg cite {
    text-transform: none;
    font-size: 13px;
    margin-top: 13px; }

.posts-load-more-btn__text {
  font-size: 13px;
  line-height: 1; }

.posts-load-more-btn__icon {
  font-size: 22px; }

/* Share buttons */
.cs-share__item a.cs-share__link::before {
  content: none; }

.cs-share--icon {
  display: block;
  padding: 0 !important; }
  .cs-share--icon .cs-share__link-text {
    position: static !important;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto; }

.cs-share--animate .cs-share__list {
  position: static;
  visibility: visible;
  opacity: 1;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  display: block; }
  .posts-list--default .cs-share--animate .cs-share__list {
    text-align: right; }

.cs-share--animate .cs-share__icon {
  display: none; }

.cs-share--both .cs-share__link-text,
.cs-share--icon .cs-share__link-text {
  margin-left: 0; }

/* Layout */
.site-content__wrap {
  margin-top: 27px;
  margin-bottom: 18px; }

#toTop {
  border-radius: 0; }

li + li {
  margin-top: 0; }

@media (min-width: 768px) {
  ul, ol {
    margin-left: 45px; } }

.not-found.error-404 .page-title {
  line-height: 1.5; }
