/*!
Skin Name: Cryprate
*/
@import "../../../../assets/sass/variables-site/variables-site";
@import "../../../../assets/sass/mixins/mixins-master";
@import "../../../../assets/sass/grid/grid";
@import "../../../../assets/sass/typography/icons";
@import "buttons.scss";

#toTop {
	@include border-radius(0);
}

/*-------------------------------------------------------------
### Jet Menu
--------------------------------------------------------------*/
.jet-menu {
	>.jet-menu-item {
		> a {
			padding: 10px;
		}
	}
	&-badge__inner {
		@include border-radius(0);
	}
	.jet-sub-menu {
		border: 1px solid;
		border-top: 3px solid;
	}
}

.jet-custom-nav {
	.jet-menu-link-text {
		text-transform: uppercase;
	}
	.jet-menu-badge {
		.jet-menu-badge__inner {
			@include border-radius(0);
		}
	}
}

/*-------------------------------------------------------------
### Jet Text Ticker
--------------------------------------------------------------*/
.jet-text-ticker {

	&__title {
		padding: 0;
		text-transform: none;
	}

	.jet-blog-arrow {
		top: 0;
		width: 20px;
		height: 20px;
		font-size: 7px;
		line-height: 1;
		@include border-radius(0);

		&.jet-arrow-prev {
			right: -54px;
		}
		&.jet-arrow-next {
			right: -80px;
		}
	}
}

/*-------------------------------------------------------------
### Widgets
--------------------------------------------------------------*/
.widget-title {
	border: none;
	letter-spacing: 0.02em;
	margin-bottom: 3px;
	text-transform: uppercase;
}

.stock-ticker-wrapper {
	ul {
		&.stock_ticker {
			font-size: 12px;
			.sqitem {
				line-height: 1;
			}
		}
	}
}
/*-------------------------------------------------------------
### Jet Smart Listing / Tiles
--------------------------------------------------------------*/
.jet-blog {
	.jet-smart-listing,
	.jet-smart-tiles {
		&__terms-link {
			letter-spacing: 0.02em;
			padding: 0;
		}
		&__title {
			letter-spacing: 0.01em;
			text-transform: uppercase;
		}
	}
	.jet-smart-listing {
		&__arrow {
			top: 0;
			width: 20px;
			height: 20px;
			font-size: 7px;
			line-height: 1;
			@include border-radius(0);

			&.jet-arrow-prev {
				left: auto;
				right: -54px;
			}
			&.jet-arrow-next {
				left: auto;
				right: -80px;
			}
		}
		&__posts {
			.jet-smart-listing__post {
				&:last-child {
					border-bottom: none;
					margin-bottom: 0;
					.sidebar & {
						border-bottom: none;
						margin-bottom: 0;
					}
				}
			}
		}
		&__post-thumbnail {
			a {
				@include border-radius(0);
			}
		}
	}
}

/*-------------------------------------------------------------
### Elementor
--------------------------------------------------------------*/
.elementor-widget {
	.elementor-button{
		@include border-radius(0);
		line-height: 1.154;
		&.elementor-size-md {
			letter-spacing: 0.02em;
			padding: 9px 20px 10px 19px;
		}
	}
}

/*-------------------------------------------------------------
### Jet Subscribe
--------------------------------------------------------------*/
.jet-subscribe-form {
	& &__input {
		padding: 6px 13px 8px 13px;
		@include border-radius(0);
		transition: .3s;
	}
	.jet-subscribe-form--inline-layout & {
		&__submit {
			margin: 0;
		}
	}
}

/*-------------------------------------------------------------
### Elements
--------------------------------------------------------------*/
li {
	& + li {
		margin-top: 0;
	}
}

ul, ol {
	margin-left: 55px;
}

blockquote {
	margin-left: 0;
	padding: 28px 28px 0;
	position: relative;
	&:before {
		@include font-awesome-icon;
		content: "\f10e";
		font-size: 24px;
		left: 30px;
		position: absolute;
		top: 0;
	}
	&.post-format-quote {
		&:before {
			left: -10px;
		}
	}
	cite {
		font-size: 14px;
		margin-top: 8px;
	}
}

/*-------------------------------------------------------------
### Single Post
--------------------------------------------------------------*/
.single-post {
	.hentry,
	.single-featured-header {
		.post {
			&__cats {
				a {
					padding: 0;
				}
			}
			&__tags {
				a {
					border: none;
					@include border-radius(0);
					margin-right: 10px;
					padding: 5px 9px 6px;
					text-transform: uppercase;
				}
			}
			&-respond-button {
				margin-top: 55px;
			}
		}
		.entry-header {
			margin-bottom: 3px;
		}
		.entry-meta {
			> * {
				padding-right: 0;
				margin-right: -5px;
				i {
					margin-right: 3px;
				}
			}
			.post__comments {
				i {
					margin-top: -6px;
				}
			}
			.cherry-trend-views {
				&__count {
					&::before {
						margin-right: 3px;
					}
				}
			}
			.cherry-trend-rating {
				.cherry-trend-star {
					height: 14px;
					width: 14px;
					font-size: 14px;
					&::before {
						@include font-awesome-icon;
						content: '\f005';
					}
				}
			}
			&-top {
				margin-bottom: 10px;
			}
			&-main {
				margin-bottom: 40px;
			}
		}
	}
	&.single-format-standard {
		.site-content__wrap {
			margin-top: 0;
			.breadcrumbs__inner {
				border-bottom: none;
				margin-bottom: 1.74em;
				padding-bottom: 6px;
				padding-top: 6px;
			}
		}
	}
	.comments-area {
		margin-bottom: 30px;
	}
}

/*-------------------------------------------------------------
### Blog Listing
--------------------------------------------------------------*/
.blog,
.archive {
	.site-content__wrap {
		margin-top: 0;
      	margin-bottom: 40px;
		.breadcrumbs__inner {
			border-bottom: none;
			margin-bottom: 2.24em;
			padding-bottom: 6px;
			padding-top: 6px;
		}
	}
	.posts-list--default-small-img {
		.has-featured {
			.posts-list {
				&__item-media {
					max-width: 420px;
					width: 100%;
				}
				&__item-content {
					.entry-meta {
						> * {
							padding-right: 0;
							margin-right: -5px;
						}
						&-top {
							margin-top: -1px;
							margin-bottom: 0;
						}
						&-top {
							margin-bottom: 16px;
							margin-top: 5px;
						}
					}
					.entry-content {
						font-size: 13px;
					}
					.entry-footer-container {
						margin-top: 16px;
					}
				}
			}
		}
		.posts-list__item {
			margin-bottom: 30px;
			padding-bottom: 30px;
			&:last-child {
				border-bottom: none;
                margin-bottom: 0;
			}
		}
	}
	.has-featured {
		.posts-list {
			&__item-media {
				.post-thumbnail__img {
					@include border-radius(0);
				}
			}
			&__item-content {
				.entry-meta {
					&-main {
						margin-bottom: 8px;
						.post__cats {
							margin-bottom: 0;
							a {
								margin-bottom: 0;
								padding: 0;
							}
						}
					}
					&-top {
						.posted-by__avatar {
							.avatar {
								margin-right: 7px;
							}
						}
					}
					.cherry-trend-rating {
						.cherry-trend-star {
							height: 14px;
							width: 14px;
							font-size: 14px;
							&::before {
								@include font-awesome-icon;
								content: '\f005';
							}
						}
					}
				}
			}
		}
	}
  .posts-load-more-nav {
    border: none;
    padding-top: 10px;
    .posts-load-more-btn {
      width: 100%;
      padding: 3px 0;
    }
  }
}

.post-featured-content {
	.swiper-button-next,
	.swiper-button-prev {
		@include border-radius(0);
		height: 20px;
		width: 20px;
		&::before {
			@include font-awesome-icon;
			font-size: 8px;
			margin-top: 6px;
		}
	}
	.swiper-button-next {
		&::before {
			content: '\f054';
		}
	}
	.swiper-button-prev {
		right: 46px;
		&::before {
			content: '\f053';
		}
	}
	.swiper-container {
		.swiper-button-next,
		.swiper-button-prev {
			@include border-radius(0);
			height: 20px;
			width: 20px;
			&::before {
				@include font-awesome-icon;
				font-size: 8px;
				margin-top: 6px;
			}
		}
		.swiper-button-next {
			&::before {
				content: '\f054';
			}
		}
		.swiper-button-prev {
			right: 46px;
			&::before {
				content: '\f053';
			}
		}
	}
}

.nav-links {
	.page-numbers {
		@include border-radius(0);
	}
}
.site-content {
	.page-links {
		a,
		> .page-links__item {
			@include border-radius(0);
		}
	}
}