.elementor-widget {
	.elementor-button {

		&.elementor-size-xs {
			font-size: 12px;
			padding: $button__indents_y - 1px $button__indents_x - 3px;
		}

		&.elementor-size-sm {
			padding: $button__indents_y - 1px $button__indents_x - 3px;
		}

		&.elementor-size-md {
			padding: $button__indents_y $button__indents_x;
		}

		&.elementor-size-xl {
			padding: $button__indents_y + 3.5px $button__indents_x + 10px;
			font-size: 18px;
		}
	}
}

.post-thumbnail__img,
.elementor .post-thumbnail__img {
	border-radius: $border-radius;
}


/* Ticker plugin styles */

.stock_ticker.stockticker,
.stock_ticker.stockticker .change,
.stock_ticker.stockticker .changep {
	font-size: 14px;
}

.widget_stock_ticker .stock-ticker-wrapper ul.stock_ticker {
	.plus > .sqitem:before {
		font-size: 16px;
		content: '\F736';
	}
	.minus > .sqitem:before {
		font-size: 16px;
		content: '\F736';
	}
}

ul.stock_ticker li.plus .sqitem, ul.stock_ticker li.plus .sqitem:hover {
	color: #34961F;
}
ul.stock_ticker li.minus .sqitem, ul.stock_ticker li.minus .sqitem:hover {
	color: #C13617;
}

