/* Jet Smart Listing Styles */

.jet-smart-listing__post-excerpt {
	font-size: 14px;
}
.jet-smart-listing__terms-link {
	border-radius: 0;
	font-size: 12px;
	text-transform: none;
	padding: 0 3px;
}



.jet-smart-listing__post-thumbnail a,
.jet-smart-tiles__terms-link,
.jet-smart-listing__featured.featured-layout-boxed{
	border-radius: $border-radius;
}

.jet-smart-listing-wrap_custom_border {
	&_footer {
		.columns-3.rows-1.no-featured {
			@include media-breakpoint-down(sm) {
				border:none !important;
			}
		}
	}
	.jet-smart-listing-wrap {
		.columns-3.rows-2.no-featured {
			.jet-smart-listing__post {
				@include media-breakpoint-down(sm) {
					border:none !important;
				}
				&:nth-child(3n+1) {
					border-left: none;
				}
				&:nth-child(3n+3) {
					border-right: none;
				}
				&:nth-child(3n+4),
				&:nth-child(3n+5),
				&:nth-child(3n+6){
					border-bottom: none;
				}
			}
		}
		.columns-4.rows-1.no-featured {
			.jet-smart-listing__post {
				@include media-breakpoint-down(sm) {
					border:none !important;
				}
				&:nth-child(4n+1) {
					border-left: none;
				}
				&:nth-child(4n+4) {
					border-right: none;
				}
			}
		}
		.columns-1.rows-3.has-featured-position-left {
			.jet-smart-listing__post {
				@include media-breakpoint-down(sm) {
					border:none !important;
				}
				&:nth-child(3n+1) {
					border-top: none;
				}
				&:nth-child(3n+3) {
					border-bottom: none;
				}
			}
		}
		.columns-4.rows-1.has-featured-position-top {
			.jet-smart-listing__post {
				@include media-breakpoint-down(sm) {
					border:none !important;
				}
				&:nth-child(4n+4) {

					border-right: none;
				}
			}
		}
		.columns-1.rows-3.no-featured {
			.jet-smart-listing__post {
				@include media-breakpoint-down(sm) {
					border:none !important;
				}
				&:last-child {
					border-bottom: none;
				}
			}
		}
		.columns-3.rows-1.no-featured {
			.jet-smart-listing__post {
				@include media-breakpoint-down(sm) {
					border:none !important;
				}
				&:last-child {
					border-right: none;
				}
			}
		}
	}
	.jet-posts__item.col-desk-5:last-child{
		.jet-posts__inner-box {
			@include media-breakpoint-down(sm) {
				border:none !important;
			}
			border-right: none;
		}
	}
}


/* Menu styles */

.jet-nav {
	.menu-item-link-top {
		text-transform: none;
		&.menu-item-link {
			padding: 0;
		}
	}
	.jet-nav__item {
		margin: 9px 13px 7px 0;
	}
}

/* Jet Subscribe Styles */
.jet-subscribe-form {
	& &__input {
		&::placeholder {
			text-align: center;
		}
		padding: $input__indents_y $input__indents_x;
		border-radius: $border-radius;
	}
}

.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-subscribe .cherry-popup-subscribe__submit,
.popup-type-default .cherry-popup-subscribe__submit,
.elementor-widget .elementor-button.elementor-size-lg {
	padding:4.5px 40px;
	font-size: 14px;
}

.jet-subscribe-form .jet-subscribe-form__submit.elementor-button.elementor-size-md {
	padding: 4.5px 16px;
	font-size: 14px;
	margin-left: 0;
}


/* Jet Search styles */
.jet-search__submit {
	background-color: transparent;
}

.jet-tabs__control {
	border-width: 1px;
	border-style: solid;
}

.jet-search__field {
	text-align: right;
	padding: 5px 0px 5px 5px;
}

.jet-search__submit-icon,
.jet-search__popup-trigger-icon,
.jet-search__popup-close-icon {
	font-size: 12px;
}

/* Jet Tabs */
.jet-tabs .jet-tabs__label-text {
	text-transform: none;
}

.jet-tabs .jet-tabs__control-inner {
	padding: 3px 10px;
}

