/*Smart Tiles*/
.jet-smart-tiles__box-title{
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-size: $h2_font_size{px};
	line-height: $h2_line_height;
	font-family: @font_family( $h2_font_family );
	letter-spacing: $h2_letter_spacing{em};
	text-transform: $h2_text_transform;
}

.jet-smart-tiles__box:before{
	border-bottom-color: $regular_accent_color_1;
}

.jet-smart-tiles__terms-link,
.jet-smart-listing__terms-link{
	font-size: @font_size($h5_font_size, multiple, round, 1.11)px;
	font-family: @font_family( $h5_font_family );
	font-weight: $h5_font_weight;
}

.jet-smart-listing__meta .post__date,
.jet-smart-listing__meta .posted-by,
.jet-smart-listing__meta .post__comments{
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	text-transform: $body_text_transform;
}

.jet-smart-listing__post-title{
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	text-transform: $h4_text_transform;
}

.jet-smart-listing__post-title.post-title-featured{
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
	text-transform: $h3_text_transform;
}

.jet-smart-listing__post-excerpt{
	font-size: $body_font_size{px};
}

.jet-smart-listing__filter-item > a,
.jet-smart-listing__filter-item > i{
	color: $regular_text_color;
}

.jet-smart-tiles__terms-link:hover,
.jet-smart-listing__terms-link:hover{
	background-color: @darken($regular_accent_color_1, 10);
}


/*Menu*/
.main-navigation {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-family: @font_family( $body_font_family );
}

/*Post*/
.posts-list__item .entry-title{
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
	text-transform: $h3_text_transform;
}

.post__cats a{
	font-size: $h5_font_size{px};
}

.post__cats a:hover{
	color: $light_color;
}

.posted-by a{
	color: $dark_color;
}

.posted-by a:hover{
	color: $regular_accent_color_1;
}

.posts-list .post__tags a{
	font-family: @font_family( $h5_font_family );
}

.posts-list .post__tags a{
	color: $dark_color;
}

.posts-list .invert .post__tags a{
	color: $light_color;
}

.posts-list .post__tags a:hover{
	color: $regular_accent_color_1;
}

.posts-list .invert .post__tags a:hover,
.invert .post__cats a:hover{
	color: $regular_accent_color_2;
}

.invert.posts-list__item .entry-title a,
.invert.posts-list__item .post__cats a,
.invert.posts-list__item .post__date a,
.invert.posts-list__item .posted-by a{
	color: $light_color;
}

.invert.posts-list__item .entry-title a:hover,
.invert.posts-list__item .post__cats a:hover,
.invert.posts-list__item .post__date a:hover,
.invert.posts-list__item .posted-by a:hover{
	color: $regular_accent_color_2;
}

/*Post Layouts*/
.post-template-single-layout-4 .posted-by a,
.post-template-single-layout-2 .posted-by a{
	color: $light_color;
}

.posts-list .invert .post__tags a:hover,
.invert .posted-by a,
.invert .post__cats a:hover,
.invert .posted-by a:hover,
.invert .post__date a:hover{
	color: $light_color;
}

/*Reviews*/
.jet-review__field-label,
.jet-review__summary-legend{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-transform: $h6_text_transform;
}

/*Paginations*/
.site-content .page-links a,
.site-content .page-links > .page-links__item,
.nav-links .page-numbers,
.posts-load-more-btn{
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	text-transform: $h4_text_transform;
	color: $regular_h4_color;
}

/*Text Ticker*/
.jet-text-ticker__title{
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	text-transform: $h5_text_transform;
}

.widget_recent_entries li:before{
	color: $regular_accent_color_1;
}

.widget-title{
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
	text-transform: $h3_text_transform;
}

.tagcloud a{
	color: $dark_color;
}

#better-recent-comments .comment-excerpt,
#better-recent-comments .comment-date{
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	text-transform: $body_text_transform;
}

.widget_recent_entries a{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-transform: $h6_text_transform;
}

.widget_recent_entries a:hover{
	color: $regular_accent_color_1;
}

.jet-menu > li > a{
	font-size: @font_size($h5_font_size, multiple, round, 1.11)px;
}