// Buttons
$button__indents_y: 3.5px;
$button__indents_x: 9px;
$button__indents:   $button__indents_y $button__indents_x;

// Inputs

$input__indents_y: 4.5px;
$input__indents_x: 15px;
$border-radius: 0;
