/*!
Skin Name: Voyagin
*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }
  .site .container-fluid:before, .site .container-fluid:after {
    content: none; }

.container-wide {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.875rem;
  padding-right: 1.875rem; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }
  .site .row:before, .site .row:after {
    content: none; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  float: none; }

.col-xs-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-xs-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-xs-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-xs-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-xs-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-xs-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-xs-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-xs-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-xs-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-xs-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-xs-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-xs-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-xl-pull-0 {
    right: auto; }
  .col-xl-pull-1 {
    right: 8.33333%; }
  .col-xl-pull-2 {
    right: 16.66667%; }
  .col-xl-pull-3 {
    right: 25%; }
  .col-xl-pull-4 {
    right: 33.33333%; }
  .col-xl-pull-5 {
    right: 41.66667%; }
  .col-xl-pull-6 {
    right: 50%; }
  .col-xl-pull-7 {
    right: 58.33333%; }
  .col-xl-pull-8 {
    right: 66.66667%; }
  .col-xl-pull-9 {
    right: 75%; }
  .col-xl-pull-10 {
    right: 83.33333%; }
  .col-xl-pull-11 {
    right: 91.66667%; }
  .col-xl-pull-12 {
    right: 100%; }
  .col-xl-push-0 {
    left: auto; }
  .col-xl-push-1 {
    left: 8.33333%; }
  .col-xl-push-2 {
    left: 16.66667%; }
  .col-xl-push-3 {
    left: 25%; }
  .col-xl-push-4 {
    left: 33.33333%; }
  .col-xl-push-5 {
    left: 41.66667%; }
  .col-xl-push-6 {
    left: 50%; }
  .col-xl-push-7 {
    left: 58.33333%; }
  .col-xl-push-8 {
    left: 66.66667%; }
  .col-xl-push-9 {
    left: 75%; }
  .col-xl-push-10 {
    left: 83.33333%; }
  .col-xl-push-11 {
    left: 91.66667%; }
  .col-xl-push-12 {
    left: 100%; }
  .col-xl-offset-0 {
    margin-left: 0%; }
  .col-xl-offset-1 {
    margin-left: 8.33333%; }
  .col-xl-offset-2 {
    margin-left: 16.66667%; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-offset-4 {
    margin-left: 33.33333%; }
  .col-xl-offset-5 {
    margin-left: 41.66667%; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-offset-7 {
    margin-left: 58.33333%; }
  .col-xl-offset-8 {
    margin-left: 66.66667%; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-offset-10 {
    margin-left: 83.33333%; }
  .col-xl-offset-11 {
    margin-left: 91.66667%; }
  .col-xl-offset-12 {
    margin-left: 100%; } }

.col-xs-first {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.col-xs-last {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

@media (min-width: 576px) {
  .col-sm-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-sm-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 768px) {
  .col-md-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-md-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 992px) {
  .col-lg-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-lg-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 1200px) {
  .col-xl-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-xl-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

.row-xs-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.row-xs-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.row-xs-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

@media (min-width: 576px) {
  .row-sm-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-sm-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-sm-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

@media (min-width: 768px) {
  .row-md-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-md-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-md-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

@media (min-width: 992px) {
  .row-lg-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-lg-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-lg-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

@media (min-width: 1200px) {
  .row-xl-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-xl-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-xl-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

.col-xs-top {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.col-xs-center {
  -ms-flex-item-align: center;
  align-self: center; }

.col-xs-bottom {
  -ms-flex-item-align: end;
  align-self: flex-end; }

@media (min-width: 576px) {
  .col-sm-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-sm-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .col-sm-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

@media (min-width: 768px) {
  .col-md-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-md-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .col-md-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

@media (min-width: 992px) {
  .col-lg-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-lg-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .col-lg-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

@media (min-width: 1200px) {
  .col-xl-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-xl-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .col-xl-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

/*--------------------------------------------------------------
## Icons
--------------------------------------------------------------*/
.listing_video .jet-blog .jet-smart-listing__post-title::before, .posts-list--grid-2.card-deck .posts-list__item:not(.format-standard):not(.format-gallery) .entry-title::before, .post-featured-content .swiper-button-next::before,
.post-featured-content .swiper-button-prev::before, .post-featured-content .swiper-container .swiper-button-next::before,
.post-featured-content .swiper-container .swiper-button-prev::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.mdi {
  line-height: 1; }

.btn.btn-lg,
.elementor-widget .elementor-button.elementor-size-lg,
.jet-subscribe-form .jet-subscribe-form__submit.elementor-button.elementor-size-md {
  padding: 12px 28px; }

.btn,
.post-password-form input[type="submit"],
.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-subscribe .cherry-popup-subscribe__submit,
.popup-type-default .cherry-popup-subscribe__submit,
.wpcf7 input[type="submit"],
.wpcf7 input[type="reset"],
.wpcf7 button,
.elementor-widget .elementor-button {
  border-radius: 0;
  padding: 10.5px 26px; }

/*-------------------------------------------------------------
### Jet Menu
--------------------------------------------------------------*/
.jet-menu > .jet-menu-item > a {
  margin-right: 6px;
  padding: 6px; }

.jet-menu .jet-sub-menu {
  border: 1px solid;
  border-top: 3px solid; }

/*-------------------------------------------------------------
### Jet Blocks
--------------------------------------------------------------*/
.jet-search-popup-active .jet-search__popup-trigger {
  opacity: 0; }

.jet-subscribe-form .jet-subscribe-form__input {
  padding: 6px 13px 8px 13px;
  border-radius: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.jet-subscribe-form--inline-layout .jet-subscribe-form__submit {
  margin: 0; }

/*-------------------------------------------------------------
### Jet Elements
--------------------------------------------------------------*/
.jet-slider__desc a {
  text-decoration: underline;
  text-transform: uppercase; }

.jet-headline {
  padding-left: 21px;
  position: relative; }
  .jet-headline::before {
    content: '';
    height: 64px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 2px; }

.post-thumbnail__img,
.elementor .post-thumbnail__img {
  border-radius: 0; }

.jet-posts__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .jet-posts__inner-content .entry-title {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .jet-posts__inner-content .entry-excerpt {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .jet-posts__inner-content .post-meta {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }

/*-------------------------------------------------------------
### Jet Blog
--------------------------------------------------------------*/
.jet-blog .jet-smart-tiles__box {
  border-radius: 0; }

.jet-blog .jet-smart-tiles__box-content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .jet-blog .jet-smart-tiles__box-content-inner .jet-smart-tiles__box-title {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    text-transform: uppercase; }
  .jet-blog .jet-smart-tiles__box-content-inner .jet-smart-tiles__meta {
    text-transform: uppercase; }

.jet-blog .jet-smart-listing__post-thumbnail a {
  border-radius: 0; }

.jet-blog .jet-smart-listing__posts .jet-smart-listing__post:last-child {
  border-bottom: none; }
  .sidebar .jet-blog .jet-smart-listing__posts .jet-smart-listing__post:last-child {
    border-bottom: none; }

.listing_count .jet-blog .jet-smart-listing__posts {
  counter-reset: post-list-counter; }
  .listing_count .jet-blog .jet-smart-listing__posts .jet-smart-listing__post {
    position: relative;
    counter-increment: post-list-counter; }
    .listing_count .jet-blog .jet-smart-listing__posts .jet-smart-listing__post::before {
      border-radius: 40px;
      content: counter(post-list-counter);
      height: 40px;
      line-height: 59px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 24px;
      width: 40px; }

.listing_video .jet-blog .jet-smart-listing__post-title {
  padding-left: 51px;
  position: relative; }
  .listing_video .jet-blog .jet-smart-listing__post-title::before {
    content: '\f04b';
    height: 40px;
    left: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 7px;
    width: 40px; }

.jet-blog .jet-tumbs-horizontal .jet-blog-playlist__item-index-num {
  left: -6px;
  position: absolute;
  top: -6px; }

.jet-blog .jet-tumbs-horizontal .jet-blog-playlist__item-thumb img {
  height: 110px; }

.jet-blog .has-post-thumb .jet-smart-listing__terms-link {
  bottom: 0;
  top: auto; }

/*-------------------------------------------------------------
### Blog
--------------------------------------------------------------*/
.posts-list--grid-2.card-deck {
  margin: 0; }
  .posts-list--grid-2.card-deck .posts-list__item {
    margin-bottom: 30px;
    width: 100%; }
    .posts-list--grid-2.card-deck .posts-list__item:not(.format-standard):not(.format-gallery):before {
      content: ''; }
    .posts-list--grid-2.card-deck .posts-list__item:not(.format-standard):not(.format-gallery) .entry-title {
      padding-left: 81px;
      position: relative; }
      .posts-list--grid-2.card-deck .posts-list__item:not(.format-standard):not(.format-gallery) .entry-title::before {
        content: '';
        height: 60px;
        left: -1px;
        line-height: 60px;
        position: absolute;
        text-align: center;
        bottom: 12px;
        width: 60px; }
    .posts-list--grid-2.card-deck .posts-list__item:not(.format-standard):not(.format-gallery).format-video .entry-title::before {
      content: '\f04b'; }
    .posts-list--grid-2.card-deck .posts-list__item:not(.format-standard):not(.format-gallery).format-image .entry-title::before {
      content: '\f03e'; }
    .posts-list--grid-2.card-deck .posts-list__item:not(.format-standard):not(.format-gallery).format-quote .entry-title::before {
      content: '\f10d'; }
    .posts-list--grid-2.card-deck .posts-list__item:not(.format-standard):not(.format-gallery).format-audio .entry-title::before {
      content: '\f027'; }
    .posts-list--grid-2.card-deck .posts-list__item:not(.format-standard):not(.format-gallery).format-link .entry-title::before {
      content: '\f0c1'; }
    .posts-list--grid-2.card-deck .posts-list__item .post-featured-content {
      margin-bottom: 50px; }
    .posts-list--grid-2.card-deck .posts-list__item-content {
      min-height: 377px;
      padding: 20px 32px; }
  .posts-list--grid-2.card-deck .has-thumb .posts-list__item-content,
  .posts-list--grid-2.card-deck .format-gallery .posts-list__item-content {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), color-stop(99.21%, rgba(24, 37, 80, 0)));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, rgba(24, 37, 80, 0) 99.21%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0%, rgba(24, 37, 80, 0) 99.21%);
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.7) 0%, rgba(24, 37, 80, 0) 99.21%); }

.posts-list .posts-list__item {
  margin-bottom: 30px; }
  .posts-list .posts-list__item-media {
    border-radius: 0; }
  .posts-list .posts-list__item-content {
    border-radius: 0; }
    .posts-list .posts-list__item-content .entry-meta > * {
      padding-left: 0;
      padding-right: 23.5px; }
    .posts-list .posts-list__item-content .entry-meta-top {
      margin: 13px 0 0 0; }
      .posts-list .posts-list__item-content .entry-meta-top .post__cats {
        padding: 0 23.5px 0 0;
        margin: 0; }
        .posts-list .posts-list__item-content .entry-meta-top .post__cats a {
          margin: 0;
          padding: 0; }
    .posts-list .posts-list__item-content .entry-meta-main {
      margin: 8px 0 7px 0; }

.posts-list + .posts-load-more-nav {
  border: none;
  margin: 0;
  padding: 0; }
  .posts-list + .posts-load-more-nav .posts-load-more-btn {
    width: 100%;
    padding: 11px 0 10px; }

.blog .posts-list .posts-list__item-content .entry-meta-top,
.archive .posts-list .posts-list__item-content .entry-meta-top {
  margin-top: 15px; }

.blog .posts-list .posts-list__item-content .entry-meta-main,
.archive .posts-list .posts-list__item-content .entry-meta-main {
  margin: 8px 0 18px 0; }

.blog .posts-list .posts-list__item-content .entry-meta-bottom,
.archive .posts-list .posts-list__item-content .entry-meta-bottom {
  padding: 0 15px; }

@media (min-width: 576px) {
  .blog .posts-list .posts-list__item-content-inline,
  .archive .posts-list .posts-list__item-content-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.blog .posts-list .posts-list__item-content-inline .entry-content,
.archive .posts-list .posts-list__item-content-inline .entry-content {
  padding-right: 15px; }

.blog .posts-list .posts-list__item-media .post-thumbnail,
.archive .posts-list .posts-list__item-media .post-thumbnail {
  margin-bottom: 6px; }
  .blog .posts-list .posts-list__item-media .post-thumbnail__img,
  .archive .posts-list .posts-list__item-media .post-thumbnail__img {
    border-radius: 0; }

.blog .posts-list .posts-list__item-media .post-featured-content,
.archive .posts-list .posts-list__item-media .post-featured-content {
  margin-bottom: 7px; }

.blog .posts-list.posts-list--grid .posts-list__item-content-inline, .blog .posts-list.posts-list--masonry .posts-list__item-content-inline, .blog .posts-listposts-list--vertical-justify .posts-list__item-content-inline,
.archive .posts-list.posts-list--grid .posts-list__item-content-inline,
.archive .posts-list.posts-list--masonry .posts-list__item-content-inline,
.archive .posts-listposts-list--vertical-justify .posts-list__item-content-inline {
  display: block; }

.blog .posts-list.posts-list--timeline .posts-list__item-inner, .blog .posts-list.posts-list--default-small-img .posts-list__item-inner,
.archive .posts-list.posts-list--timeline .posts-list__item-inner,
.archive .posts-list.posts-list--default-small-img .posts-list__item-inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (min-width: 576px) {
    .blog .posts-list.posts-list--timeline .posts-list__item-inner-bottom, .blog .posts-list.posts-list--default-small-img .posts-list__item-inner-bottom,
    .archive .posts-list.posts-list--timeline .posts-list__item-inner-bottom,
    .archive .posts-list.posts-list--default-small-img .posts-list__item-inner-bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.blog .posts-list.posts-list--timeline .posts-list__item-content-inline, .blog .posts-list.posts-list--default-small-img .posts-list__item-content-inline,
.archive .posts-list.posts-list--timeline .posts-list__item-content-inline,
.archive .posts-list.posts-list--default-small-img .posts-list__item-content-inline {
  display: block;
  padding-left: 15px; }

.blog .posts-list.posts-list--default .posts-list__item,
.archive .posts-list.posts-list--default .posts-list__item {
  border-bottom: 1px solid;
  margin: 0 0 22px 0;
  padding: 0 0 29px 0; }
  .blog .posts-list.posts-list--default .posts-list__item:not(:first-child),
  .archive .posts-list.posts-list--default .posts-list__item:not(:first-child) {
    border: none;
    border-bottom: 1px solid;
    margin: 0 0 22px 0;
    padding: 0 0 29px 0; }
  .blog .posts-list.posts-list--default .posts-list__item:last-child,
  .archive .posts-list.posts-list--default .posts-list__item:last-child {
    margin-bottom: 29px; }

.posts-list .entry-meta-top > *:not(:last-child),
.post .entry-meta-top > *:not(:last-child) {
  position: relative; }
  .posts-list .entry-meta-top > *:not(:last-child)::before,
  .post .entry-meta-top > *:not(:last-child)::before {
    content: '';
    height: 11px;
    position: absolute;
    right: 8px;
    top: 0;
    width: 1px; }

.posts-list .entry-meta-main > *:not(:last-child),
.post .entry-meta-main > *:not(:last-child) {
  position: relative; }
  .posts-list .entry-meta-main > *:not(:last-child)::before,
  .post .entry-meta-main > *:not(:last-child)::before {
    border-radius: 50%;
    content: '';
    height: 3px;
    position: absolute;
    right: 10px;
    top: 4px;
    width: 3px; }

.posts-list .post-gallery .swiper-button-next,
.posts-list .post-gallery .swiper-button-prev,
.post .post-gallery .swiper-button-next,
.post .post-gallery .swiper-button-prev {
  border-radius: 0; }

.posts-list .post-gallery .swiper-container .swiper-button-next,
.posts-list .post-gallery .swiper-container .swiper-button-prev,
.post .post-gallery .swiper-container .swiper-button-next,
.post .post-gallery .swiper-container .swiper-button-prev {
  border-radius: 0; }

.post-featured-content .swiper-button-next,
.post-featured-content .swiper-button-prev {
  border-radius: 0;
  height: 20px;
  width: 20px; }
  .post-featured-content .swiper-button-next::before,
  .post-featured-content .swiper-button-prev::before {
    font-size: 8px;
    margin-top: 6px; }

.post-featured-content .swiper-button-next::before {
  content: '\f054'; }

.post-featured-content .swiper-button-prev {
  right: 46px; }
  .post-featured-content .swiper-button-prev::before {
    content: '\f053'; }

.post-featured-content .swiper-container .swiper-button-next,
.post-featured-content .swiper-container .swiper-button-prev {
  border-radius: 0;
  height: 20px;
  width: 20px; }
  .post-featured-content .swiper-container .swiper-button-next::before,
  .post-featured-content .swiper-container .swiper-button-prev::before {
    font-size: 8px;
    margin-top: 6px; }

.post-featured-content .swiper-container .swiper-button-next::before {
  content: '\f054'; }

.post-featured-content .swiper-container .swiper-button-prev {
  right: 46px; }
  .post-featured-content .swiper-container .swiper-button-prev::before {
    content: '\f053'; }

.nav-links .page-numbers {
  border-radius: 0; }

.site-content .page-links a,
.site-content .page-links > .page-links__item {
  border-radius: 0; }

/*-------------------------------------------------------------
### Widget
--------------------------------------------------------------*/
.widget-title {
  border: none;
  line-height: 0.9;
  margin-bottom: 17px;
  padding-left: 21px;
  position: relative; }
  .widget-title::before {
    content: '';
    height: 64px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 2px; }

#better-recent-comments .recentcomments {
  padding-bottom: 25px;
  border-bottom: 1px solid;
  margin-bottom: 29px; }
  #better-recent-comments .recentcomments:last-child {
    border: none; }

#better-recent-comments .comment-wrap {
  padding-left: 0 !important; }
  #better-recent-comments .comment-wrap .avatar {
    height: 40px;
    width: 40px; }
  #better-recent-comments .comment-wrap .comment-author-link {
    margin-left: 54px; }
  #better-recent-comments .comment-wrap .comment-date {
    left: 54px;
    position: absolute;
    top: 17px; }
  #better-recent-comments .comment-wrap .comment-excerpt {
    margin-top: 27px; }

/*-------------------------------------------------------------
### Single Post
--------------------------------------------------------------*/
.single .post .entry-meta > * {
  padding-left: 0;
  padding-right: 23.5px; }

.single .post .entry-meta-top {
  margin: 13px 0 0 0; }
  .single .post .entry-meta-top .post__cats {
    padding: 0 23.5px 0 0;
    margin: 0; }
    .single .post .entry-meta-top .post__cats a {
      margin: 0;
      padding: 0; }

.single .post .entry-meta-main {
  margin: 5px 0 36px 0; }

.single .post .entry-header .entry-title {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.36;
  text-transform: none; }

.single .post.hentry .post-thumbnail {
  margin-bottom: 17px; }

.single .post blockquote {
  margin-left: 21px;
  line-height: 1.6; }
  .single .post blockquote.post-format-quote {
    margin: 0 15px;
    min-width: 700px; }
  .single .post blockquote:before {
    content: none; }
  .single .post blockquote cite {
    margin-top: 19px; }

.single .site-content__wrap {
  margin-bottom: 80px; }

.single.post-template-single-layout-10 .entry-meta-main .post__date,
.single.post-template-single-layout-10 .entry-meta-main .cherry-trend-views {
  line-height: 1; }

.single.post-template-single-layout-10 .entry-meta-main .posted-by {
  text-align: center; }

.post-template-default .site-content__wrap,
.archive .site-content__wrap {
  margin-top: 72px; }

.post-template-single-layout-9 .single-featured-header.author-meta-visible {
  margin-top: 0;
  padding-top: 0; }
  .post-template-single-layout-9 .single-featured-header.author-meta-visible .single-featured-header__inner-wrap {
    padding-top: 60px; }

#toTop {
  border-radius: 0; }
