/* #Jet Menu */
.jet-menu > li.jet-current-menu-item > a,
.jet-menu > li > a,
.jet-menu > li:hover > a,
.jet-menu > li.jet-menu-hover > a {
	background-color: transparent;
}
.jet-mobile-menu-active .jet-menu-container.jet-mobile-menu {
	background-color: $light_color;
}
.jet-menu > li > a,
.jet-menu-item .jet-sub-menu > li > a {
	font-family: @font_family( $h5_font_family );
	line-height: $h5_line_height;
	letter-spacing: $h4_letter_spacing{em};
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	text-transform: $h5_text_transform;
}
.jet-menu > li > a {
	color: $dark_color;
}
.jet-menu-item .jet-sub-menu > li > a {
	line-height: $h1_line_height;
	font-weight: $body_font_weight;
}
.jet-menu > li.jet-current-menu-item > a,
.jet-menu > li:hover > a {
	color: $regular_accent_color_1;
}

/* #Jet Blocks */
.jet-auth-links__item {
	font-weight: $body_font_weight;
	font-size: $breadcrumbs_font_size{px};
	line-height: $breadcrumbs_line_height;
	letter-spacing: $h4_letter_spacing{em};
	color: $light_color;
}
.jet-auth-links__item:hover {
	color: $regular_accent_color_2;
}
.jet-auth-links__item .jet-auth-links__item-icon,
.jet-search__submit-icon,
.jet-search__popup-trigger-icon,
.jet-search__popup-close-icon,
.jet-button__state-hover .jet-button__icon,
.jet-button__state-normal .jet-button__icon {
	font-size: $breadcrumbs_font_size{px};
}
.jet-subscribe-form .jet-subscribe-form__input::-webkit-input-placeholder,
.jet-subscribe-form .jet-subscribe-form__input::-moz-placeholder,
.jet-subscribe-form .jet-subscribe-form__input:-ms-input-placeholder,
.jet-subscribe-form .jet-subscribe-form__input:-moz-placeholder {
	color: $grey_color_1;
}

/* #Jet Elements */
.jet-button__state-normal .jet-button__label,
.jet-button__state-hover .jet-button__label {
	letter-spacing: $h4_letter_spacing{em};
	font-weight: $custom_font_weight;
	font-size: @font_size($breadcrumbs_font_size, multiple, round, 1.1)px;
	text-transform: $h5_text_transform;
}
.jet-button__plane-normal {
	background-color: $regular_accent_color_1;
}
.jet-button__plane-hover {
	background-color: $dark_color;
}

/* #Jet Blog */
.jet-smart-listing__meta .post__date,
.jet-smart-listing__meta .posted-by,
.jet-smart-listing__meta .post__comments {
	font-weight: $breadcrumbs_font_weight;
}
.jet-smart-listing__featured .post-title-featured {
	line-height: $h1_line_height;
	letter-spacing: $h1_letter_spacing{em};
	text-transform: $h1_text_transform;
	font-size: $h1_font_size{px};
	font-weight: $h1_font_weight;
}
.jet-smart-listing__featured.featured-layout-boxed .post-title-featured {
	line-height: $h3_line_height;
	letter-spacing: $h3_letter_spacing{em};
	text-transform: $h3_text_transform;
	font-size: $h3_font_size{px};
	font-weight: $h3_font_weight;
}
.jet-smart-listing__featured.featured-layout-boxed .jet-smart-listing__meta {
	color: $light_color;
}
.jet-smart-listing__post-excerpt {
	line-height: $body_line_height;
	letter-spacing: $body_letter_spacing{em};
	text-transform: $body_text_transform;
	font-size: $body_font_size{px};
	font-weight: $body_font_weight;
}
.jet-smart-listing__featured .jet-smart-listing__meta {
	color: $regular_h1_color;
}
.jet-smart-listing__terms-link {
	font-size: $breadcrumbs_font_size{px};
	font-weight: $h1_font_weight;
}
.jet-blog .jet-blog-playlist__item-index {
	font-size: $breadcrumbs_font_size{px};
}
.jet-blog-playlist__item:hover {
	background-color: @alpha($regular_accent_color_1, 30%);
}

/* #Elementor */
.elementor-widget .elementor-button {
	letter-spacing: $h4_letter_spacing{em};
	font-weight: $body_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	text-transform: $h5_text_transform;
	font-family: @font_family( $body_font_family );
}
.btn.btn-lg,
.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-subscribe .cherry-popup-subscribe__submit,
.popup-type-default .cherry-popup-subscribe__submit,
.elementor-widget .elementor-button.elementor-size-lg,
.jet-subscribe-form .jet-subscribe-form__submit.elementor-button.elementor-size-md {
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	letter-spacing: $h4_letter_spacing{em};
	font-weight: $h4_font_weight;
	font-family: @font_family( $custom_font_family );
}

/* #Widgets */
.widget-title {
	line-height: $h2_line_height;
	letter-spacing: $h2_letter_spacing{em};
	font-weight: $h2_font_weight;
	font-size: $h2_font_size{px};
	text-transform: $h2_text_transform;
}
.cherry-trend-post .post__date a,
.cherry-trend-post .post__comments a,
.cherry-trend-post .posted-by a {
	color: @darken($grey_color_1, 20%);
}
.cherry-trend-post .post__date a:hover,
.cherry-trend-post .post__comments a:hover,
.cherry-trend-post .posted-by a:hover {
	color: $regular_accent_color_2;
}
.tagcloud a {
	font-size: $breadcrumbs_font_size{px} !important;
	font-weight: $h1_font_weight;
}

/* #Single Post */
.post-gallery .swiper-button-next,
.post-gallery .swiper-button-prev {
	color: $regular_accent_color_1;
}
.post-template-single-layout-9 .post__cats a,
.post-template-single-layout-2 .post__cats a {
	background-color: $light_color;
	color: $regular_accent_color_1;
}
.post-template-single-layout-9 .post__cats a:hover,
.post-template-single-layout-2 .post__cats a:hover {
	background-color: @darken($regular_accent_color_1, 30%);
	color: $light_color;
}

/* #Blog */
.posts-list--default-small-img .entry-title,
.posts-list--grid .entry-title,
.posts-list--grid-2 .entry-title,
.posts-list--masonry .entry-title,
.posts-list--timeline .entry-title,
.posts-list--vertical-justify .entry-title {
	line-height: $h4_line_height;
	letter-spacing: $h4_letter_spacing{em};
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	text-transform: $h4_text_transform;
}