.jet-smart-tiles__terms-link,
.jet-smart-listing__terms-link{
	background-color: $dark_color;
}

h4:after{
	background-color: $regular_accent_color_1;
}

.cherry-trend-post__thumbnail:before{
	background-color: $dark_color;
}

.cherry-trend-post__thumbnail:hover:before{
	background-color: $regular_accent_color_1;
}

.main-navigation .menu > li.current_page_item > a,
.main-navigation .menu > li.current_page_ancestor > a,
.main-navigation .menu > li.current-menu-item > a,
.main-navigation .menu > li.current-menu-ancestor > a, .jet-menu >li.jet-current-menu-item >a,
.main-navigation .menu > li:hover > a,
.jet-menu >li:hover >a,
.jet-menu >li.jet-menu-hover >a{
	background-color: transparent;
	color: $regular_accent_color_1;
}

.main-navigation .menu > li > a,
.jet-menu >li >a{
	background-color: transparent;
	color: $regular_h6_color;
}

.jet-tabs .jet-tabs__label-text{
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	text-align: $body_text_align;
	text-transform: $body_text_transform;
}

.jet-tabs__control.active-tab,
.jet-tabs__control:hover{
	background-color: transparent;
}

.jet-tabs__control.active-tab .jet-tabs__label-text,
.jet-tabs__control:hover .jet-tabs__label-text,
.jet-tabs__control.active-tab .jet-tabs__label-icon,
.jet-tabs__control:hover .jet-tabs__label-icon{
	color: $regular_accent_color_1;
}

.jet-custom-nav>.jet-custom-nav__item>a,
.jet-custom-nav__sub .jet-custom-nav__item a,
.jet-custom-nav__sub .jet-custom-nav__item a .jet-menu-link-text{
	font-style: $body_font_style;
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	text-align: $body_text_align;
	background-color: transparent;
}

.jet-custom-nav .jet-menu-link-text,
.jet-custom-nav__sub .jet-custom-nav__item a,
.jet-custom-nav__sub .jet-custom-nav__item a .jet-menu-link-text,
.main-navigation .sub-menu a, .jet-sub-menu >li >a{
	color: $regular_text_color;
}

.jet-custom-nav>.jet-custom-nav__item>a:hover .jet-menu-link-text,
.jet-custom-nav>.jet-custom-nav__item.hover-state > a .jet-menu-link-text,
.jet-custom-nav__sub .jet-custom-nav__item a:hover,
.jet-custom-nav__sub .jet-custom-nav__item.hover-state>a .jet-menu-link-text{
	color: $regular_accent_color_1;
	background-color: transparent;
}

.jet-custom-nav .menu-item a:before{
	color: $grey_color_1;
}

.main-navigation .menu,
.main-navigation .menu .sub-menu,
.jet-sub-menu,
.jet-mobile-menu-active .jet-menu-container.jet-mobile-menu,
.main-navigation .menu > li > a, .jet-menu > li > a{
	background-color: $light_color;
}


.main-navigation .sub-menu a:hover,
.main-navigation .sub-menu li.current_page_item > a,
.main-navigation .sub-menu li.current_page_ancestor > a,
.main-navigation .sub-menu li.current-menu-item > a,
.main-navigation .sub-menu li.current-menu-ancestor > a,
.jet-sub-menu >li.jet-menu-hover >a,
.jet-sub-menu >li.jet-current-menu-item >a{
	color:$regular_accent_color_1;
}

.gallery .landscape a:before{
	background-color: @alpha($regular_accent_color_1, 70);
}

.gallery .landscape a:after{
	color: $light_color;
}