/*!
Skin Name: Publicon
*/

@import "../../../../assets/sass/variables-site/variables-site";
@import "../../../../assets/sass/mixins/mixins-master";
@import "../../../../assets/sass/grid/grid";
@import "../../../../assets/sass/typography/icons";
@import "buttons.scss";

/* #Jet-Menu */
.jet-menu {
	> .jet-menu-item {
		> a {
			margin: 0 15px;
			padding: 0 20px;
		}
	}
}

/* #Jet Elements */
.jet-elements {
	.jet-button__instance {
		@include border-radius(0);
		.jet-button__state {
			padding: 4px 29px 5px 16px;
		}
	}
}
.mirror-effect {
	.elementor-image {
		box-shadow: none;
	}
}

/* Jet Blog */
.post__cats i,
.post__date i,
.post__comments i,
.post__tags i,
.posted-by i {
	margin-right: 4px;
}
.jet-blog {
	.jet-smart-listing__featured {
		.jet-smart-listing__terms-link {
			margin: 30px 0 0 35px;
			padding: 3px 14px 2px;
		}
		&.featured-layout-boxed {
			.jet-smart-listing__terms-link {
				margin: 20px 0 0 20px;
				padding: 2px 10px 1px;
			}
			.jet-smart-listing__meta {
				> *:not(:last-child) {
					position: relative;
					&::before {
						background-color: #fff;
						content: '';
						height: 2px;
						position: absolute;
						right: 12px;
						top: 7px;
						width: 2px;
					} 
				}
			}
		}
	}
	.jet-smart-listing__post {
		.jet-smart-listing__terms-link {
			padding: 2px 8px 1px;
		}
		&.has-post-thumb {
			.jet-smart-listing__terms-link {
				padding: 3px 9px 2px;
			}
		}
	}
	.jet-blog-playlist {
		&__item-thumb {
			flex: 0 0 35%;
			img {
				height: 60px;
				width: 108px;
			}
		}
		&__item {
			position: relative;
			&-index {
				left: 28px;
				position: absolute;
				top: 26px;
			}
		}
	}
}

/* #jet Blocks */
.jet-subscribe-form {
	.jet-subscribe-form__input {
		padding: 13.5px 13px 10.1px;
	}
}

/* #Widgets */
.widget-title {
	border: none;
	margin-bottom: 2px;
}
.cherry-trend-post {
	&__header {
		margin-bottom: 12px;
	}
	&__thumbnail {
		&:before {
			height: 21px;
			left: auto;
			min-width: 21px;
			right: 0;
		}
	}
	&:not(:last-child) {
		margin-bottom: 19px;
	}
}
