/*
 * Dynamic styles for Woo-elements
 */

/*
 * Woo-elements
 * Compare and wishlist buttons
 */
.woocommerce .wishlist_compare_button_block button.button.btn,
.woocommerce .wishlist_compare_button_block .tm-quick-view {
	color: $grey_color_1;
}

.woocommerce .wishlist_compare_button_block button.button.btn:hover,
.woocommerce .wishlist_compare_button_block .tm-quick-view:hover {
	color: $light_color;
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

.woocommerce .product .wishlist_compare_button_block button.button.btn.tm-woocompare-button .text,
.woocommerce .product .wishlist_compare_button_block button.button.btn.tm-woowishlist-button .text {
	color: $light_color;
	background: $dark_color;
}

/*
 * Woo-elements
 * Grid-list toggle buttons
 */
.tm-wc-ajax-products-wrapper .tm-woo-grid-list-toggle-button-wrapper .tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler.disabled,
.tm-wc-ajax-products-wrapper .tm-woo-grid-list-toggle-button-wrapper .tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler:hover {
	color: $regular_accent_color_1;
}

.tm-wc-ajax-products-wrapper .woocommerce-result-count,
.tm-wc-ajax-products-wrapper .woocommerce-ordering,
.tm-woo-grid-list-toggle-button-wrapper{
	background: @darken($light_color, 4.7);
}

.tm-wc-ajax-products-wrapper .woocommerce-ordering select{
	background: $light_color;
}

/*
 * Woo-elements
 * Woo-Badge styles
 */
.woocommerce span.featured,
.woocommerce span.onsale,
.woocommerce span.new {
	font-style: $custom_font_style;
	font-weight: $custom_font_weight;
	font-family: @font_family( $custom_font_family );
	letter-spacing: $custom_letter_spacing{em};
}

.woocommerce span.onsale{
	background-color: $onsale_badge_bg;
	color: @contrast( $onsale_badge_bg, $light_color, $dark_color );
}

.woocommerce span.featured {
	background-color: $featured_badge_bg;
	color: @contrast( $featured_badge_bg, $light_color, $dark_color );
}

.woocommerce span.new {
	background-color: $new_badge_bg;
	color: @contrast( $new_badge_bg, $light_color, $dark_color );
}

/*
 * Woo-elements
 * Woo Price Style
 */
.woocommerce .price,
.woocommerce ul.products li.product .price,
.woocommerce div.product .woocommerce-variation-price span.price,
.woocommerce div.product span.price,
.woocommerce div.product p.price,
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins,
.woocommerce.widget .woocs_price_code {
	color: $regular_accent_color_1;
}

.woocommerce ul.products li.product .price del,
.woocommerce div.product p.price del,
.woocommerce div.product span.price del,
.widget .woocs_price_code del,
.woocommerce .price del,
.woocommerce ul.products li.product .price del,
.woocommerce div.product .woocommerce-variation-price span.price del,
.woocommerce div.product span.price del,
.woocommerce div.product p.price del,
.woocommerce.widget .woocs_price_code del{
	color: $regular_text_color;
}

/*
 * Woo-elements
 * Styles for tags and categories list -- loop product
 */
.product-categories li,
.product-categories li a,
.product-widget-tags li,
.product-widget-tags li a {
	color: $regular_text_color;
}

.product-categories li a:hover,
.product-widget-tags li a:hover {
	color: $regular_link_color;
}

/*
 * Woo-elements
 * Loop styles
 */
.products .product::before{
	background: $light_color;
}

/*
 * Woo-elements
 * Buttons woo styles
 */
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce input.button,
.woocommerce-account.logged-in .entry-content .woocommerce .woocommerce-MyAccount-navigation li a{
	font-style: $custom_font_style;
	font-weight: $custom_font_weight;
	font-family: @font_family( $custom_font_family );
	letter-spacing: $custom_letter_spacing{em};

	color: $light_color;
	background-color: $regular_accent_color_1;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button:hover,
.woocommerce-account.logged-in .entry-content .woocommerce .woocommerce-MyAccount-navigation li a:hover{
	color: $light_color;
	background-color: @darken($regular_accent_color_1, 10);
}

/*disable button syles*/
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce-cart table.cart input.header-btn:disabled {
	background-color: @darken( $regular_accent_color_1, 10% );
	color: $light_color;
}

/*
 * Woo-elements
 * Single page styles
 */
.woocommerce div.entry-summary .wishlist_compare_button_block .tm-woocompare-page-button, 
.woocommerce div.entry-summary .wishlist_compare_button_block .tm-woowishlist-page-button{
	background-color: $light_color;
	color: $dark_color;
}

.woocommerce div.entry-summary .wishlist_compare_button_block .tm-woocompare-page-button:hover,
.woocommerce div.entry-summary .wishlist_compare_button_block .tm-woowishlist-page-button:hover{
	background-color: $light_color;
	color: $regular_accent_color_1;
}

.woocommerce-message {
	border-top-color: $regular_accent_color_1;
}

.woocommerce-message::before{
	color:  $regular_accent_color_1;
}

#page .woocommerce-message .button:hover{
	color:  $regular_accent_color_1;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a{
	color: $dark_color;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a{
	color:  $regular_accent_color_1;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	border-color: $light_color;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong{
	color: $dark_color;
}

/*
 * Woo-elements
 * Wishlist, Сompare, Cart, Checkout
 */
.tm-woowishlist .tm-woowishlist-item .tm-woocomerce-list__product-title a,
.woocommerce table.shop_table tbody tr td.product-name a,
.woocommerce-checkout .woocommerce-info {
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
	text-align: $h3_text_align;
	text-transform: $h3_text_transform;
	color: $regular_h3_color;
}

.woocommerce-checkout .woocommerce-info{
	font-size: $h3_font_size{px};
}

.tm-woowishlist .tm-woowishlist-item .tm-woocomerce-list__product-title a:hover,
.woocommerce table.shop_table tbody tr td.product-name a:hover,
.tm-woocompare-list table.tm-woocompare-table .tm-woocompare-row .tm-woocomerce-list__product-title a:hover{
	color: $regular_accent_color_1;
}

.tm-woocompare-list table.tm-woocompare-table .tm-woocompare-row .tm-woocomerce-list__product-title a{
	color: $regular_h3_color;
}

.woocommerce a.remove:hover{
	color:  $regular_accent_color_1 !important;
}

.woocommerce .cart-collaterals div.cart_totals .checkout-button{
	background-color: $regular_accent_color_2;
	font-style: $custom_font_style;
	font-weight: $custom_font_weight;
	font-family: @font_family( $custom_font_family );
	letter-spacing: $custom_letter_spacing{em};
}

.woocommerce .cart-collaterals div.cart_totals .checkout-button:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
	background-color: $regular_accent_color_1;
}

.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled]{
	color: $light_color;
}
/*
 * Woo-elements
 * Widgets
 */
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
	background-color:$regular_accent_color_1;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
	background-color:  $dark_color;
}

.woocommerce-account #page .woocommerce-message .button{
	color:  $regular_accent_color_1;
}

.woocommerce-account #page .woocommerce-message .button:hover{
	color:  $dark_color;
}

.woocommerce div.entry-summary form.cart table.woocommerce-grouped-product-list tr td.woocommerce-grouped-product-list-item__price{
	color: $regular_accent_color_1;
}

.woocommerce div.entry-summary form.cart table.woocommerce-grouped-product-list tr td.woocommerce-grouped-product-list-item__price del{
	color:$dark_color;
}

.woocommerce ul.products li.product .tm-products-sale-end-date span,
.woocommerce-page ul.products li.product .tm-products-sale-end-date span,
.single-product ul.swiper-wrapper li.product .tm-products-sale-end-date span{
	background-color: $light_color;
}

.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__label a{
	color: $dark_color;
}

.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__label a:hover{
	color: $regular_accent_color_1;
}

.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-wrapper .tm-wc-ajax-filters-reset.button:hover{
	color: $light_color;
}

.woocommerce .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn:hover:after {
	color: $light_color;
	background-color:$regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

#page .woocommerce-Message.woocommerce-Message--info.woocommerce-info{
	border-color: $regular_accent_color_1;
}

.woocommerce-info::before,
#page .woocommerce-Message.woocommerce-Message--info.woocommerce-info a{
	color:  $regular_accent_color_1;
}

#page .woocommerce-Message.woocommerce-Message--info.woocommerce-info a:hover {
	color: $dark_color;
}

.tm-woocomerce-wishlist-widget-wrapper .tm-woowishlist-widget-product h3 .tm-woocomerce-list__product-title,
.tm-woocompare-widget-wrapper h3 .tm-woocomerce-list__product-title{
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	text-align: $h5_text_align;
	text-transform: $h5_text_transform;
	color: $regular_h5_color;
}

.widget_shopping_cart .cart_list .mini_cart_item a {
	color: $regular_h6_color;
}

.widget_shopping_cart .cart_list .mini_cart_item a:hover {
	color: $regular_link_color;
}

.widget_shopping_cart .quantity,
.widget_shopping_cart .amount {
	color: $regular_accent_color_1;
}

.woocommerce .loader:before,
.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-loader span {
	border-top-color: $regular_accent_color_1;
	border-right-color: $regular_accent_color_1;
}
