@keyframes storycle_spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@mixin spin {
	animation: storycle_spin 1s linear infinite;
}

@keyframes storycle_doubleBounce {
	0%, 100% {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}
}

@mixin doubleBounce{
	animation: storycle_doubleBounce 2s ease-in-out infinite;
}

@keyframes storycle_scale {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes storycle_appear {
	0% {
		transform: translateY( 20px );
		opacity: 0;
	}
	100% {
		transform: translateY( 0 );
		opacity: 1;
	}
}