.single-post {
	.hentry {
		.post-thumbnail {
			text-align: left;
		}
	}
}

blockquote {
	letter-spacing: 0.8px;
	line-height: 1.33;
	padding-left: 27px;
	font-size: 20px;
	@include media-breakpoint-up(md) {
		margin-left: 0;
	}
	&:before {
		top: 0;
		left: 7px;
		margin-bottom: 6px;
		display: block;
		@include font-awesome-icon;
		content: '\f10e';
		font-size: 24px;
	}
	cite {
		margin-top: 14px;
		line-height: 1;
	}
}

.entry-meta-main {
	> * {
	position: relative;
	&:after {
			content: '';
			height: 100%;
			max-height: 10px;
			width: 1px;
			position: absolute;
			left: auto;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		.post-template-single-layout-10 & {
			content: none;
			}
		}
	}
	&:last-child {
		&:after {
			content: none;
		}
	}
}


.posts-list--default-small-img {
	.has-featured{
		.posts-list__item-media {
			@include media-breakpoint-up(md) {
				width: 380px;
				margin-right: 22px;
			}
		}
	}
}

.entry-meta-top {
	margin-bottom: 0;
}

.posts-list .entry-summary > *:first-child,
.posts-list .entry-content > *:first-child {
	margin-top: 18px;
}

.entry-footer-container {
	margin-top: 15px;
}

.posts-list--default-small-img .posts-list__item {
	@include media-breakpoint-up(md) {
		margin-bottom: 0;
		padding: 20px 0;
		border-bottom-width: 1px;
		border-bottom-style: dotted;
		&:last-child {
			border: none;
			padding-bottom: 40px;
		}
		&:first-child {
			padding-top: 0;
		}
	}
	@include media-breakpoint-down(md) {
		margin-bottom: 0;
		padding: 15px 0;
	}
}

.entry-meta > * {
	padding-left: 7.5px;
	padding-right: 7.5px;
}

.entry-meta {
	margin-left: -7.5px;
	margin-right: -7.5px;
}

.post__comments {
	@include font-awesome-icon;
	i {
		font-style: normal;
	}
}

.post__cats i,
.post__date i,
.post__comments i,
.post__tags i,
.posted-by i,
.single-post .hentry .entry-meta,
.single-featured-header .entry-meta,
.single-post .hentry .post__cats i,
.single-featured-header .post__cats i,
.single-post .hentry .post__date i,
.single-featured-header .post__date i,
.single-post .hentry .post__comments i,
.single-featured-header .post__comments i,
.single-post .hentry .post__tags i,
.single-featured-header .post__tags i,
.single-post .hentry .posted-by i,
.single-featured-header .posted-by i {
	font-size: 12px;
}
.cherry-trend-star {
	width: 12px;
	height: 12px;
	font-size: 12px;
}

.pagination,
.posts-load-more-nav {
	border: none;
	button {
		border-width: 1px;
		border-style: solid;
		width: 100%;
	}
}
.posts-load-more-btn {
	text-transform: none;
}

.single {
	.format-image {
		.post-thumbnail {
			img {
				width: 100%;
			}
		}
	}
}