/*!
Skin Name: Cryprate
*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }
  .site .container-fluid:before, .site .container-fluid:after {
    content: none; }

.container-wide {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.875rem;
  padding-right: 1.875rem; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }
  .site .row:before, .site .row:after {
    content: none; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  float: none; }

.col-xs-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-xs-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-xs-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-xs-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-xs-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-xs-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-xs-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-xs-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-xs-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-xs-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-xs-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-xs-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-xl-pull-0 {
    right: auto; }
  .col-xl-pull-1 {
    right: 8.33333%; }
  .col-xl-pull-2 {
    right: 16.66667%; }
  .col-xl-pull-3 {
    right: 25%; }
  .col-xl-pull-4 {
    right: 33.33333%; }
  .col-xl-pull-5 {
    right: 41.66667%; }
  .col-xl-pull-6 {
    right: 50%; }
  .col-xl-pull-7 {
    right: 58.33333%; }
  .col-xl-pull-8 {
    right: 66.66667%; }
  .col-xl-pull-9 {
    right: 75%; }
  .col-xl-pull-10 {
    right: 83.33333%; }
  .col-xl-pull-11 {
    right: 91.66667%; }
  .col-xl-pull-12 {
    right: 100%; }
  .col-xl-push-0 {
    left: auto; }
  .col-xl-push-1 {
    left: 8.33333%; }
  .col-xl-push-2 {
    left: 16.66667%; }
  .col-xl-push-3 {
    left: 25%; }
  .col-xl-push-4 {
    left: 33.33333%; }
  .col-xl-push-5 {
    left: 41.66667%; }
  .col-xl-push-6 {
    left: 50%; }
  .col-xl-push-7 {
    left: 58.33333%; }
  .col-xl-push-8 {
    left: 66.66667%; }
  .col-xl-push-9 {
    left: 75%; }
  .col-xl-push-10 {
    left: 83.33333%; }
  .col-xl-push-11 {
    left: 91.66667%; }
  .col-xl-push-12 {
    left: 100%; }
  .col-xl-offset-0 {
    margin-left: 0%; }
  .col-xl-offset-1 {
    margin-left: 8.33333%; }
  .col-xl-offset-2 {
    margin-left: 16.66667%; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-offset-4 {
    margin-left: 33.33333%; }
  .col-xl-offset-5 {
    margin-left: 41.66667%; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-offset-7 {
    margin-left: 58.33333%; }
  .col-xl-offset-8 {
    margin-left: 66.66667%; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-offset-10 {
    margin-left: 83.33333%; }
  .col-xl-offset-11 {
    margin-left: 91.66667%; }
  .col-xl-offset-12 {
    margin-left: 100%; } }

.col-xs-first {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.col-xs-last {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

@media (min-width: 576px) {
  .col-sm-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-sm-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 768px) {
  .col-md-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-md-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 992px) {
  .col-lg-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-lg-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 1200px) {
  .col-xl-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-xl-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

.row-xs-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.row-xs-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.row-xs-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

@media (min-width: 576px) {
  .row-sm-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-sm-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-sm-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

@media (min-width: 768px) {
  .row-md-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-md-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-md-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

@media (min-width: 992px) {
  .row-lg-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-lg-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-lg-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

@media (min-width: 1200px) {
  .row-xl-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-xl-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-xl-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

.col-xs-top {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.col-xs-center {
  -ms-flex-item-align: center;
  align-self: center; }

.col-xs-bottom {
  -ms-flex-item-align: end;
  align-self: flex-end; }

@media (min-width: 576px) {
  .col-sm-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-sm-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .col-sm-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

@media (min-width: 768px) {
  .col-md-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-md-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .col-md-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

@media (min-width: 992px) {
  .col-lg-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-lg-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .col-lg-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

@media (min-width: 1200px) {
  .col-xl-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-xl-center {
    -ms-flex-item-align: center;
    align-self: center; }
  .col-xl-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

/*--------------------------------------------------------------
## Icons
--------------------------------------------------------------*/
blockquote:before, .single-post .hentry .entry-meta .cherry-trend-rating .cherry-trend-star::before,
.single-post .single-featured-header .entry-meta .cherry-trend-rating .cherry-trend-star::before, .blog .has-featured .posts-list__item-content .entry-meta .cherry-trend-rating .cherry-trend-star::before,
.archive .has-featured .posts-list__item-content .entry-meta .cherry-trend-rating .cherry-trend-star::before, .post-featured-content .swiper-button-next::before,
.post-featured-content .swiper-button-prev::before, .post-featured-content .swiper-container .swiper-button-next::before,
.post-featured-content .swiper-container .swiper-button-prev::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.mdi {
  line-height: 1; }

.btn.btn-lg,
.elementor-widget .elementor-button.elementor-size-lg,
.jet-subscribe-form .jet-subscribe-form__submit.elementor-button.elementor-size-md {
  padding: 9px 16px 9px 19px; }

.btn,
.post-password-form input[type="submit"],
.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-subscribe .cherry-popup-subscribe__submit,
.popup-type-default .cherry-popup-subscribe__submit,
.wpcf7 input[type="submit"],
.wpcf7 input[type="reset"],
.wpcf7 button,
.elementor-widget .elementor-button {
  border-radius: 0;
  padding: 7.5px 19px; }

#toTop {
  border-radius: 0; }

/*-------------------------------------------------------------
### Jet Menu
--------------------------------------------------------------*/
.jet-menu > .jet-menu-item > a {
  padding: 10px; }

.jet-menu-badge__inner {
  border-radius: 0; }

.jet-menu .jet-sub-menu {
  border: 1px solid;
  border-top: 3px solid; }

.jet-custom-nav .jet-menu-link-text {
  text-transform: uppercase; }

.jet-custom-nav .jet-menu-badge .jet-menu-badge__inner {
  border-radius: 0; }

/*-------------------------------------------------------------
### Jet Text Ticker
--------------------------------------------------------------*/
.jet-text-ticker__title {
  padding: 0;
  text-transform: none; }

.jet-text-ticker .jet-blog-arrow {
  top: 0;
  width: 20px;
  height: 20px;
  font-size: 7px;
  line-height: 1;
  border-radius: 0; }
  .jet-text-ticker .jet-blog-arrow.jet-arrow-prev {
    right: -54px; }
  .jet-text-ticker .jet-blog-arrow.jet-arrow-next {
    right: -80px; }

/*-------------------------------------------------------------
### Widgets
--------------------------------------------------------------*/
.widget-title {
  border: none;
  letter-spacing: 0.02em;
  margin-bottom: 3px;
  text-transform: uppercase; }

.stock-ticker-wrapper ul.stock_ticker {
  font-size: 12px; }
  .stock-ticker-wrapper ul.stock_ticker .sqitem {
    line-height: 1; }

/*-------------------------------------------------------------
### Jet Smart Listing / Tiles
--------------------------------------------------------------*/
.jet-blog .jet-smart-listing__terms-link,
.jet-blog .jet-smart-tiles__terms-link {
  letter-spacing: 0.02em;
  padding: 0; }

.jet-blog .jet-smart-listing__title,
.jet-blog .jet-smart-tiles__title {
  letter-spacing: 0.01em;
  text-transform: uppercase; }

.jet-blog .jet-smart-listing__arrow {
  top: 0;
  width: 20px;
  height: 20px;
  font-size: 7px;
  line-height: 1;
  border-radius: 0; }
  .jet-blog .jet-smart-listing__arrow.jet-arrow-prev {
    left: auto;
    right: -54px; }
  .jet-blog .jet-smart-listing__arrow.jet-arrow-next {
    left: auto;
    right: -80px; }

.jet-blog .jet-smart-listing__posts .jet-smart-listing__post:last-child {
  border-bottom: none;
  margin-bottom: 0; }
  .sidebar .jet-blog .jet-smart-listing__posts .jet-smart-listing__post:last-child {
    border-bottom: none;
    margin-bottom: 0; }

.jet-blog .jet-smart-listing__post-thumbnail a {
  border-radius: 0; }

/*-------------------------------------------------------------
### Elementor
--------------------------------------------------------------*/
.elementor-widget .elementor-button {
  border-radius: 0;
  line-height: 1.154; }
  .elementor-widget .elementor-button.elementor-size-md {
    letter-spacing: 0.02em;
    padding: 9px 20px 10px 19px; }

/*-------------------------------------------------------------
### Jet Subscribe
--------------------------------------------------------------*/
.jet-subscribe-form .jet-subscribe-form__input {
  padding: 6px 13px 8px 13px;
  border-radius: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.jet-subscribe-form--inline-layout .jet-subscribe-form__submit {
  margin: 0; }

/*-------------------------------------------------------------
### Elements
--------------------------------------------------------------*/
li + li {
  margin-top: 0; }

ul, ol {
  margin-left: 55px; }

blockquote {
  margin-left: 0;
  padding: 28px 28px 0;
  position: relative; }
  blockquote:before {
    content: "\f10e";
    font-size: 24px;
    left: 30px;
    position: absolute;
    top: 0; }
  blockquote.post-format-quote:before {
    left: -10px; }
  blockquote cite {
    font-size: 14px;
    margin-top: 8px; }

/*-------------------------------------------------------------
### Single Post
--------------------------------------------------------------*/
.single-post .hentry .post__cats a,
.single-post .single-featured-header .post__cats a {
  padding: 0; }

.single-post .hentry .post__tags a,
.single-post .single-featured-header .post__tags a {
  border: none;
  border-radius: 0;
  margin-right: 10px;
  padding: 5px 9px 6px;
  text-transform: uppercase; }

.single-post .hentry .post-respond-button,
.single-post .single-featured-header .post-respond-button {
  margin-top: 55px; }

.single-post .hentry .entry-header,
.single-post .single-featured-header .entry-header {
  margin-bottom: 3px; }

.single-post .hentry .entry-meta > *,
.single-post .single-featured-header .entry-meta > * {
  padding-right: 0;
  margin-right: -5px; }
  .single-post .hentry .entry-meta > * i,
  .single-post .single-featured-header .entry-meta > * i {
    margin-right: 3px; }

.single-post .hentry .entry-meta .post__comments i,
.single-post .single-featured-header .entry-meta .post__comments i {
  margin-top: -6px; }

.single-post .hentry .entry-meta .cherry-trend-views__count::before,
.single-post .single-featured-header .entry-meta .cherry-trend-views__count::before {
  margin-right: 3px; }

.single-post .hentry .entry-meta .cherry-trend-rating .cherry-trend-star,
.single-post .single-featured-header .entry-meta .cherry-trend-rating .cherry-trend-star {
  height: 14px;
  width: 14px;
  font-size: 14px; }
  .single-post .hentry .entry-meta .cherry-trend-rating .cherry-trend-star::before,
  .single-post .single-featured-header .entry-meta .cherry-trend-rating .cherry-trend-star::before {
    content: '\f005'; }

.single-post .hentry .entry-meta-top,
.single-post .single-featured-header .entry-meta-top {
  margin-bottom: 10px; }

.single-post .hentry .entry-meta-main,
.single-post .single-featured-header .entry-meta-main {
  margin-bottom: 40px; }

.single-post.single-format-standard .site-content__wrap {
  margin-top: 0; }
  .single-post.single-format-standard .site-content__wrap .breadcrumbs__inner {
    border-bottom: none;
    margin-bottom: 1.74em;
    padding-bottom: 6px;
    padding-top: 6px; }

.single-post .comments-area {
  margin-bottom: 30px; }

/*-------------------------------------------------------------
### Blog Listing
--------------------------------------------------------------*/
.blog .site-content__wrap,
.archive .site-content__wrap {
  margin-top: 0;
  margin-bottom: 40px; }
  .blog .site-content__wrap .breadcrumbs__inner,
  .archive .site-content__wrap .breadcrumbs__inner {
    border-bottom: none;
    margin-bottom: 2.24em;
    padding-bottom: 6px;
    padding-top: 6px; }

.blog .posts-list--default-small-img .has-featured .posts-list__item-media,
.archive .posts-list--default-small-img .has-featured .posts-list__item-media {
  max-width: 420px;
  width: 100%; }

.blog .posts-list--default-small-img .has-featured .posts-list__item-content .entry-meta > *,
.archive .posts-list--default-small-img .has-featured .posts-list__item-content .entry-meta > * {
  padding-right: 0;
  margin-right: -5px; }

.blog .posts-list--default-small-img .has-featured .posts-list__item-content .entry-meta-top,
.archive .posts-list--default-small-img .has-featured .posts-list__item-content .entry-meta-top {
  margin-top: -1px;
  margin-bottom: 0; }

.blog .posts-list--default-small-img .has-featured .posts-list__item-content .entry-meta-top,
.archive .posts-list--default-small-img .has-featured .posts-list__item-content .entry-meta-top {
  margin-bottom: 16px;
  margin-top: 5px; }

.blog .posts-list--default-small-img .has-featured .posts-list__item-content .entry-content,
.archive .posts-list--default-small-img .has-featured .posts-list__item-content .entry-content {
  font-size: 13px; }

.blog .posts-list--default-small-img .has-featured .posts-list__item-content .entry-footer-container,
.archive .posts-list--default-small-img .has-featured .posts-list__item-content .entry-footer-container {
  margin-top: 16px; }

.blog .posts-list--default-small-img .posts-list__item,
.archive .posts-list--default-small-img .posts-list__item {
  margin-bottom: 30px;
  padding-bottom: 30px; }
  .blog .posts-list--default-small-img .posts-list__item:last-child,
  .archive .posts-list--default-small-img .posts-list__item:last-child {
    border-bottom: none;
    margin-bottom: 0; }

.blog .has-featured .posts-list__item-media .post-thumbnail__img,
.archive .has-featured .posts-list__item-media .post-thumbnail__img {
  border-radius: 0; }

.blog .has-featured .posts-list__item-content .entry-meta-main,
.archive .has-featured .posts-list__item-content .entry-meta-main {
  margin-bottom: 8px; }
  .blog .has-featured .posts-list__item-content .entry-meta-main .post__cats,
  .archive .has-featured .posts-list__item-content .entry-meta-main .post__cats {
    margin-bottom: 0; }
    .blog .has-featured .posts-list__item-content .entry-meta-main .post__cats a,
    .archive .has-featured .posts-list__item-content .entry-meta-main .post__cats a {
      margin-bottom: 0;
      padding: 0; }

.blog .has-featured .posts-list__item-content .entry-meta-top .posted-by__avatar .avatar,
.archive .has-featured .posts-list__item-content .entry-meta-top .posted-by__avatar .avatar {
  margin-right: 7px; }

.blog .has-featured .posts-list__item-content .entry-meta .cherry-trend-rating .cherry-trend-star,
.archive .has-featured .posts-list__item-content .entry-meta .cherry-trend-rating .cherry-trend-star {
  height: 14px;
  width: 14px;
  font-size: 14px; }
  .blog .has-featured .posts-list__item-content .entry-meta .cherry-trend-rating .cherry-trend-star::before,
  .archive .has-featured .posts-list__item-content .entry-meta .cherry-trend-rating .cherry-trend-star::before {
    content: '\f005'; }

.blog .posts-load-more-nav,
.archive .posts-load-more-nav {
  border: none;
  padding-top: 10px; }
  .blog .posts-load-more-nav .posts-load-more-btn,
  .archive .posts-load-more-nav .posts-load-more-btn {
    width: 100%;
    padding: 3px 0; }

.post-featured-content .swiper-button-next,
.post-featured-content .swiper-button-prev {
  border-radius: 0;
  height: 20px;
  width: 20px; }
  .post-featured-content .swiper-button-next::before,
  .post-featured-content .swiper-button-prev::before {
    font-size: 8px;
    margin-top: 6px; }

.post-featured-content .swiper-button-next::before {
  content: '\f054'; }

.post-featured-content .swiper-button-prev {
  right: 46px; }
  .post-featured-content .swiper-button-prev::before {
    content: '\f053'; }

.post-featured-content .swiper-container .swiper-button-next,
.post-featured-content .swiper-container .swiper-button-prev {
  border-radius: 0;
  height: 20px;
  width: 20px; }
  .post-featured-content .swiper-container .swiper-button-next::before,
  .post-featured-content .swiper-container .swiper-button-prev::before {
    font-size: 8px;
    margin-top: 6px; }

.post-featured-content .swiper-container .swiper-button-next::before {
  content: '\f054'; }

.post-featured-content .swiper-container .swiper-button-prev {
  right: 46px; }
  .post-featured-content .swiper-container .swiper-button-prev::before {
    content: '\f053'; }

.nav-links .page-numbers {
  border-radius: 0; }

.site-content .page-links a,
.site-content .page-links > .page-links__item {
  border-radius: 0; }
