/* #Jet-Menu */
.main-navigation .menu > li > a,
.jet-menu >li >a,
.jet-menu-badge__inner,
.jet-sub-menu > li > a {
	font-weight: $h5_font_weight;
	font-size: $h6_font_size{px};
	line-height: $breadcrumbs_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-transform: $h1_text_transform;
}

.invert .jet-menu .jet-sub-menu {
	border-color: $color__white;
	border-top-color: $regular_accent_color_1;
}
.jet-menu .jet-sub-menu {
	border-color: $grey_color_1;
	border-top-color: $regular_accent_color_1;
}

.main-navigation .menu,
.main-navigation .menu .sub-menu
.main-navigation .menu > li > a,
.jet-menu > li > a,
.jet-sub-menu >li >a {
	background-color: transparent;
	color: $dark_color;
}

.invert .main-navigation .menu,
.invert .main-navigation .menu .sub-menu,
.invert .jet-sub-menu
.invert .main-navigation .menu > li > a,
.invert .jet-menu > li > a,
.invert .jet-sub-menu >li >a {
	background-color: transparent;
	color: $light_color;
}
.invert .jet-sub-menu,
.jet-mobile-menu-active .invert .jet-menu-container.jet-mobile-menu,
.invert .jet-menu-item .jet-sub-menu {
	background-color: $dark_color;
}

.jet-sub-menu,
.jet-mobile-menu-active .jet-menu-container.jet-mobile-menu,
.jet-menu-item .jet-sub-menu {
	background-color: $light_color;
}

.main-navigation .menu > li:hover > a,
.main-navigation .menu > li.current_page_item > a,
.main-navigation .menu > li.current_page_ancestor > a,
.main-navigation .menu > li.current-menu-item > a,
.main-navigation .menu > li.current-menu-ancestor > a,
.jet-menu >li:hover >a,
.jet-menu >li.jet-menu-hover >a,
.jet-menu >li.jet-current-menu-item >a,
.invert .jet-sub-menu >li >a:hover {
	background-color: transparent;
	color: $regular_accent_color_1;
}

.page-title {
	font-weight: $h2_font_weight;
	font-size: $h2_font_size{px};
	line-height: $h2_line_height;
	font-family: @font_family( $h2_font_family );
	letter-spacing: $h2_letter_spacing{em};
	text-transform: $h2_text_transform;
}

/* #Header */
.jet-auth-links__item-icon,
.elementor-social-icon i,
.jet-search__submit-icon,
.jet-search__popup-trigger-icon,
.jet-search__popup-close-icon {
	color: $dark_color;
	font-size: $breadcrumbs_font_size{px};
}

.invert .jet-auth-links__item-icon,
.invert .elementor-social-icon i,
.invert .jet-search__submit-icon,
.invert .jet-search__popup-trigger-icon,
.invert .jet-search__popup-close-icon {
	color: $light_color;
}

.jet-auth-links__item:hover .jet-auth-links__item-icon,
.elementor-social-icon:hover i,
.jet-search__submit:hover .jet-search__submit-icon,
.jet-search__popup-trigger:hover .jet-search__popup-trigger-icon,
.jet-search__popup-close:hover .jet-search__popup-close-icon,
.invert .jet-auth-links__item:hover .jet-auth-links__item-icon,
.invert .elementor-social-icon:hover i,
.invert .jet-search__submit:hover .jet-search__submit-icon,
.jet-search__popup-trigger:hover .invert .jet-search__popup-trigger-icon,
.invert .jet-search__popup-close:hover .jet-search__popup-close-icon {
	color: $regular_accent_color_1;
}

.jet-search .jet-search__field {
	font-family: @font_family( $h1_font_family );
}

.invert .jet-search .jet-search__field {
	color: $light_color;
}

/* #Jet Elements */
.jet-slider__desc a {
	font-weight: $h5_font_weight;
	font-family: @font_family( $h5_font_family );
	font-size: @font_size($h6_font_size, multiple, round, 1.1)px;
	letter-spacing: $h6_letter_spacing{em};
}

.jet-headline::before,
.widget-title::before {
	background-color: $grey_color_1;
}
.invert .jet-headline::before {
	background-color: @alpha($light_color, 10%);
}
.jet-headline .jet-headline__first,
.jet-headline .jet-headline__second {
	color: $dark_color;
}
.invert .jet-headline .jet-headline__first,
.invert .jet-headline .jet-headline__second {
	color: $light_color;
}
.jet-headline .jet-headline__first {
	font-weight: $custom_font_weight;
}
.jet-headline .jet-headline__second {
	font-weight: $breadcrumbs_font_weight;
}

/* #Jet Blog */
.jet-smart-tiles__box-title {
	font-weight: $h2_font_weight;
	font-size: $h2_font_size{px};
	line-height: $h2_line_height;
	font-family: @font_family( $h2_font_family );
	letter-spacing: $h2_letter_spacing{em};
}
.layout-1-2 > div:nth-child(1) .jet-smart-tiles__box-title,
.layout-2-x .jet-smart-tiles__box-title {
	font-weight: $h1_font_weight;
	font-size: $h1_font_size{px};
	line-height: $h1_line_height;
	font-family: @font_family( $h1_font_family );
	letter-spacing: $h1_letter_spacing{em};
}

.jet-smart-tiles__meta,
.recent-comments-list .comment-date a {
	font-weight: $h5_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h6_letter_spacing{em};
}

.jet-smart-listing__post h6 {
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
}
.listing_count .jet-blog .jet-smart-listing__posts .jet-smart-listing__post::before {
	font-weight: $breadcrumbs_font_weight;
	font-size: $h2_font_size{px};
	font-family: @font_family( $h2_font_family );
	color: $dark_color;
	background-color: $regular_accent_color_1;
}
.listing_video .jet-blog .jet-smart-listing__post-title::before {
	color: $dark_color;
	background-color: $regular_accent_color_1;
	font-size: $h5_font_size{px};
}
.listing_video .jet-blog .jet-smart-listing__post-title:hover::before {
	color: $regular_accent_color_1;
	background-color: $dark_color;
	font-size: $h5_font_size{px};
}

.jet-blog .jet-blog-playlist__item-title {
	color: $dark_color;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
}
.jet-blog .jet-blog-playlist__item-index-num {
	font-weight: $breadcrumbs_font_weight;
	font-size: $h2_font_size{px};
	font-family: @font_family( $h2_font_family );
	color: $regular_accent_color_1;
}
.invert .jet-blog .jet-blog-playlist__item-title {
	color: $light_color;
}
.invert .jet-blog .jet-blog-playlist__item-title:hover {
	color: $regular_accent_color_1;
}
.jet-blog .jet-blog-playlist__item-duration {
	color: $dark_color;
	font-family: @font_family( $h6_font_family );
	font-weight: $body_font_weight;
	font-size: $h6_font_size{px};
}
.invert .jet-blog .jet-blog-playlist__item-duration {
	color: @alpha($light_color, 70%);
}
.jet-blog .jet-smart-listing__post-excerpt {
	font-size: $body_font_size{px};
}

.jet-smart-listing__post .jet-smart-listing__terms-link,
.jet-smart-listing__meta .posted-by {
	font-size: $h6_font_size{px};
	line-height: $h1_line_height;
	font-family: @font_family( $h1_font_family );
	font-weight: $h5_font_weight;
	letter-spacing: $h1_letter_spacing{em};
	text-transform: $h1_text_transform;
}
.jet-smart-listing__post .jet-smart-listing__terms-link {
	background-color: transparent;
	color: $regular_accent_color_1;
}
.jet-smart-listing__post .jet-smart-listing__terms-link:hover {
	background-color: transparent;
	color: $regular_accent_color_2;
}
.jet-smart-listing__meta .posted-by a {
	color: $dark_color;
}
.jet-smart-listing__meta .posted-by a:hover {
	color: $regular_accent_color_1;
}

/* #Blog */
.posts-list .posts-list__item-content .entry-title {
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
}
.posts-list--grid-2 .has-thumb .posts-list__item-content, .posts-list--grid-2 .format-gallery .posts-list__item-content {
	background-color: transparent;
}
.posts-list .entry-meta,
.posts-list .entry-meta .post__cats a {
    color: $dark_color;
	font-size: $breadcrumbs_font_size{px};
	line-height: $h1_line_height;
	font-family: @font_family( $h1_font_family );
}
.posts-list .invert .entry-meta {
    color: $light_color;
}
.posts-list .entry-meta.entry-meta-top,
.posts-list .entry-meta .post__cats a {
	font-weight: $h5_font_weight;
	letter-spacing: $h1_letter_spacing{em};
	text-transform: $h1_text_transform;
}
.posts-list .entry-meta.entry-meta-main {
	font-weight: $breadcrumbs_font_weight;
}
.posts-list .entry-meta .post__cats a,
.posts-list .invert .entry-meta .post__cats a {
	background-color: transparent;
    color: $regular_accent_color_1;
}
.posts-list .entry-meta .post__cats a:hover,
.posts-list .invert .entry-meta .post__cats a:hover {
	background-color: transparent;
	color: $regular_accent_color_2;
}

.post-gallery .swiper-button-next,
.post-gallery .swiper-button-prev {
	color: $dark_color;
}

.posted-by,
.post__cats i,
.post__date i,
.post__comments i,
.post__tags i,
.posted-by i,
.cherry-trend-views__count:before {
	color: $dark_color;
}
.invert .posted-by,
.invert .post__cats i,
.invert .post__date i,
.invert .post__comments i,
.invert .post__tags i,
.invert .posted-by i,
.invert .cherry-trend-views__count:before {
	color: $light_color;
}

.posts-list + .posts-load-more-nav .posts-load-more-btn {
	border-width: 1px;
	border-style: solid;
	border-color: $grey_color_1;
	font-size: $h6_font_size{px};
	color: $dark_color;
	line-height: $h1_line_height;
	font-family: @font_family( $h1_font_family );
	font-weight: $h5_font_weight;
	letter-spacing: $h1_letter_spacing{em};
}

.btn,
.btn-link,
.post-password-form input[type="submit"],
.wpcf7 button, .wpcf7 input[type="submit"],
.wpcf7 input[type="reset"],
.elementor-widget .elementor-button {
	color: $dark_color;
	line-height: $h1_line_height;
	font-family: @font_family( $h1_font_family );
	font-weight: $h5_font_weight;
	letter-spacing: $h1_letter_spacing{em};
}
.btn-primary:hover,
.post-password-form input[type="submit"]:hover,
.wpcf7 button:hover,
.wpcf7 input[type="submit"]:hover,
.elementor-widget .elementor-button:hover {
	background-color: $dark_color;
	color: $regular_accent_color_1;
}
.has-content-area + .post-respond-button {
	background-color: $dark_color;
	color: $regular_accent_color_1;
}
.has-content-area + .post-respond-button:hover {
	background-color: $regular_accent_color_1;
	color: $dark_color;
}

.posts-list + .posts-load-more-nav .posts-load-more-btn:hover {
	border-color: $regular_accent_color_1;
	background-color: $regular_accent_color_1;
	color: $light_color;
}

.posts-list--grid-2.card-deck .posts-list__item:not(.format-standard):not(.format-gallery) .posts-list__item-content .entry-title::before {
	background-color: $regular_accent_color_1;
	color: $dark_color;
}
.posts-list--grid-2.card-deck .posts-list__item:not(.format-standard):not(.format-gallery) .posts-list__item-content .entry-title:hover::before {
	background-color: $dark_color;
	color: $regular_accent_color_1;
}

.posts-list .entry-meta-top > *:not(:last-child)::before,
.post .entry-meta-top > *:not(:last-child)::before,
.posts-list .entry-meta-main > *:not(:last-child)::before,
.post .entry-meta-main > *:not(:last-child)::before {
    background-color: $grey_color_1;
}
.invert .posts-list .entry-meta-top > *:not(:last-child)::before,
.invert .post .entry-meta-top > *:not(:last-child)::before,
.invert .posts-list .entry-meta-main > *:not(:last-child)::before,
.invert .post .entry-meta-main > *:not(:last-child)::before {
	background-color: $light_color;
}

.blog .posts-list .entry-summary,
.archive .posts-list .entry-summary,
.blog .posts-list .entry-content,
.archive .posts-list .entry-content {
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
}

.blog .posts-list.posts-list--default .posts-list__item:not(:first-child),
.archive .posts-list.posts-list--default .posts-list__item:not(:first-child),
.blog .posts-list.posts-list--default .posts-list__item,
.archive .posts-list.posts-list--default .posts-list__item {
	border-color: $grey_color_1;
}

.site-content .page-links a,
.site-content .page-links > .page-links__item,
.nav-links .page-numbers,
.posts-load-more-btn {
	font-family: @font_family( $h6_font_family );
	font-size: $body_font_size{px};
	font-weight: $body_font_weight;
	letter-spacing: 0.01em;
}

/* Jet Blocks */
.jet-subscribe-form .jet-subscribe-form__input {
	line-height: $body_line_height;
	font-size: @font_size($h6_font_size, multiple, round, 1.1)px;
	background-color: $light_color;
}

.jet-subscribe-form .jet-subscribe-form__submit.elementor-button.elementor-size-md {
	letter-spacing: $h1_letter_spacing{em};
	font-family: @font_family( $h1_font_family );
	font-weight: $h5_font_weight;
	font-size: $h6_font_size{px};
}

/* Widgets */
.widget-title {
	text-transform: $h2_text_transform;
	font-weight: $h2_font_weight;
	font-size: $h2_font_size{px};
	font-family: @font_family( $h2_font_family );
	letter-spacing: $h2_letter_spacing{em};
}
.widget_recent_comments .comment-author-link {
	color: $dark_color;
	font-size: $h6_font_size{px};
	line-height: $h1_line_height;
	font-family: @font_family( $h1_font_family );
	font-weight: $h5_font_weight;
	letter-spacing: $h1_letter_spacing{em};
	text-transform: $h1_text_transform;
}
#better-recent-comments .comment-excerpt {
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
}
#better-recent-comments .comment-date a:not(:hover) {
	color: $dark_color;
}
.recent-comments-list .comment-date a:hover {
	color: $regular_accent_color_1;
}

#better-recent-comments .recentcomments {
	border-bottom-color: $grey_color_1;
}

/* Single Post */
.single .entry-meta {
	color: $dark_color;
}

.single .invert .entry-meta {
	color: $light_color;
}

.single .entry-meta-top,
.single .entry-meta-top .post__cats,
.single .entry-meta-top .post__cats a,
.single-post blockquote cite,
.comment-meta .fn,
.single-featured-header .posted-by,
.jet-posts .post-meta {
	font-family: @font_family( $h1_font_family );
	text-transform: $h1_text_transform;
	letter-spacing: $h1_letter_spacing{em};
	font-size: $h6_font_size{px};
	line-height: $h1_line_height;
	font-weight: $h5_font_weight;
}

.single-post .hentry .entry-meta,
.single-featured-header .entry-meta {
	font-size: $h6_font_size{px};
}

.single .post .entry-meta > * {
	line-height: $h1_line_height;
}
.single .entry-meta-main,
.comment-date,
.comment-respond .comment-notes,
.comment-respond .logged-in-as,
.comment-respond .must-log-in,
.comment-form-comment label,
.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-cookies-consent label {
	font-family: @font_family( $h1_font_family );
	font-size: $h6_font_size{px};
}

.single .entry-meta-top .post__cats a {
	background-color: transparent;
	color: $regular_accent_color_1;
}
.single .entry-meta-top .post__cats a:hover {
	background-color: transparent;
	color: $regular_accent_color_2;
}
.single-post .hentry .cherry-trend-views__count::before,
.single-featured-header .cherry-trend-views__count::before,
.single-post .hentry .post__cats i,
.single-featured-header .post__cats i,
.single-post .hentry .post__date i,
.single-featured-header .post__date i,
.single-post .hentry .post__comments i,
.single-featured-header .post__comments i,
.single-post .hentry .post__tags i,
.single-featured-header .post__tags i,
.single-post .hentry .posted-by i,
.single-featured-header .posted-by i {
	font-size: @font_size($body_font_size, multiple, round, 0.95)px;
}
.single-post blockquote cite {
	font-weight: $body_font_weight;
}
.single-post blockquote {
	color: $dark_color;
	font-family: @font_family( $h1_font_family );
	text-transform: $h4_text_transform;
	letter-spacing: $h4_letter_spacing{em};
	font-size: $h4_font_size{px};
	font-weight: $h2_font_weight;
	font-style: $h4_font_style;
}

.single-post .post-featured-content blockquote,
.single-post .quote-bg {
	color: $light_color;
}

.single-post .comments-title,
.single-post .comment-respond .comment-reply-title {
	text-transform: $h1_text_transform;
	letter-spacing: $h1_letter_spacing{em};
	font-size: $h3_font_size{px};
	font-weight: $h3_font_weight;
	font-style: $h3_font_style;
}
.comment-content {
	letter-spacing: $body_letter_spacing{em};
	font-size: $body_font_size{px};
	font-weight: $body_font_weight;
	font-style: $body_font_style;
}

.single.post-template-single-layout-2 .entry-meta-top .post__cats a {
	color: $light_color;
}
.single.post-template-single-layout-2 .entry-meta-top .post__cats a:hover {
	color: $regular_accent_color_2;
}