.post__cats a,
.entry-meta.entry-meta-top{
	background-color: transparent;
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-transform: $h6_text_transform;
}

.entry-meta.entry-meta-bottom{
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	text-transform: $body_text_transform;
}

.posts-list .post__cats a,
.posts-list .entry-meta.entry-meta-top,
.posts-list .entry-meta.entry-meta-bottom,
.post-template-single-layout-3 .post__cats a:not(:hover),
.post-template-single-layout-7 .post__cats a:not(:hover),
.post-template-default .post__cats a:not(:hover){
	color: $regular_h6_color;
}

.entry-meta,
.posted-by{
	line-height: $body_line_height;
	letter-spacing: $body_letter_spacing{em};
}

.posts-list .entry-meta,
.posts-list .posted-by,
.jet-posts .posted-by{
	color: @darken($grey_color_1, 19);
}

.invert .posted-by{
	color: $light_color;
}

.invert .posted-by a:hover{
	color: $regular_accent_color_1;
}

.posts-list .entry-meta-top{
	color: $regular_h6_color;
}

.post__cats a:hover{
	background-color: transparent;
	color: $regular_accent_color_1;
}

.post__cats>:not(:last-child):after,
.entry-meta-main>:not(:last-child):after,
.jet-posts .post-meta>:not(:last-child):after{
	background-color: $regular_h6_color;
}

.post__button,
.about-author_btn,
.jet-posts .elementor-button{
	background-color: transparent;
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	text-transform: $h5_text_transform;
	color: $regular_accent_color_2;
}

.post__button:hover,
.invert .post__button:hover,
.about-author_btn:hover,
.jet-posts .elementor-button:hover{
	background-color: transparent;
	color: $regular_accent_color_1;
}

.invert .post__button{
	color: $light_color;
}

.posts-list--default .posts-list__item,
.posts-list--search .posts-list__item{
	border-color: $grey_color_1;
}

.posts-list .entry-title a:hover{
	color: $regular_accent_color_1;
}

.format-quote .post-featured-content,
.single-format-quote .single-featured-header .post-featured-content{
	background-color: @darken($light_color, 4.7);
}

.post-format-quote,
.posts-list:not(.posts-list--default) .post-format-quote{
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	font-family: @font_family( $h3_font_family );
	color: $regular_h3_color;
}

.posts-list--grid-2:not(.posts-list--default) .post-format-quote{
	color: $light_color;
}

.post-format-quote cite{
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
}

.post-format-link{
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	font-family: @font_family( $h3_font_family );
	color: $regular_h3_color;
}

.post-format-link:before{
	color: $grey_color_1;
}

.post-gallery .swiper-button-next,
.post-gallery .swiper-button-prev{
	background-color: $dark_color;
	color: $light_color;
}

.posts-list--grid .posts-list__item,
.posts-list--masonry .posts-list__item{
	border-bottom-color: $grey_color_1;
}

.post-timeline-date__date{
	background-color: @darken($light_color, 4.7);
	color: $dark_color;
}

.post-timeline-date__time{
	background-color: @darken($light_color, 4.7);
	color: $regular_text_color;
}

.posts-list--timeline .post-timeline-date__link:before{
	background-color: @lighten($grey_color_1, 2);
}

.posts-list--timeline .posts-list__item-inner{
	border-bottom-color: $grey_color_1;
}

.widget-title{
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	text-transform: $h5_text_transform;
	color: $regular_h5_color;
	border-color: $grey_color_1;
}

.about-author_name{
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
	text-transform: $h3_text_transform;
	color: $regular_h3_color;
}

.jet-posts__inner-box{
	border-bottom-color: $grey_color_1;
}

.widget_categories a:before{
	color: $grey_color_1;
}

.widget_calendar #today:before{
	background-color: $regular_accent_color_2;
}

.widget_calendar tbody td a{
	color: $dark_color;
}


.widget_calendar tbody td a:hover{
	color: $light_color;
	background-color: transparent;
}

.widget_calendar tbody td a:before{
	background-color: @darken($light_color, 4.7);
}

.widget_calendar tbody td a:hover:before{
	background-color: $regular_accent_color_1;
}

.btn,
.btn-link,
.post-password-form input[type="submit"],
.wpcf7 button,
.wpcf7 input[type="submit"],
.wpcf7 input[type="reset"],
.elementor-widget .elementor-button{
	font-style: $body_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $h5_letter_spacing{em};
}

.tagcloud a{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-transform: $h6_text_transform;
	color: $regular_text_color;
	background-color: @darken($light_color, 4.7);
	border:none;
}

.tagcloud a:hover{
	color: $light_color;
	background-color: $regular_accent_color_1;
}

.jet-smart-tiles__terms-link,
.jet-smart-listing__terms-link{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-transform: $h6_text_transform;
	color: $regular_h6_color;
}

.jet-smart-tiles__terms-link:hover,
.jet-smart-listing__terms-link:hover{
	color: $regular_accent_color_1;
}

.jet-smart-listing .jet-smart-listing__post-title{
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
	text-transform: $h3_text_transform;
	color: $regular_h3_color;
}

.jet-sub-mega-menu .jet-smart-listing .jet-smart-listing__post-title{
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	text-transform: $h4_text_transform;
}

.jet-smart-listing-content-background .jet-smart-listing__post:before{
	background-color: $dark_color;
}

.jet-smart-listing-content-background .jet-smart-listing__post:hover .post-title-simple{
	color: $light_color;
}

.main-navigation .menu > li > a,
.jet-menu >li >a{
	font-style: $h5_font_style;
	font-weight: $body_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	text-transform: $h5_text_transform;
	color: $regular_h5_color;
}

.widget_categories a,
.widget_categories ul li{
	color: $dark_color;
}

.widget_categories a:hover{
	color: $regular_accent_color_1;
}

/*Single Post*/
.post-template-single-layout-4 .entry-meta a:hover,
.post-template-single-layout-5 .entry-meta a:hover,
.post-template-single-layout-6 .entry-meta a:hover,
.post-template-single-layout-8 .entry-meta a:hover,
.post-template-single-layout-8 .posted-by a:hover{
	color:$regular_accent_color_1;
}

.post-template-single-layout-9 .post__cats a:hover,
.post-template-single-layout-2 .post__cats a:hover{
	color: $dark_color;
}

.site-content .page-links a,
.site-content .page-links > .page-links__item,
.nav-links .page-numbers,
.woocommerce-pagination .page-numbers,
.posts-load-more-btn{
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	text-transform: $h5_text_transform;
}

.posts-load-more-btn{
	color: $regular_accent_color_2;
}

.posts-load-more-btn:hover,
.posts-load-more-btn:not([disabled]):hover{
	color: $regular_accent_color_1;
}