/*!
Skin Name: Personal
*/
@import "../../../../assets/sass/variables-site/_colors.scss";
@import "../../../../assets/sass/typography/icons";
@import "../../../../assets/sass/mixins/mixins-master";

@mixin meta_dote{
	> *:not(:last-child) {
		position: relative;
		&:after {
			content: '';
			display: inline-block;
			width: 2px;
			height: 2px;
			vertical-align: middle;
			margin-left: 10px;
		}
	}
}

.posts-list{
	.entry-meta {
		margin-left: -8px;
		margin-right: -8px;
		> *{
			padding-left: 8px;
			padding-right: 8px;
		}
		&-top {
			display: block;
			text-align: center;
			margin-bottom: 7px;
			.posts-list--default-small-img &{
				text-align: left;
			}
		}

		&-main {
			margin-top: 13px;
			justify-content: center;
			@include meta_dote;

			.posts-list--default-small-img &{
				justify-content: flex-start;
			}
		}

		&-bottom{
			margin-top: 15px;
		}
	}
}


.entry-footer-container{
	justify-content: space-between;
	margin-top: 16px;
}

.post__cats{
	margin-bottom: 11px;
	@include meta_dote;
	a{
		margin-bottom: 0;
		padding: 0 4px;
	}
}

.posts-list {
	.entry-summary > *:first-child,
	.entry-content > *:first-child{
		margin-top: 6px;
	}

	.entry-title{
		text-align: center;
	}

	&--default-small-img{
		.entry-title{
			text-align: left;
		}
	}

	&--grid-2{
		.posts-list__item-media{
			margin-top: 0;
		}
	}

	&--default{
		.posts-list__item:not(:first-child){
			@media (min-width: 992px) {
				padding-top: 93px;
			}
		}

		.format-quote .post-featured-content:not(:empty){
			@media (min-width: 992px) {
				min-height: 515px;
			}
		}
	}

	&--grid,
	&--masonry {

		.entry-meta-top{
			margin-bottom: 11px;
		}

		.entry-meta-main{
			margin-top: 12px;
		}

		.entry-meta-bottom{
			margin-top: 11px;
		}

		.entry-footer-container{
			margin-top: 4px;
		}

		.posts-list__item-media{
			margin-top: 19px;
		}

		.entry-content>:first-child,
		.entry-summary>:first-child{
			margin-top: 2px;
		}

		.posts-list__item {
			padding-bottom: 15px;
			border-bottom-style: solid;
			border-bottom-width: 1px;
			margin-bottom: 54px;
		}

		&.card-deck--2-cols {
			.posts-list__item:nth-last-child(1),
			.posts-list__item:nth-last-child(2) {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 25px;
			}
		}
		&.card-deck--3-cols {
			.posts-list__item:nth-last-child(1),
			.posts-list__item:nth-last-child(2),
			.posts-list__item:nth-last-child(3) {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 25px;
			}
		}
	}

	&--timeline{
		.posts-list__item-inner{
			padding-bottom: 24px;
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}

		.posts-list__item{
			margin-bottom: 60px;
		}

		.post__cats{
			margin-top: 22px;
		}

		.entry-meta-top{
			margin-bottom: 12px;
		}

		.entry-meta-main{
			margin-top: 19px;
		}

		.post-timeline-date:before{
			bottom: -60px;
		}

		.entry-content>:first-child,
		.entry-summary>:first-child{
			margin-top: 15px;
		}
	}

	&--default,
	&--timeline{
		.cs-share__icon{
			display: none;
		}

		.cs-share--animate .cs-share__list {
			position: static;
			transform: translate3d(0, 0, 0);
			padding: 0;
			box-shadow: none;
			opacity: 1;
			visibility: visible;
			background: transparent;
			.cs-share__item {
				margin-right: 12px;
			}
		}
	}
	.post__tags a {
		text-transform: lowercase;
		font-style: normal;
		&:before {
			content: '#';
		}
	}

	&__item{
		margin-bottom: 25px;
	}

	&__item-media{
		margin-top: 25px;
	}


}

.cherry-trend-star{
	width: 12px;
	height: 12px;
	font-size: 12px;
}

.post__button,
.about-author_btn,
.jet-posts .elementor-button.elementor-size-md{
	padding: 0;
	&,
	&:hover{
		background-color: transparent;
	}
}

blockquote{
	line-height: 34px;
	&:before{
		font-size: 42px;
	}
}

.post-format-link{
	&:before{
		content:'\f339';
		@include material-design-icons;
		font-size: 30px;
		display: block;
	}
}

.post-gallery {
	.swiper-button-prev,
	.swiper-button-next {
		top: 50%;
		transform: translateY(-50%);
		height: 30px;
		width: 30px;
		line-height: 32px;
		font-size: 18px;
		border-radius: 50%;
	}

	.swiper-button-prev {
		left: 20px;
		right: auto;
		&:before {
			content: '\f141';
		}
	}
	.swiper-button-next {
		right: 20px;
		&:before {
			content: '\f142';
		}
	}
}

.cherry-trend-views__count::before{
	display: none;
}

.posts-list--grid-2 .format-gallery .post-gallery{
	.swiper-button-prev,
	.swiper-button-next{
		top:50%;
	}
	.swiper-button-prev{
		left: 5px;
	}
	.swiper-button-next{
		right: 5px;
	}
}

.posts-list--timeline{
	.has-featured{
		.posts-list__item-inner{
			display: block;
		}
		.posts-list__item-media{
			flex: 1 1 auto;
			width: auto;
			margin: 0;
		}
	}

	.post-timeline-date__link{
		@media (min-width: 576px) {
			position: relative;
			width: 100px;
			&:before{
				content:'';
				height: 1px;
				width: 100px;
				position: absolute;
				top:50%;
				left:100%;
				z-index: 0;
			}
		}
	}

	.post-timeline-date__date{
		padding: 10px 10px 0;
	}

	.post-timeline-date__time{
		@include hyphens(auto);
		padding: 20px 10px;
	}

	@media (min-width: 576px) {
		.post-timeline-date{
			margin-right: 100px;
		}
		.posts-list__item-inner{
			flex-basis: calc(100% - 200px);
			max-width: calc(100% - 200px);
		}
	}
}

.post-timeline-date__day{
	font-size: 30px;
	font-weight: bold;
}

.about-author{
	text-align: left;
	&_avatar{
		margin-bottom: 23px;
	}
	&_btn_box{
		margin-top: 15px;
	}
}

.widget-title{
	padding-bottom: 6px;
	margin-bottom: 25px;
}

.jet-smart-listing{
	.has-thumb-postion-top{
		justify-content: center;
		.jet-smart-listing__post-thumbnail{
			order:-1;
			margin-bottom: 16px;
			.has-thumb-postion-top &{
				margin-bottom: 16px;
			}
		}

		.jet-smart-listing__terms{
			margin-bottom: 5px;
			text-align: center;
			flex-basis:100%;
		}

		.jet-smart-listing__post-content{
			margin-top: 0;
		}

		.jet-smart-listing__terms-link{
			position: static;
			padding: 0;
			margin: 0;
			background: transparent;
		}

		.jet-smart-listing__post-title{
			text-align: center;
			.jet-sub-mega-menu &{
				text-align: left;
			}
		}
	}
	&-center{
		.jet-smart-listing{
			justify-content: center;
		}
	}

	&-content-background{
		.jet-smart-listing__post{
			position: relative;
			&:before{
				content:'';
				display: inline-block;
				position: absolute;
				z-index: -1;
				top: 0;
				bottom: 0;
				left: 15px;
				right: 15px;
				opacity: 0;
				transition: .2s;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
			}
			&:hover{
				&:before{
					opacity: 1;
				}
			}

			.jet-smart-listing__post-content{
				width: 100%;
			}
		}
	}

}

.jet-posts{
	.post-meta{
		@include meta_dote;
	}

	.post-thumbnail{
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.entry-excerpt{
		padding-bottom: 20px;
	}

	.col-desk-1:not(:last-child){
		.jet-posts__inner-box{
			@media (min-width: 992px) {
				margin-bottom: 70px;
			}
		}
	}

	&__inner-box{
		padding-bottom: 25px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}
}

.widget_categories{
	li{
		text-align: right;
		a{
			float: left;
			padding-left: 30px;
			position: relative;
			&:before{
				content:'\f142';
				@include material-design-icons;
				font-size: 16px;
				position: absolute;
				left: -4px;
				top: 3px;
			}
		}
	}
	ul li + li{
		margin-top: 5px;
	}
}

.widget.widget_calendar {
	caption{
		padding-top: 0;
	}

	table{
		border:none;
	}
	.calendar_wrap,
	tbody tr:nth-child(odd){
		background-color: transparent;
	}

	tbody td,
	tbody td a{
		line-height: 30px;
		height: 30px;
		border-radius: 50%;
	}

	tfoot td{
		top: -5px;
	}

	#today,
	tbody td a{
		position: relative;
		background-color:transparent;
		&:before{
			content:'';
			width: 30px;
			height: 30px;
			display: inline-block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			border-radius: 50%;
			z-index: -1;
		}
	}
}

.btn.btn-lg,
.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-subscribe .cherry-popup-subscribe__submit,
.popup-type-default .cherry-popup-subscribe__submit,
.elementor-widget .elementor-button.elementor-size-lg,
.jet-subscribe-form .jet-subscribe-form__submit.elementor-button.elementor-size-md{
	font-size: 12px;
	padding: 10px 40px;
}

.post-template-single-layout{
	&-2,
	&-3,
	&-5,
	&-8,
	&-9,
	&-10{
		.breadcrumbs__inner{
			justify-content: center;
		}
	}
}

.pagination, .posts-load-more-nav{
	@media (min-width: 992px) {
		padding-top: 100px;
	}
}

.jet-menu {
	justify-content: center;
}

.jet-menu > .jet-menu-item > a{
	padding: 22px 28px;
}

.jet-menu > .jet-menu-item > a,
.jet-menu >.jet-menu-item.jet-current-menu-item >a {
	background-color: transparent;
}

.posts-list--timeline .mejs-audio-container-wrapper{
	margin-top: 30px;
}

.jet-search__popup-trigger{
	background-color: transparent;
}