/* #Jet-Blog */
.page-title {
	font-family: @font_family( $h4_font_family );
	text-transform: $breadcrumbs_text_transform;
}

/* #Main Menu */
.main-navigation .menu > li > a,
.jet-menu >li >a,
.jet-menu-badge__inner {
	font-style: $body_font_style;
	font-weight: $custom_font_weight;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	color: $regular_link_hover_color;
}
.main-navigation .menu > li > a:hover,
.main-navigation .menu >li.jet-current-menu-item >a,
.main-navigation .menu >li.jet-current-menu-ancestor >a,
.jet-menu >li >a:hover,
.jet-menu >li.jet-current-menu-item >a,
.jet-menu >li.jet-current-menu-ancestor >a {
	color: $regular_accent_color_1;
}
.main-navigation .menu,
.main-navigation .menu .sub-menu,
.jet-sub-menu,
.jet-mobile-menu-active .jet-menu-container.jet-mobile-menu,
.main-navigation .menu > li > a, .jet-menu > li > a {
	background-color: $light_color;
}
/* #Button */
.add_to_cart_button,
.btn, a.btn, .elementor-widget .elementor-button,
.popup-type-default .cherry-popup-subscribe__submit,
.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-subscribe .cherry-popup-subscribe__submit,
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt,
.woocommerce a.button, .woocommerce a.button.alt,
.woocommerce a.button.loading, .woocommerce button.button, .woocommerce button.button.alt,
.woocommerce input.button, .woocommerce input.button.alt, .woocommerce input.button:disabled,
.woocommerce input.button[disabled]:disabled, form button, form input[type=button],
form input[type=reset], form input[type=submit], .elementor-widget .elementor-button.elementor-size-md,
.btn.btn-lg, form button.btn-lg, form input[type='button'].btn-lg, form input[type='reset'].btn-lg,
form input[type='submit'].btn-lg, .popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up, .popup-type-subscribe .cherry-popup-subscribe__submit,
.popup-type-default .cherry-popup-subscribe__submit, .elementor-widget .elementor-button.elementor-size-lg,
.jet-subscribe-form .jet-subscribe-form__submit.elementor-button.elementor-size-md {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-family: @font_family( $body_font_family );
	color: $light_color;
	background-color: $regular_accent_color_1;
}
.elementor-jet-posts .jet-posts .jet-more-wrap .jet-more {
	color: $dark_color;
}
.add_to_cart_button:hover,
.btn:hover,
a.btn:hover,
.elementor-widget .elementor-button:hover,
.popup-type-default .cherry-popup-subscribe__submit:hover,
.popup-type-login .cherry-popup-login__login-in:hover,
.popup-type-signup .cherry-popup-register__sign-up:hover,
.popup-type-subscribe .cherry-popup-subscribe__submit:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce a.button.loading:hover,
.woocommerce button.button:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button:hover,
.woocommerce input.button.alt:hover,
.woocommerce input.button:disabled:hover,
.woocommerce input.button[disabled]:disabled:hover,
form button:hover,
form input[type=button]:hover,
form input[type=reset]:hover,
form input[type=submit]:hover,
.elementor-widget .elementor-button.elementor-size-md:hover,
.btn.btn-lg:hover,
form button.btn-lg:hover,
form input[type='button'].btn-lg:hover,
form input[type='reset'].btn-lg:hover,
form input[type='submit'].btn-lg:hover,
.popup-type-login .cherry-popup-login__login-in:hover,
.popup-type-signup .cherry-popup-register__sign-up:hover,
.popup-type-subscribe .cherry-popup-subscribe__submit:hover,
.popup-type-default .cherry-popup-subscribe__submit:hover,
.elementor-widget .elementor-button.elementor-size-lg:hover,
.jet-subscribe-form .jet-subscribe-form__submit.elementor-button.elementor-size-md:hover {
	background-color: $dark_color;
}
.elementor-jet-posts .jet-posts .jet-more-wrap .jet-more:hover {
	color: $regular_accent_color_1;
}
/* #breadcrumbs */
.breadcrumbs__item a:hover,
.breadcrumbs__item-target,
.breadcrumbs__item-sep {
	color: $regular_accent_color_1;
}
.posts-list .posts-list__item .posts-list__item-content .entry-footer .post__button-wrap .btn {
	font-size: $h6_font_size{px};
	letter-spacing: $body_letter_spacing{em};
	font-weight: $custom_font_weight;
	font-family: @font_family( $body_font_family );
	text-transform: $body_text_transform;
	color: $regular_link_hover_color;
}
.posts-list.posts-list--grid-2 .posts-list__item .posts-list__item-content .entry-footer .post__button-wrap .btn {
	color: $light_color;
}


.posts-list .posts-list__item .posts-list__item-content .entry-footer .post__button-wrap .btn:hover {
	color: $regular_accent_color_1;
}

.posts-list.posts-list--grid-2 .posts-list__item .posts-list__item-content .entry-footer .post__button-wrap .btn:hover {
	color: $regular_accent_color_1;
}

/* #post */
.post__cats i,
.post__date i,
.post__comments i,
.post__tags i,
.posted-by i,
.cs-share__icon,
.cs-share__link,
.cs-user-social__link {
	color: $grey_color_1;
}
.post__cats a {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-family: @font_family( $body_font_family );
	text-transform: $body_text_transform;
	letter-spacing: $body_letter_spacing{em};
	color: $light_color;
}
.invert .post__comments .post__comments-link,
.invert .posted-by .posted-by__author,
.invert .cherry-trend-views .cherry-trend-views__count,
.invert .post__date .post__date-link {
	color: $light_color;
}
.invert .post__cats a {
	color: $light_color;
}
.posted-by .posted-by__author {
	color: $regular_accent_color_1;
}
.cherry-trend-views .cherry-trend-views__count,
.post__comments .post__comments-link,
.post__date .post__date-link {
	font-style: $custom_font_style;
	font-weight: $custom_font_weight;
	font-family: @font_family( $custom_font_family );
	font-size: $body_font_size{px};
	color: $dark_color;
	text-transform: $h1_text_transform;
}
.comment-date__link {
	color: $regular_text_color;
}
.cherry-trend-views .cherry-trend-views__count:hover,
.post__comments .post__comments-link:hover,
.post__date .post__date-link:hover {
	color: $regular_accent_color_1;
}
.posted-by .posted-by__author:hover {
	color: $regular_link_hover_color;
}
.invert .post__comments .post__comments-link:hover,
.invert .posted-by .posted-by__author:hover,
.invert .cherry-trend-views .cherry-trend-views__count:hover,
.invert .post__date .post__date-link:hover {
	color: $regular_accent_color_1;
}
.featured-layout-boxed .post__date .post__date-link:hover,
.featured-layout-boxed .posted-by .posted-by__author:hover {
	color: $light_color;
}
.post__tags a {
	font-style: $breadcrumbs_font_style;
	font-weight: $breadcrumbs_font_weight;
	font-family: @font_family( $breadcrumbs_font_family );
	font-size: $breadcrumbs_font_size{px};
}
.post-template-single-layout-2 .single-featured-header__meta-box,
.post-template-single-layout-9 .single-featured-header__inner-wrap {
	background-color: $dark_color;
}
.nav-links .page-numbers,
.woocommerce-pagination .page-numbers {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-family: @font_family( $h4_font_family );
	font-size: $h6_font_size{px};
	color: $light_color;
}
.nav-links a.page-numbers:hover,
.nav-links .page-numbers.current,
.woocommerce-pagination a.page-numbers:hover,
.woocommerce-pagination .page-numbers.current {
	color: $regular_link_hover_color;
}

/* Elementor */
.elementor-widget-text-editor .elementor-drop-cap {
	color: $dark_color;
	font-family: @font_family( $h2_font_family );
}
/* Elements */
blockquote {
	font-weight: $h6_font_weight;
	font-family: @font_family( $h6_font_family );
	font-size: $h6_font_size{px};
	color: $dark_color;
}
blockquote:before {
	color: $regular_accent_color_1;
}
cite {
	font-weight: $body_font_weight;
	font-family: @font_family( $body_font_family );
	font-size: $body_font_size{px};
}
blockquote.quote-type-2.half-box,
blockquote.quote-bg {
	color: $dark_color;
	border-color: $regular_accent_color_1;
}
blockquote.quote-bg cite {
	color: $regular_text_color;
}
.related-posts .related-posts__title,
.comments-area .comment-reply-title,
.comments-area .comments-title {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-family: @font_family( $h6_font_family );
	font-size: $h5_font_size{px};
	color: $h6_text_color;
}
/* Widget */
.widget_recent_entries a,
.widget_recent_comments a {
	color: $regular_text_color;
}
.widget_recent_entries a:hover,
.widget_recent_comments a:hover {
	color: $regular_accent_color_1;
}