a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover{
	color: $regular_accent_color_1;
}

.posts-list--default .posts-list__item,
.posts-list--search .posts-list__item {
	border-color: @darken($light_color, 4.7);
}

.posts-list--default-small-img .posts-list__item{
	border-color: @darken($light_color, 4.7);
}

.entry-meta,
.single-post .hentry .entry-meta,
.single-featured-header .entry-meta{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
	text-transform: $h6_text_transform;
}

.post__cats a{
	background-color: transparent;
}

.single-post .entry-meta a:hover{
	color: $grey_color_1;
}

.post__cats a{
	color: $regular_h6_color;
}

.post__cats a:hover{
	color: $dark_color;
	background-color: transparent;
}

.single-post .post__cats a{
	color: inherit;
}

.posted-by{
	color: @darken($grey_color_1, 19);
}

.entry-meta-main>*:after,
.entry-meta-top>*:after{
	background-color: @darken($grey_color_1, 19);
}

.posts-list .entry-summary,
.posts-list .entry-content{
	font-size: $body_font_size{px};
}

.btn,
.btn-link,
.elementor-widget .elementor-button,
form button,
form input[type='button'],
form input[type='reset'],
form input[type='submit'],
.jet-subscribe-form .jet-subscribe-form__submit.elementor-button.elementor-size-md{
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	font-weight: bold;
}

.post-gallery .swiper-button-next,
.post-gallery .swiper-button-prev{
	background-color: $dark_color;
	color: $light_color;
}

.post-format-link,
blockquote{
	font-weight: $h5_font_weight;
	font-size: @font_size($h5_font_size, multiple, round, 1.29)px;
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	text-align: $h5_text_align;
	text-transform: $h5_text_transform;
}

blockquote cite{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
	text-transform: $h6_text_transform;
}

.post-format-link:before{
	color: $grey_color_1;
}


.format-quote .post-featured-content,
.single-format-quote .single-featured-header .post-featured-content{
	background-color: @darken($light_color, 4.7);
	color: $regular_h5_color;
}

blockquote:before{
	color: $regular_accent_color_1;
}

.posts-list--grid .entry-title,
.posts-list--masonry .entry-title{
	font-size: @font_size($h2_font_size, multiple, round,0.6)px;
}

.posts-list--grid .posts-list__item,
.posts-list--masonry .posts-list__item{
	border-bottom-color: @darken($light_color, 4.7);
}

.posts-list--grid-2 .post__cats a{
	color: $light_color;
}

.posts-list--grid-2 .post__cats a:hover{
	color: $regular_accent_color_1;
}

.main-navigation .sub-menu a:hover,
.main-navigation .sub-menu li.current_page_item > a,
.main-navigation .sub-menu li.current_page_ancestor > a,
.main-navigation .sub-menu li.current-menu-item > a,
.main-navigation .sub-menu li.current-menu-ancestor > a,
.jet-sub-menu >li.jet-menu-hover >a {
	color: $regular_accent_color_1;
}

.post-timeline-date__date{
	background-color: $regular_accent_color_1;
}

.post-timeline-date__time{
	background-color: $dark_color;
}

@media (min-width: 768px) {
	.post-timeline-date__day{
		font-size: @font_size($h2_font_size, multiple, round, 1.8)px;
		line-height: $h2_line_height;
		font-family: @font_family( $h2_font_family );
		letter-spacing: $h2_letter_spacing{em};
		text-align: $h2_text_align;
		text-transform: $h2_text_transform;
	}

	.post-timeline-date__time{
		font-style: $h6_font_style;
		font-size: $h6_font_size{px};
		line-height: $h6_line_height;
		font-family: @font_family( $h6_font_family );
		letter-spacing: $h6_letter_spacing{em};
		text-align: $h6_text_align;
		text-transform: $h6_text_transform;
	}
}

.jet-smart-tiles__box-title{
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
	text-transform: $h3_text_transform;
}

.jet-smart-tiles__meta,
.jet-smart-tiles__terms-link{
	font-style: $h6_font_style;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
	text-transform: $h6_text_transform;
}

.jet-smart-listing__terms-link{
	font-style: $h6_font_style;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
	text-transform: $h6_text_transform;
}

.jet-smart-listing__terms-link:hover{
	color: $dark_color;
}

.jet-smart-listing__post-title{
	color: $regular_h5_color;
}

.jet-smart-listing__post-title:hover{
	color: $regular_accent_color_1;
}

.jet-smart-listing__meta .post__date{
	font-style: $h6_font_style;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
	text-transform: $h6_text_transform;
}

.jet-smart-listing__post-title{
	font-style: $h5_font_style;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	text-align: $h5_text_align;
	text-transform: $h5_text_transform;
}


.jet-blog-playlist__item-title{
	font-style: $h5_font_style;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	text-align: $h5_text_align;
	text-transform: $h5_text_transform;
	color: $regular_h5_color;
}

.posts-list .entry-title{
	font-style: $h3_font_style;
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
	text-align: $h3_text_align;
	text-transform: $h3_text_transform;
}

.posts-list--default .entry-title{
	font-style: $h2_font_style;
	font-size: $h2_font_size{px};
	line-height: $h2_line_height;
	font-family: @font_family( $h2_font_family );
	letter-spacing: $h2_letter_spacing{em};
	text-align: $h2_text_align;
}

.jet-subscribe-form .jet-subscribe-form__input{
	border-color: @darken($light_color, 4.7);
}

input, select, textarea{
	font-size: $body_font_size{px};
}

/*Menu*/
.main-navigation .menu > li > a,
.jet-menu >li >a{
	background-color: transparent;
	color: $dark_color;
}

.main-navigation .menu > li.current_page_item > a,
.main-navigation .menu > li.current_page_ancestor > a,
.main-navigation .menu > li.current-menu-item > a,
.main-navigation .menu > li.current-menu-ancestor > a,
.jet-menu >li.jet-current-menu-item >a,
.main-navigation .menu > li:hover > a,
.jet-menu >li:hover >a,
.jet-menu >li.jet-menu-hover >a{
	background-color: transparent;
	color: $regular_accent_color_1;
}


.main-navigation .menu,
.main-navigation .menu .sub-menu,
.jet-sub-menu,
.jet-mobile-menu-active .jet-menu-container.jet-mobile-menu{
	background-color:@darken($light_color, 4.7); /*f3f3f9*/
}

.main-navigation .sub-menu a,
.jet-sub-menu >li >a{
	color: $dark_color;
}

.main-navigation .sub-menu a:hover,
.jet-sub-menu >li >a:hover{
	color: $regular_accent_color_1;
}

.jet-sub-mega-menu .jet-tabs__control.active-tab,
.jet-sub-mega-menu .jet-tabs__control:hover{
	background-color: transparent;
}

.jet-sub-mega-menu .jet-tabs__control.active-tab .jet-tabs__label-text,
.jet-sub-mega-menu .jet-tabs__control:hover .jet-tabs__label-text,
.jet-sub-mega-menu .jet-tabs__control.active-tab .jet-tabs__label-icon,
.jet-sub-mega-menu .jet-tabs__control:hover .jet-tabs__label-icon{
	color: $regular_accent_color_1;
}

.jet-custom-nav>.jet-custom-nav__item>a,
.jet-custom-nav__sub .jet-custom-nav__item a,
.jet-custom-nav__sub .jet-custom-nav__item a .jet-menu-link-text{
	font-style: $body_font_style;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	text-align: $body_text_align;
	background-color: transparent;
}

.jet-custom-nav .jet-menu-link-text,
.jet-custom-nav__sub .jet-custom-nav__item a,
.jet-custom-nav__sub .jet-custom-nav__item a .jet-menu-link-text{
	color: $regular_text_color;
}

.jet-custom-nav>.jet-custom-nav__item>a:hover .jet-menu-link-text,
.jet-custom-nav>.jet-custom-nav__item.hover-state > a .jet-menu-link-text,
.jet-custom-nav__sub .jet-custom-nav__item a:hover,
.jet-custom-nav__sub .jet-custom-nav__item.hover-state>a .jet-menu-link-text{
	color: $regular_accent_color_1;
	background-color: transparent;
}

.jet-custom-nav .menu-item a:before{
	color: $grey_color_1;
}

