$color__background-body:   #f3f3f9;
$color__background-screen: #f1f1f1;
$color__background-pre:    #eee;
$color__background-breadcrumbs:    #F8F8F8;
$color__border:    #F0F0F0;

$color__bg-preloader-cover: #ffffff;

$color__border-table:  #ECECEC;
$color__border-pre:    darken( $color__background-pre, 10% );

$color__text-screen: #21759b;

$color__white:  #ffffff;
$color__dark:   #000000;
$color__dark_2: #1C1C21;

$color__not-valid: #ff3535;
$color__valid:     #5CB85C;
$color__info:      #f5f9ff;
$color__warning:   #fed800;

$color__very-hot:  #FF0000;
$color__hot:       #f3502a;
$color__warm:      #f47512;

$color_raiting_bg_active: #E5452F;
$color_raiting_bg: #E0E0E0;

// Official Social / Sharing Colors
$px500:			#0099E5;
$apple:			#999999;
$behance:		#1769ff;
$bitbucket: 	#205081;
$codepen:		#000000;
$delicious: 	#3399ff;
$digg:			#005be2;
$dribbble:		#ea4c89;
$envelope:		#ea4335;
$facebook:		#3b5998;
$flickr:		#0063dc;
$foursquare:	#2d5be3;
$github:		#333333;
$google-plus:	#dd4b39;
$houzz:			#7ac142;
$instagram:		#262626;
$jsfiddle:		#487AA2;
$lastfm:		#c3000d;
$linkedin:		#0077b5;
$medium:		#00ab6b;
$meetup:		#ec1c40;
$odnoklassniki:	#F4731C;
$pinterest:		#bd081c;
$pocket:		#EF3F56;
$print:			#aaaaaa;
$product-hunt:	#da552f;
$reddit:		#ff4500;
$rss:			#f26522;
$shopping-cart:	#4CAF50;
$skype:			#00AFF0;
$slideshare:	#0077b5;
$snapchat:		#fffc00;
$soundcloud:	#ff8800;
$spotify:		#2ebd59;
$stack-overflow:#fe7a15;
$steam:			#0B0B0B;
$stumbleupon:	#EB4924;
$telegram:		#2CA5E0;
$tripadvisor:	#589442;
$tumblr:		#35465c;
$twitch:		#6441A5;
$twitter:		#1DA1F2;
$vimeo:			#1ab7ea;
$vk:			#45668e;
$weibo:			#df2029;
$weixin:		#7bb32e;
$whatsapp:		#25d366;
$wordpress:		#21759b;
$windows:		#00bcf2;
$xing:			#026466;
$yelp:			#af0606;
$youtube:		#cd201f;
$yahoo:			#410093;