/*!
Skin Name: Famelle
*/

@import "../../../../assets/sass/variables-site/variables-site";
@import "../../../../assets/sass/mixins/mixins-master";
@import "buttons.scss";
@import "colors.scss";

/* #Site */
.position-fullwidth {
	.site-content__wrap {
		margin-top: 0;
	}
}


/* Breadrumbs */
.position-fullwidth {
	.breadcrumbs,
	.page-header {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -100%;
			height: 100%;
			width: 3000px;
			background-color: $color__background-breadcrumbs;
			z-index: -1;
		}
	}
	.breadcrumbs {
		margin-bottom: 30px;
		.breadcrumbs__inner {
			border: none;
			margin-bottom: 0;
			padding-top: 8px;
			padding-bottom: 7px;
		}
		+ .page-header {
			margin-top: -30px;
		}
	}
	.page-header {
		padding-top: 10px;
		padding-bottom: 20px;
		margin-bottom: 56px;
		.page-title {
			text-align: center;
		}
	}
	
}


/* #Menu */
.main-navigation {
	.menu {
		>li {
			>a {
				background-color: transparent;
				&:before {
					display: none;
				}
			}
			&:hover,
			&.current_page_item,
			&.current_page_ancestor,
			&.current-menu-item,
			&.current-menu-ancestor {
				> a {
					background-color: transparent;
				}
			}
		}
	}
}
/* #Jet-Menu */
.jet-menu-inner {
	.jet-menu {
		>li {
			>a {
				background-color: transparent;
				padding: 11px 12px;
				&:before {
					display: none;
				}
				.jet-menu-item-wrapper {
					&:after {
						display: none;
					}
				}
			}
			&:hover,
			&.jet-menu-hover,
			&.jet-current-menu-item {
				>a {
					background-color: transparent;
				}
			}
			.jet-sub-menu {
				border: none;
				.jet-menu-item {
					> a {
						padding: 5px 20px;
					}
				}
			}
		}
		.top-level-link {
			position: relative;
			
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: -4px;
				
				@include border-radius();
			}
			
			.jet-menu-item-wrapper {
				position: relative;
				
				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background-color: currentColor;
					opacity: 0;
					transition: .2s;
					transform: translateY(8px);
				}
			}
		}
		
		.jet-menu-item:hover > .top-level-link,
		.jet-menu-hover > .top-level-link,
		.jet-current-menu-item > .top-level-link {
			
			.jet-menu-item-wrapper {
				&:after {
					opacity: 1;
					transform: translateY(3px);
				}
			}
		}
	}
}
/* #Jet-blog */
.elementor-widget-jet-blog-smart-listing {
	.jet-smart-listing {
		&__post,
		&__featured {
			&-content {
				.jet-smart-listing__meta {
					display: flex;
					flex-direction: column;
					justify-content: center;
					.posted-by {
						text-transform: capitalize;
					}
					.posted-by + .post__date {
						padding-top: 2px;
					}
				}
			}
		}
		&__post-excerpt {
			margin-top: 5px;
		}
	}
	&.custom_count {
		.jet-smart-listing {
			&__posts  {
				counter-reset: post-list-counter;
				.jet-smart-listing__post {
					padding-top: 36px;
					position: relative;
					counter-increment: post-list-counter;
					&:before {
						position: absolute;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
						content: counter(post-list-counter);
						font-size: 24px;
						width: 40px;
						height: 40px;
						line-height: 48px;
						border-radius: 50%;
						text-align: center;
					}
				}
			}
		}
	}
}
.elementor {
	.post-thumbnail {
		img {
			border-radius: 0;
		}
	}
}
/* #Post */
.single-post {
	&.position-fullwidth {
		.site-content__wrap {
			.row {
				.site-main {
					max-width: 670px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
	&.post-template-single-layout-7 {
		.site-content__wrap {
			.row {
				.site-main {
					max-width: 100%;
				}
			}
		}
	}
	.post {
		margin-top: 58px;
		.post-thumbnail {
			margin-bottom: 55px;
		}
		.entry-header {
			margin-top: 14px;
			margin-bottom: 0;
			h1 {
				line-height: 0.9em;
				text-align: center;
			}
		}
		.entry-meta {
			&.entry-meta-main-top {
				justify-content: center;
				.post__cats {
					a {
						background-color: transparent;
						font-size: 13px;
						letter-spacing: 0.04em;
						margin-bottom: 0;
					}
				}
			}
			&.entry-meta-main-middle {
				flex-direction: column;
				justify-content: center;
				padding-bottom: 11px;
				.posted-by {
					&__content {
						margin-bottom: -4px;
					}
				}
			}
			&.entry-meta-main-bottom {
				justify-content: space-between;
				padding: 15px 0 42px;
				border-top: 1px solid $color__border;
				.inner_bootom_meta {
					font-size: 12px;
					&:first-child {
						> * {
							padding-right: 20px;
						}
					}
					.cherry-trend-rating {
						display: inline-block;
						.cherry-trend-star {
							font-size: 12px;
							width: 12px;
							height: 12px;
							color: $color_raiting_bg_active;
							&:before {
								font-family: 'FontAwesome';
								content: '\f005';
							}
							&--active {
								color:  $color_raiting_bg;
							}
						}
					}
				}
			}
		}
		.post__date {
			.post__date-link {
				letter-spacing: 0.04em;
			}
		}
		.post__tags {
			a {
				font-style: normal;
			}
		}
	}
}
.archive.position-fullwidth,
.blog.position-fullwidth {
	.posts-list {
		&--default {
			max-width: 670px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			.posts-list__item:not(:first-child) {
				padding-top: 53px;
			}
			.posts-list__item {
				.post-thumbnail {
					margin-bottom: 16px;
					img {
						border-radius: 0;
					}
				}
				.entry-content {
					margin-bottom: 7px;
					p {
						font-size: 14px;
					}
				}
				.entry-meta {
					justify-content: center;
					&.entry-meta-main {
						flex-direction: column;
						margin-top: 6px;
						margin-bottom: 24px;
					}
					&.entry-meta-top {
						.cherry-trend-views {
							.cherry-trend-views__count {
								&:before {
									font-family: 'FontAwesome';
									content: '\f06e';
									font-size: 16px;
								}
							}
						}
					}
				}
				.entry-footer {
					margin-top: 27px;
					margin-bottom: 60px;
					.entry-footer-container {
						justify-content: center;
					}
				}
			}
		}
	}
}
.posts-list {
	&--timeline,
	&--default-small-img {
		.posts-list__item {
			.posts-list__item-inner {
				flex-wrap: wrap;
				margin-bottom: 50px;
				padding-bottom: 50px;
				border-bottom: 1px solid $color__border;
				.post-list_header {
					flex: 1 1 100%;
				}
				.posts-list__item-media {
					flex: 0 0 auto;
				}
				.posts-list__item-content {
					flex: 1 1 50%;
				}
			}
		}
	}
	&--timeline {
		.posts-list__item {
			.posts-list__item-inner {
				border: none;
				margin-bottom: 0;
			}
		}
	}
	&--vertical-justify,
	&--masonry,
	&--grid {
		.posts-list__item {
			.posts-list__item-inner {
				text-align: center;
				padding-bottom: 50px;
				border-bottom: 1px solid $color__border;
				.post-list_header {
					padding-bottom: 15px;
					.entry-meta-main {
						justify-content: center;
					}
				}
				.posts-list__item-media {
					.post-thumbnail {
						a img {
							border-radius: 0;
						}
					}
				}
				.posts-list__item-content {
					.entry-footer {
						.entry-footer-container {
							justify-content: center;
						}
					}
				}
			}
		}
	}
	&--vertical-justify {
		.posts-list__item {
			.posts-list__item-inner {
				border: none;
				margin-bottom: 0;
			}
		}
	}
}
.post,
.posts-list,
.single-featured-header {
	.post__cats {
		a {
			background-color: transparent;
			font-size: 13px;
			letter-spacing: 0.04em;
			margin-bottom: 0;
			padding-left: 0;
			&:hover {
				background-color: transparent;
			}
		}
	}
}
.post__date {
	.post__date-link {
		letter-spacing: 0.04em;
	}
}
.post__tags {
	a {
		font-style: normal;
	}
}
.cherry-trend-rating {
	font-size: 10px;
	.cherry-trend-star {
		font-size: 12px;
		width: 12px;
		height: 12px;
		color: $color_raiting_bg_active;
		&:before {
			font-family: 'FontAwesome';
			content: '\f005';
		}
		&--active {
			&::before {
				color:  $color_raiting_bg;
			}
		}
		&--is-half {
			&::before {
				content: '\f005';
				color:  $color_raiting_bg;
			}
		}
		
		&:hover {
			&,
			& ~ .cherry-trend-star {
				&::before {
					content: '\f005';
				}
			}
		}
	}
}
.pagination,
.posts-load-more-nav {
	border: none;
	padding-top: 0;
	margin-bottom: 27px;
}
.nav-links,
.woocommerce-pagination {
	.page-numbers {
		background-color: transparent !important;
		border: none;
		border-radius: 0;
		height: 30px;
		margin: 0;
		&.next,
		&.prev {
			i {
				line-height: 30px;
			}
		}
	}
}
/* #Elementor */
.elementor-widget-text-editor {
	.elementor-drop-cap {
		font-size: 3.6em;
		line-height: 0.1;
	}
}

/* Elements */
.elementor-text-editor {
	ul {
		li {
			list-style-type: none;
			padding-left: 20px;
			position: relative;
			+ li {
				margin-top: 1px;
			}
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 10px;
				width: 3px;
				height: 3px;
				background-color: #333;
				border-radius: 50%;
			}
		}
	}
}
blockquote {
	padding-left: 30px;
	p {
		display: inline;
	}
	&:before {
		content: '\f10e';
		font-family: 'FontAwesome';
		font-size: 20px;
		display: inline-block;
		top: 0px;
		left: 0px;
		padding-right: 10px;
	}
	cite {
		font-style: italic;
		font-size: 14px;
	}
	&.quote-bg {
		background-color: $color__background-breadcrumbs !important;
		border-left: 2px solid;
		border-radius: 0;
		&:before {
			font-size: 24px;
			padding-right: 0;
		}
		p {
			display: block;
		}
	}
	&.quote-type-2.half-box {
		padding-left: 30px;
		border-left: 2px solid;
	}
}
.format-quote .post-featured-content,
.single-format-quote .single-featured-header .post-featured-content {
	background-color: $color__background-breadcrumbs !important;
}
.comments-area {
	padding-bottom: 40px;
}
.has-content-area + .post-respond-button {
	margin-top: 41px;
}