/*!
Skin Name: Imagicy
*/

@import "../../../../assets/sass/variables-site/variables-site";
@import "../../../../assets/sass/mixins/mixins-master";
@import "buttons.scss";
@import "colors.scss";
@import "breakpoints.scss";
@import "variables.scss";


/* #Menu */
.main-navigation {
	.menu {
		>li {
			>a {
				background-color: transparent;
				&:before {
					display: none;
				}
			}
			&:hover,
			&.current_page_item,
			&.current_page_ancestor,
			&.current-menu-item,
			&.current-menu-ancestor {
				> a {
					background-color: transparent;
				}
			}
		}
	}
}
/* #Jet-Menu */
.jet-menu-inner {
	.jet-menu {
		>li {
			>a {
				background-color: transparent;
				padding: 11px 12px;
				&:before {
					display: none;
				}
				.jet-menu-item-wrapper {
					&:after {
						display: none;
					}
				}
			}
			&:hover,
			&.jet-menu-hover,
			&.jet-current-menu-item {
				>a {
					background-color: transparent;
				}
			}
			.jet-sub-menu {
				border: none;
				.jet-menu-item {
					> a {
						padding: 5px 20px;
						font-size: 12px;
					}
				}
			}
		}
		.top-level-link {
			position: relative;
			
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: -4px;
				
				@include border-radius();
			}
			
			.jet-menu-item-wrapper {
				position: relative;
				
				&:after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background-color: currentColor;
					opacity: 0;
					transition: .2s;
					transform: translateY(8px);
				}
			}
		}
		
		.jet-menu-item:hover > .top-level-link,
		.jet-menu-hover > .top-level-link,
		.jet-current-menu-item > .top-level-link {
			
			.jet-menu-item-wrapper {
				&:after {
					opacity: 1;
					transform: translateY(3px);
				}
			}
		}
	}
}
.elementor {
	.post-thumbnail {
		img {
			border-radius: 0;
		}
	}
}
/* #Post */
.single-post {
	.post {
		margin-top: 40px;
		padding: 30px;
		background-color: $color__white;
		border: 1px solid $color__post_border;
		.post-thumbnail {
			margin-bottom: 55px;
		}
		.entry-header {
			margin-top: 14px;
			margin-bottom: 0;
			h1 {
				margin-bottom: 15px;
				text-align: left;
			}
		}
		.entry-meta {
			&.entry-meta-main-top {
				.post__cats {
					a {
						font-size: 12px;
						letter-spacing: 0.02em;
						margin-bottom: 0;
						border-radius: 0;
					}
				}
			}
			&.entry-meta-main-middle {
				flex-direction: row;
				justify-content: flex-start;
				padding-bottom: 11px;
				.posted-by {
					&__content {
						margin-bottom: -4px;
					}
				}
			}
			&.entry-meta-main-bottom {
				justify-content: space-between;
				padding: 15px 0 20px;
				border-top: 1px solid $color__border;
				.inner_bootom_meta {
					font-size: 12px;
					&:first-child {
						> * {
							padding-right: 20px;
						}
					}
					.cherry-trend-rating {
						display: inline-block;
						.cherry-trend-star {
							font-size: 14px;
							width: 14px;
							height: 14px;
							color: $color_raiting_bg_active;
							&:before {
								font-family: 'FontAwesome';
								content: '\f005';
							}
							&--active {
								color:  $color_raiting_bg;
							}
						}
					}
				}
			}
		}
		.post__tags {
			a {
				font-style: normal;
			}
		}
	}

	.hentry .post__tags {
		.meta-title,
		a {
			border-radius: 0;
		}
	}
	.comments-area,
	.related-posts,
	.post-author-bio,
	.posts-navigation,
	.post-navigation {
		margin-top: 30px;
		padding: 30px;
		background-color: $color__white;
		border: 1px solid $color__post_border;
	}
	.related-posts {
		.post-thumbnail {
			img {
				border-radius: 0;
			}
		}
	}
}
.single-post .hentry .entry-footer:not(:empty),
.post-author-bio__title,
.related-posts__header,
.comments-title,
.comment-reply-title {
	border-color: $color__border !important;
}

.posts-list {
	text-align: left;
	&--default {
		border-color: $color__post_border;
		.posts-list__item:not(:first-child) {
			padding-top: 0;
			border: none;
		}
	}
	&--default,
	&--search {
		.posts-list__item {
			border-color: $color__post_border !important;
		}
	}
	.posts-list__item {
		background-color: $color__white;
		border: 1px solid $color__post_border;
		.post-list_header {
			padding: 40px;
			.post__cats {
				margin-bottom: 11px;
				a {
					font-size: 12px;
					padding: 5px 15px;
				}
			}
			.entry-meta {
				font-size: 14px;
				&.entry-meta-main {
					margin-top: 10px;
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: flex-start;
				}
				&.entry-meta-top {
					align-items: flex-start;
					margin-bottom: 0;
					.cherry-trend-views {
						.cherry-trend-views__count {
							&:before {
								font-family: 'FontAwesome';
								content: '\f06e';
								font-size: 16px;
							}
						}
					}
				}
				&.entry-meta-bottom {
					align-items: flex-start;
					.post__tags {
						a {
							font-style: normal;
						}
					}
				}
			}
		}
		.posts-list__item-media {
			.post-thumbnail {
				margin-bottom: 0;
				img {
					border-radius: 0;
				}
			}
		}
		.posts-list__item-content {
			padding: 0 40px;
			.entry-content {
				p {
					font-size: 14px;
					padding-top: 27px;
				}
			}
			.entry-footer {
				.entry-footer-container {
					.post__button-wrap {
						padding-bottom: 35px;
						.btn {
							background-color: transparent !important;
							padding: 0;
						}
					}
				}
				.entry-footer-container:not(:empty) {
					margin-top: 25px;
				}
			}
		}
	}
	&--grid {
		&.card-deck {
			.posts-list__item {
				.post-list_header {
					padding: 40px;
					.post__cats {
						margin-bottom: 6px;
					}
				}
			}
		}
	}
	.home & {
		&--grid {
			&.card-deck {
				.posts-list__item {
					.post-list_header {
						padding: 20px 40px 20px 40px;
						.post__cats {
							margin-bottom: 6px;
						}
					}
				}
			}
		}
	}
	&--masonry {
		.posts-list__item {
			.post-list_header {
				padding: 30px 40px 40px;
				
			}
		}
	}
}
.post__cats a {
	border-radius: 0;
}
.posts-list {
	&--timeline,
	&--default-small-img {
		.posts-list__item {
			.posts-list__item-inner {
				flex-wrap: wrap;
				padding: 40px;
				@include media-breakpoint-down(md) {
					padding: 20px;
				}
				.post-list_header {
					flex: 1 1 100%;
					padding: 0;
				}
				.posts-list__item-media {
					flex: 0 0 auto;
					margin-right: 30px;
					margin-top: 30px;
				}
				.posts-list__item-content {
					flex: 1 1 50%;
					padding: 0;
					margin-top: 30px;
					.entry-content {
						p {
							padding-top: 0;
							margin-top: 0;
						}
					}
				}
			}
		}
	}
	&--timeline {
		.posts-list__item {
			.posts-list__new-date {
				margin-left: 20px;
				margin-bottom: 0;
			}
			.post-timeline-date {
				margin-right: 20px;
				margin-left: 20px;
				margin-top: 20px;
				&:before {
					display: none;
				}
			}
			.posts-list__item-inner {
				flex-basis: calc(100% - 110px);
				max-width: calc(100% - 110px);
				@include media-breakpoint-down(sm) {
					flex-basis: 100%;
					max-width: 100%;
				}
			}
		}
	}
	&--grid-2 {
		.posts-list__item {
			.posts-list__item-inner {
				.posts-list__item-content {
					padding: 40px;
					.entry-footer {
						.entry-footer-container {
							.post__button-wrap {
								padding-bottom: 0;
							}
						}
					}
				}
			}
		}
		.post__cats {
			margin-bottom: auto;
		}
	}
	&--vertical-justify,
	&--masonry,
	&--grid {
		.posts-list__item {
			.posts-list__item-inner {
				text-align: left;
				.posts-list__item-media {
					.post-thumbnail {
						a img {
							border-radius: 0;
						}
					}
				}
			}
		}
	}
	&--vertical-justify {
		.posts-list__item {
			.posts-list__item-inner {
				border: none;
				margin-bottom: 0;
			}
		}
	}
}
.card-container {
	padding: 0;
	border-radius: 0;
	background-color: transparent;
}
.posts-load-more-nav {
	padding-top: 12px;
	padding-bottom: 50px;
	border: none;
	.posts-load-more-btn {
		padding: 15px 50px;
		font-size: 18px;
		background-color: $color__white;
		i {
			display: none;
		}
	}
}
.cherry-trend-rating {
	font-size: 14px;
	.cherry-trend-star {
		font-size: 14px;
		width: 14px;
		height: 14px;
		color: $color_raiting_bg_active;
		&:before {
			font-family: 'FontAwesome';
			content: '\f005';
		}
		&--active {
			&::before {
				color:  $color_raiting_bg;
			}
		}
		&--is-half {
			&::before {
				content: '\f005';
				color:  $color_raiting_bg;
			}
		}
		
		&:hover {
			&,
			& ~ .cherry-trend-star {
				&::before {
					content: '\f005';
				}
			}
		}
	}
}
/* #Elementor */
.elementor-widget-text-editor {
	.elementor-drop-cap {
		font-size: 3.6em;
		line-height: 0.1;
	}
}
.elementor-widget-jet-subscribe-form {
	.elementor-jet-subscribe-form {
		.jet-subscribe-form__form {
			.jet-subscribe-form__input-group {
				position: relative;
				.jet-subscribe-form__submit {
					background-color: transparent;
					position: absolute;
					top: 50%;
					right: 20px;
					transform: translateY(-50%);
					&:hover {
						background-color: transparent;
					}
				}
			}
		}
	}
}
.elementor-jet-posts {
	.jet-posts {
		.jet-posts__item {
			&.col-desk-1 {
				.jet-posts__inner-box {
					.jet-posts__inner-content {
						&.top {
							padding: 31px 40px 36px 40px;
						}
					}
				}
			}
			.jet-posts__inner-box {
				background-color: $color__white;
				border: 1px solid $color__post_border;
				.jet-posts__inner-content {
					&.top {
						padding: 17px 40px 7px 40px;
						.entry-title {
							padding-bottom: 9px;
						}
						.post-meta {
							padding: 0;
							span {
								padding-right: 3px;
							}
						}
					}
				}
				.post-thumbnail {
					margin-bottom: 0;
					img {
						width: 100%;
					}
				}
				.jet-posts__inner-content {
					padding: 0 40px;
					.entry-excerpt {
						padding-top: 38px;
						padding-bottom: 29px;
					}
					.jet-more-wrap {
						.jet-more {
							text-transform: capitalize;
							padding: 0;
							background-color: transparent;
							font-weight: 400;
						}
					}
					.entry-excerpt + .jet-more-wrap {
						padding-bottom: 36px;
					}
				}
			}
		}
	}
}

/* Elements */
blockquote {
	padding-left: 30px;
	p {
		display: inline;
	}
	&:before {
		content: '\f10e';
		font-family: 'FontAwesome';
		font-size: 20px;
		display: inline-block;
		top: 0px;
		left: 0px;
		padding-right: 10px;
	}
	cite {
		font-style: italic;
		font-size: 14px;
	}
	&.quote-bg {
		background-color: $color__white !important;
		border-left: 2px solid;
		border-radius: 0;
		&:before {
			font-size: 24px;
			padding-right: 0;
		}
		p {
			display: block;
		}
	}
	&.quote-type-2.half-box {
		padding-left: 30px;
		border-left: 2px solid;
	}
}
.format-quote .post-featured-content,
.single-format-quote .single-featured-header .post-featured-content {
	background-color: $color__post_border !important;
}
.comments-area {
	padding-bottom: 40px;
}
.has-content-area + .post-respond-button {
	margin-top: 41px;
}
/* Widgets */
.widget-title {
	border: none;
	margin-bottom: 20px;
}
.tagcloud  {
	a {
		border-radius: 0;
		text-transform: capitalize;
	}
}
.widget-title {
	font-size: 26px;
}