/*!
Skin Name: Default
*/

@import "../../../../assets/sass/variables-site/variables-site";
@import "../../../../assets/sass/mixins/mixins-master";

/* #Jet-Menu */
.jet-menu {
	.top-level-link {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: -4px;

			@include border-radius();
		}

		.jet-menu-item-wrapper {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background-color: currentColor;
				opacity: 0;
				transition: .2s;
				transform: translateY(8px);
			}
		}
	}

	.jet-menu-item:hover > .top-level-link,
	.jet-menu-hover > .top-level-link,
	.jet-current-menu-item > .top-level-link {

		.jet-menu-item-wrapper {
			&:after {
				opacity: 1;
				transform: translateY(3px);
			}
		}
	}
}