.btn.btn-lg,
.elementor-widget .elementor-button.elementor-size-lg,
.jet-subscribe-form .jet-subscribe-form__submit.elementor-button.elementor-size-md {
	padding: 12px 28px;
}

.btn,
.post-password-form input[type="submit"],
.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-subscribe .cherry-popup-subscribe__submit,
.popup-type-default .cherry-popup-subscribe__submit,
.wpcf7 input[type="submit"],
.wpcf7 input[type="reset"],
.wpcf7 button,
.elementor-widget .elementor-button {
	@include border-radius(0);
	padding: 10.5px 26px;
}