/*!
Skin Name: Voyagin
*/

@import "../../../../assets/sass/variables-site/variables-site";
@import "../../../../assets/sass/mixins/mixins-master";
@import "../../../../assets/sass/grid/grid";
@import "../../../../assets/sass/typography/icons";
@import "buttons.scss";

/*-------------------------------------------------------------
### Jet Menu
--------------------------------------------------------------*/
.jet-menu {
  > .jet-menu-item {
    > a {
      margin-right: 6px;
      padding: 6px;
    }
  }
  .jet-sub-menu {
    border: 1px solid;
    border-top: 3px solid;
  }
}

/*-------------------------------------------------------------
### Jet Blocks
--------------------------------------------------------------*/
.jet-search {
  &-popup-active {
    .jet-search__popup-trigger {
      opacity: 0;
    }
  }
}

.jet-subscribe-form {
  & &__input {
    padding: 6px 13px 8px 13px;
    @include border-radius(0);
    transition: .3s;
  }
  .jet-subscribe-form--inline-layout & {
    &__submit {
      margin: 0;
    }
  }
}

/*-------------------------------------------------------------
### Jet Elements
--------------------------------------------------------------*/
.jet-slider {
  &__desc {
    a {
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
}

.jet-headline {
  padding-left: 21px;
  position: relative;
  &::before {
    content: '';
    height: 64px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 2px;
  }
}

.post-thumbnail__img,
.elementor .post-thumbnail__img {
  @include border-radius(0);
}

.jet-posts {
  &__inner-content {
    display: flex;
    flex-direction: column;
    .entry-title {
      order: 1;
    }
    .entry-excerpt {
      order: 2;
    }
    .post-meta {
      order: 3;
    }
  }
}

/*-------------------------------------------------------------
### Jet Blog
--------------------------------------------------------------*/
.jet-blog {
  .jet-smart-tiles {
    &__box {
      @include border_radius(0);
    }
    &__box-content-inner {
      display: flex;
      flex-direction: column;
      .jet-smart-tiles__box-title {
        order: -1;
        text-transform: uppercase;
      }
      .jet-smart-tiles__meta {
        text-transform: uppercase;
      }
    }
  }
  .jet-smart-listing {
    &__post {
      &-thumbnail {
        a {
          @include border_radius(0);
        }
      }
    }
  }
  .jet-smart-listing__posts {
    .jet-smart-listing__post {
      &:last-child {
        border-bottom: none;
        .sidebar & {
          border-bottom: none;
        }
      }
    }
  }
  .listing_count & {
    .jet-smart-listing__posts {
      counter-reset: post-list-counter;
      .jet-smart-listing__post {
        position: relative;
        counter-increment: post-list-counter;
        &::before {
          @include border_radius(40px);
          content: counter(post-list-counter);
          height: 40px;
          line-height: 59px;
          position: absolute;
          right: 0;
          text-align: center;
          top: 24px;
          width: 40px;
        }
      }
    }
  }
  .listing_video & {
    .jet-smart-listing__post {
      &-title {
        padding-left: 51px;
        position: relative;
        &::before {
          @include font-awesome-icon;
          content: '\f04b';
          height: 40px;
          left: 0;
          line-height: 40px;
          position: absolute;
          text-align: center;
          top: 7px;
          width: 40px;
        }
      }
    }
  }
  .jet-tumbs-horizontal {
    .jet-blog-playlist {
      &__item {
        &-index-num {
          left: -6px;
          position: absolute;
          top: -6px;
        }
        &-thumb {
          img {
            height: 110px;
          }
        }
      }
    }
  }
  .has-post-thumb {
    .jet-smart-listing__terms-link {
      bottom: 0;
      top: auto;
    }
  }
}

/*-------------------------------------------------------------
### Blog
--------------------------------------------------------------*/
.posts-list--grid-2.card-deck {
  margin: 0;
  .posts-list__item {
    margin-bottom: 30px;
    width: 100%;
    &:not(.format-standard):not(.format-gallery) {
      &:before {
        content: '';
      }
      .entry-title {
        padding-left: 81px;
        position: relative;
        &::before {
          @include font-awesome-icon;
          content: '';
          height: 60px;
          left: -1px;
          line-height: 60px;
          position: absolute;
          text-align: center;
          bottom: 12px;
          width: 60px;
        }
      }
      &.format-video {
        .entry-title {
          &::before {
            content: '\f04b';
          }
        }
      }
      &.format-image {
        .entry-title {
          &::before {
            content: '\f03e';
          }
        }
      }
      &.format-quote {
        .entry-title {
          &::before {
            content: '\f10d';
          }
        }
      }
      &.format-audio {
        .entry-title {
          &::before {
            content: '\f027';
          }
        }
      }
      &.format-link {
        .entry-title {
          &::before {
            content: '\f0c1';
          }
        }
      }
    }
    .post-featured-content {
      margin-bottom: 50px;
    }
    &-content {
      min-height: 377px;
      padding: 20px 32px;
    }
  }
  .has-thumb,
  .format-gallery {
    .posts-list__item-content {
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.7) 0%, rgba(24, 37, 80, 0) 99.21%);
    }
  }
}
.posts-list {
  .posts-list__item {
    margin-bottom: 30px;
    &-media {
      @include border_radius(0);
    }
    &-content {
      @include border_radius(0);
      .entry-meta {
        > * {
          padding-left: 0;
          padding-right: 23.5px;
        }
        &-top {
          margin: 13px 0 0 0;
          .post__cats {
            padding: 0 23.5px 0 0;
            margin: 0;
            a {
              margin: 0;
              padding: 0;
            }
          }
        }
        &-main {
          margin: 8px 0 7px 0;
        }
      }
    }
  }
  + .posts-load-more-nav {
    border: none;
    margin: 0;
    padding: 0;
    .posts-load-more-btn {
      width: 100%;
      padding: 11px 0 10px;
    }
  }
  .blog &,
  .archive & {
    .posts-list__item {
      &-content {
        .entry-meta {
          &-top {
            margin-top: 15px;
          }
          &-main {
            margin: 8px 0 18px 0;
          }
          &-bottom {
            padding: 0 15px;
          }
        }
        &-inline {
          @include media-breakpoint-up(sm) {
            display: flex;
          }
          .entry-content {
            padding-right: 15px;
          }
        }
      }
      &-media {
        .post-thumbnail {
          margin-bottom: 6px;
          &__img {
            @include border_radius(0);
          }
        }
        .post-featured-content {
          margin-bottom: 7px;
        }
      }
    }
    &.posts-list--grid,
    &.posts-list--masonry,
    &posts-list--vertical-justify {
      .posts-list__item-content-inline {
        display: block;
      }
    }
    &.posts-list--timeline,
    &.posts-list--default-small-img {
      .posts-list__item-inner {
        flex-direction: column;
        &-bottom {
          @include media-breakpoint-up(sm) {
            display: flex;
            flex-direction: row;
          }
        }
      }
      .posts-list__item-content-inline {
        display: block;
        padding-left: 15px;
      }
    }
    &.posts-list--default {
      .posts-list__item {
        border-bottom: 1px solid;
        margin: 0 0 22px 0;
        padding: 0 0 29px 0;
        &:not(:first-child) {
          border: none;
          border-bottom: 1px solid;
          margin: 0 0 22px 0;
          padding: 0 0 29px 0;
        }
        &:last-child {
          margin-bottom: 29px;
        }
      }
    }
  }
}

.posts-list,
.post {
  .entry-meta {
    &-top {
      > *:not(:last-child) {
        position: relative;
        &::before {
          content: '';
          height: 11px;
          position: absolute;
          right: 8px;
          top: 0;
          width: 1px;
        }
      }
    }
    &-main {
      > *:not(:last-child) {
        position: relative;
        &::before {
          @include border_radius(50%);
          content: '';
          height: 3px;
          position: absolute;
          right: 10px;
          top: 4px;
          width: 3px;
        }
      }
    }
  }
  .post-gallery {
    .swiper-button-next,
    .swiper-button-prev {
      @include border_radius(0);
    }
    .swiper-container {
      .swiper-button-next,
      .swiper-button-prev {
        @include border_radius(0);
      }
    }
  }
}

.post-featured-content {
  .swiper-button-next,
  .swiper-button-prev {
    @include border-radius(0);
    height: 20px;
    width: 20px;
    &::before {
      @include font-awesome-icon;
      font-size: 8px;
      margin-top: 6px;
    }
  }
  .swiper-button-next {
    &::before {
      content: '\f054';
    }
  }
  .swiper-button-prev {
    right: 46px;
    &::before {
      content: '\f053';
    }
  }
  .swiper-container {
    .swiper-button-next,
    .swiper-button-prev {
      @include border-radius(0);
      height: 20px;
      width: 20px;
      &::before {
        @include font-awesome-icon;
        font-size: 8px;
        margin-top: 6px;
      }
    }
    .swiper-button-next {
      &::before {
        content: '\f054';
      }
    }
    .swiper-button-prev {
      right: 46px;
      &::before {
        content: '\f053';
      }
    }
  }
}

.nav-links {
  .page-numbers {
    @include border-radius(0);
  }
}
.site-content {
  .page-links {
    a,
    > .page-links__item {
      @include border-radius(0);
    }
  }
}

/*-------------------------------------------------------------
### Widget
--------------------------------------------------------------*/
.widget-title {
  border: none;
  line-height: 0.9;
  margin-bottom: 17px;
  padding-left: 21px;
  position: relative;
  &::before {
    content: '';
    height: 64px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 2px;
  }
}

#better-recent-comments {
  .recentcomments {
    padding-bottom: 25px;
    border-bottom: 1px solid;
    margin-bottom: 29px;
    &:last-child {
      border: none;
    }
  }
  .comment-wrap {
    padding-left: 0 !important;
    .avatar {
      height: 40px;
      width: 40px;
    }
    .comment-author-link {
      margin-left: 54px;
    }
    .comment-date {
      left: 54px;
      position: absolute;
      top: 17px;
    }
    .comment-excerpt {
      margin-top: 27px;
    }
  }
}

/*-------------------------------------------------------------
### Single Post
--------------------------------------------------------------*/
.single {
  .post {
    .entry-meta {
      > * {
        padding-left: 0;
        padding-right: 23.5px;
      }
      &-top {
        margin: 13px 0 0 0;
        .post__cats {
          padding: 0 23.5px 0 0;
          margin: 0;
          a {
            margin: 0;
            padding: 0;
          }
        }
      }
      &-main {
        margin: 5px 0 36px 0;
      }
    }
    .entry-header {
      .entry-title {
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 1.36;
        text-transform: none;
      }
    }
    &.hentry {
      .post-thumbnail {
        margin-bottom: 17px;
      }
    }
    blockquote {
      margin-left: 21px;
      line-height: 1.6;
      &.post-format-quote {
        margin: 0 15px;
        min-width: 700px;
      }
      &:before {
        content: none;
      }
      cite {
        margin-top: 19px;
      }
    }
  }
  .site-content__wrap {
    margin-bottom: 80px;
  }
  &.post-template-single-layout-10 {
    .entry-meta {
      &-main {
        .post__date,
        .cherry-trend-views {
          line-height: 1;
        }
        .posted-by {
          text-align: center;
        }
      }
    }
  }
}

.post-template-default,
.archive {
  .site-content__wrap {
    margin-top: 72px;
  }
}

.post-template-single-layout-9 {
  .single-featured-header.author-meta-visible {
    margin-top: 0;
    padding-top: 0;
    .single-featured-header__inner-wrap {
      padding-top: 60px;
    }
  }
}

#toTop {
    @include border-radius(0);
}