/* Custom Big Image Blog Layout */

$card_gutter : 5px;

.posts-list.posts-list--big_image {
  .posts-list__item {
    &.post_format-post-format-audio {
      .posts-list__item-content {
        position: relative;
        padding-top: 50px;
      }
    }

    &.post_format-post-format-video {
      .posts-list__item-media {
        position: relative;
        display: block;
        height: auto;
        .post-featured-content {
          margin-bottom: 0;
        }
      }
      .posts-list__item-content {
        position: relative;
        display: block;
      }
    }
    &.post_format-post-format-quote,
    &.post_format-post-format-link {
      .posts-list__item-content {
        position: relative;
        height: auto;
      }
      .posts-list__item-media {
        position: relative;
        height: auto;
      }
    }
    &.post_format-post-format-quote,
    &.post_format-post-format-link {
      .posts-list__item-inner {
        min-height: 300px;
      }
      @include media-breakpoint-up(lg) {
        .posts-list__item-content {
          padding: 25px 30px 20px 30px;
        }
      }
    }
    margin-bottom: 10px;
  }
  margin-right: -$card_gutter;
  margin-left: -$card_gutter;
  display: flex;
  flex-flow: wrap row;
  .posts-list__item-media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    height: 100%;
  }
  .post-thumbnail {
    &__link,
    &__img {
      height: 100%;
      max-height: 100%;
    }
    height: 100%;
    margin-bottom: 0;
  }
  .posts-list__item-content {
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: auto;
    @include media-breakpoint-up(lg) {
      padding: 25px 10% 20px 30px;
    }
    @include media-breakpoint-down(lg) {
      padding: 20px;
    }
    border-radius: 0;
    bottom: 0;
  }
  article {
    &:nth-child(3n+1) {
      margin-right: $card_gutter;
      margin-left: $card_gutter;
      @include media-breakpoint-up(lg) {
        flex: 0 1 calc(44.2% - 5px * 2);
        max-width: calc(44.2% - 5px * 2);
      }
      @include media-breakpoint-down(lg) {
        flex: 0 1 calc(33% - 5px * 2);
        max-width: calc(33% - 5px * 2);
      }
      @include media-breakpoint-down(md) {
        flex: 0 1 100%;
        max-width: 100%;
      }
    }
    margin-right: $card_gutter;
    margin-left: $card_gutter;
    @include media-breakpoint-up(lg) {
      flex: 0 1 calc(27.9% - 5px * 2);
      max-width: calc(27.9% - 5px * 2);
    }
    @include media-breakpoint-down(lg) {
      flex: 0 1 calc(33% - 5px * 2);
      max-width: calc(33% - 5px * 2);
    }
    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
      max-width: 100%;
    }
    .posts-list__item-inner {
      position: relative;
      height: 100%;
      min-height: 630px;
    }
  }
}

.posts-list.posts-list--big_image {
  .entry-meta-main {
    margin-top: 10px;
    margin-bottom: 11px;
  }
  .entry-meta {
    font-size: 14px;
    &-top {
      margin-bottom: 5px;
    }
  }
  .post_format-post-format-quote .posts-list__item-content {
    height: 100%;
  }
  .single-format-quote .single-featured-header .post-featured-content:not(:empty),
  .single-format-link .single-featured-header .post-featured-content:not(:empty),
  .format-quote .post-featured-content:not(:empty),
  .format-link .post-featured-content:not(:empty) {
    min-height: 110px;
    padding: 25px 15px;
  }
}

.post-gallery .swiper-button-prev,
.post-gallery .swiper-button-next{
  top: 20px;
  bottom: auto;
}

.entry-meta > * {
  text-transform: capitalize;
}

.entry-meta.entry-meta-main > * {
  position: relative;
  &:after {
    content: '•';
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
  }
  &:last-child {
    &:after {
      content: none;
    }
  }
}

.entry-meta.entry-meta-main .posted-by--avatar {
  &:after {
    content: none;
  }
}

.posts-list--default-small-img .posts-list__item {
  @include media-breakpoint-up(md) {
    margin-bottom: 20px;
  }
}

.posts-list--default-small-img {
  .has-featured .posts-list__item-media {
    @include media-breakpoint-up(md) {
      width: 350px;
      margin-right: 25px;
    }
  }
  .post__button {
    padding: 0;
    text-transform: none;
    letter-spacing: 1.5px;
  }
  .entry-footer-container {
    margin-top: 25px;
  }
}

.entry-meta,
.posts-list .entry-summary,
.posts-list .entry-content {
  font-size: 14px;
}

.entry-meta-main {
  margin-top: 1px;
}

.entry-meta {
  margin-top: 3px;
}

.entry-meta {
  margin-top: 0;
  margin-bottom: 3px;
}

.posts-list .entry-content {
  margin-top: 5px;
  line-height: 1.77;
  letter-spacing: 0.3px;
}

.pagination,
.posts-load-more-nav {
  border: none;
  padding-top: 20px;
}

.nav-links .page-numbers,
.woocommerce-pagination .page-numbers,
.site-content .page-links a,
.site-content .page-links > .page-links__item {
  height: 28px;
  width: 29px;
  min-width: 29px;
  line-height: 27px;
  margin: 0 5px 5px 5px;
}

.posts-list--default-small-img .post__button {
  &:hover {
    i {
      margin-left: 10px;
    }
  }
  i {
    transition: .3s ease all;
  }
}

.mirror-effect .elementor-image {
  box-shadow: none;
}