/*!
Skin Name: Investory
*/
@import "variables/variables";
@import "variables/icons";

@import "grid/grid";

@import "plugins/elementor";
@import "plugins/jet-elements";

@import "post/post";

/* Basic styles */

.post__cats a {
  border-radius: $border-radius;
  padding: 0 3px;
  text-transform: none;
}

.btn-primary {
  border-width: 1px;
  border-style: solid;
}

.btn,
form button,
form input[type='button'],
form input[type='reset'],
form input[type='submit'],
.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-subscribe .cherry-popup-subscribe__submit,
.popup-type-default .cherry-popup-subscribe__submit,
.elementor-widget .elementor-button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  border-radius: $border-radius;
  text-transform: none;
}

%btn {
  padding: $button__indents;
}

p {
  margin: 0 0 26px;
}

ul, ol {
  @include media-breakpoint-up(md) {
    margin-left: 30px;
  }
}

@mixin btn {
  @extend %btn;
}

%btn-lg {
  padding: $button__indents_y + 3.5px $button__indents_x + 10px;
  font-size: 16px;
}

.btn {
  @include btn;

  &.btn-fullwidth {
    width: 100%;
  }

  &.btn-lg{
    @extend %btn-lg;
  }
}
