/*!
Skin Name: Imagicy
*/
/*Button*/
.add_to_cart_button,
.btn,
a.btn,
.elementor-widget .elementor-button,
.popup-type-default .cherry-popup-subscribe__submit,
.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-subscribe .cherry-popup-subscribe__submit,
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce a.button.loading,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce input.button:disabled,
.woocommerce input.button[disabled]:disabled,
form button,
form input[type=button],
form input[type=reset],
form input[type=submit],
.elementor-widget .elementor-button.elementor-size-md,
.btn.btn-lg,
form button.btn-lg,
form input[type='button'].btn-lg,
form input[type='reset'].btn-lg,
form input[type='submit'].btn-lg,
.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-subscribe .cherry-popup-subscribe__submit,
.popup-type-default .cherry-popup-subscribe__submit,
.elementor-widget .elementor-button.elementor-size-lg,
.jet-subscribe-form .jet-subscribe-form__submit.elementor-button.elementor-size-md {
  font-size: 18px;
  letter-spacing: 0.02em;
  padding: 21px 53px;
  border-radius: 0;
  line-height: 1em;
}

.search-form__submit[type=submit] {
  padding-bottom: 10px;
}

.jet-subscribe-form .jet-subscribe-form__submit.elementor-button.elementor-size-md {
  padding: 0;
}

/* #Menu */
.main-navigation .menu > li > a {
  background-color: transparent;
}

.main-navigation .menu > li > a:before {
  display: none;
}

.main-navigation .menu > li:hover > a, .main-navigation .menu > li.current_page_item > a, .main-navigation .menu > li.current_page_ancestor > a, .main-navigation .menu > li.current-menu-item > a, .main-navigation .menu > li.current-menu-ancestor > a {
  background-color: transparent;
}

/* #Jet-Menu */
.jet-menu-inner .jet-menu > li > a {
  background-color: transparent;
  padding: 11px 12px;
}

.jet-menu-inner .jet-menu > li > a:before {
  display: none;
}

.jet-menu-inner .jet-menu > li > a .jet-menu-item-wrapper:after {
  display: none;
}

.jet-menu-inner .jet-menu > li:hover > a, .jet-menu-inner .jet-menu > li.jet-menu-hover > a, .jet-menu-inner .jet-menu > li.jet-current-menu-item > a {
  background-color: transparent;
}

.jet-menu-inner .jet-menu > li .jet-sub-menu {
  border: none;
}

.jet-menu-inner .jet-menu > li .jet-sub-menu .jet-menu-item > a {
  padding: 5px 20px;
  font-size: 12px;
}

.jet-menu-inner .jet-menu .top-level-link {
  position: relative;
}

.jet-menu-inner .jet-menu .top-level-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -4px;
  border-radius: 3px;
}

.jet-menu-inner .jet-menu .top-level-link .jet-menu-item-wrapper {
  position: relative;
}

.jet-menu-inner .jet-menu .top-level-link .jet-menu-item-wrapper:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  opacity: 0;
  transition: .2s;
  transform: translateY(8px);
}

.jet-menu-inner .jet-menu .jet-menu-item:hover > .top-level-link .jet-menu-item-wrapper:after,
.jet-menu-inner .jet-menu .jet-menu-hover > .top-level-link .jet-menu-item-wrapper:after,
.jet-menu-inner .jet-menu .jet-current-menu-item > .top-level-link .jet-menu-item-wrapper:after {
  opacity: 1;
  transform: translateY(3px);
}

.elementor .post-thumbnail img {
  border-radius: 0;
}

/* #Post */
.single-post .post {
  margin-top: 40px;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #f2f5f7;
}

.single-post .post .post-thumbnail {
  margin-bottom: 55px;
}

.single-post .post .entry-header {
  margin-top: 14px;
  margin-bottom: 0;
}

.single-post .post .entry-header h1 {
  margin-bottom: 15px;
  text-align: left;
}

.single-post .post .entry-meta.entry-meta-main-top .post__cats a {
  font-size: 12px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
  border-radius: 0;
}

.single-post .post .entry-meta.entry-meta-main-middle {
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding-bottom: 11px;
}

.single-post .post .entry-meta.entry-meta-main-middle .posted-by__content {
  margin-bottom: -4px;
}

.single-post .post .entry-meta.entry-meta-main-bottom {
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 15px 0 20px;
  border-top: 1px solid #ebeef0;
}

.single-post .post .entry-meta.entry-meta-main-bottom .inner_bootom_meta {
  font-size: 12px;
}

.single-post .post .entry-meta.entry-meta-main-bottom .inner_bootom_meta:first-child > * {
  padding-right: 20px;
}

.single-post .post .entry-meta.entry-meta-main-bottom .inner_bootom_meta .cherry-trend-rating {
  display: inline-block;
}

.single-post .post .entry-meta.entry-meta-main-bottom .inner_bootom_meta .cherry-trend-rating .cherry-trend-star {
  font-size: 14px;
  width: 14px;
  height: 14px;
  color: #58bcb3;
}

.single-post .post .entry-meta.entry-meta-main-bottom .inner_bootom_meta .cherry-trend-rating .cherry-trend-star:before {
  font-family: 'FontAwesome';
  content: '\f005';
}

.single-post .post .entry-meta.entry-meta-main-bottom .inner_bootom_meta .cherry-trend-rating .cherry-trend-star--active {
  color: #c3c3c9;
}

.single-post .post .post__tags a {
  font-style: normal;
}

.single-post .hentry .post__tags .meta-title,
.single-post .hentry .post__tags a {
  border-radius: 0;
}

.single-post .comments-area,
.single-post .related-posts,
.single-post .post-author-bio,
.single-post .posts-navigation,
.single-post .post-navigation {
  margin-top: 30px;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #f2f5f7;
}

.single-post .related-posts .post-thumbnail img {
  border-radius: 0;
}

.single-post .hentry .entry-footer:not(:empty),
.post-author-bio__title,
.related-posts__header,
.comments-title,
.comment-reply-title {
  border-color: #ebeef0 !important;
}

.posts-list {
  text-align: left;
}

.posts-list--default {
  border-color: #f2f5f7;
}

.posts-list--default .posts-list__item:not(:first-child) {
  padding-top: 0;
  border: none;
}

.posts-list--default .posts-list__item, .posts-list--search .posts-list__item {
  border-color: #f2f5f7 !important;
}

.posts-list .posts-list__item {
  background-color: #ffffff;
  border: 1px solid #f2f5f7;
}

.posts-list .posts-list__item .post-list_header {
  padding: 40px;
}

.posts-list .posts-list__item .post-list_header .post__cats {
  margin-bottom: 11px;
}

.posts-list .posts-list__item .post-list_header .post__cats a {
  font-size: 12px;
  padding: 5px 15px;
}

.posts-list .posts-list__item .post-list_header .entry-meta {
  font-size: 14px;
}

.posts-list .posts-list__item .post-list_header .entry-meta.entry-meta-main {
  margin-top: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
}

.posts-list .posts-list__item .post-list_header .entry-meta.entry-meta-top {
  -ms-flex-align: start;
      align-items: flex-start;
  margin-bottom: 0;
}

.posts-list .posts-list__item .post-list_header .entry-meta.entry-meta-top .cherry-trend-views .cherry-trend-views__count:before {
  font-family: 'FontAwesome';
  content: '\f06e';
  font-size: 16px;
}

.posts-list .posts-list__item .post-list_header .entry-meta.entry-meta-bottom {
  -ms-flex-align: start;
      align-items: flex-start;
}

.posts-list .posts-list__item .post-list_header .entry-meta.entry-meta-bottom .post__tags a {
  font-style: normal;
}

.posts-list .posts-list__item .posts-list__item-media .post-thumbnail {
  margin-bottom: 0;
}

.posts-list .posts-list__item .posts-list__item-media .post-thumbnail img {
  border-radius: 0;
}

.posts-list .posts-list__item .posts-list__item-content {
  padding: 0 40px;
}

.posts-list .posts-list__item .posts-list__item-content .entry-content p {
  font-size: 14px;
  padding-top: 27px;
}

.posts-list .posts-list__item .posts-list__item-content .entry-footer .entry-footer-container .post__button-wrap {
  padding-bottom: 35px;
}

.posts-list .posts-list__item .posts-list__item-content .entry-footer .entry-footer-container .post__button-wrap .btn {
  background-color: transparent !important;
  padding: 0;
}

.posts-list .posts-list__item .posts-list__item-content .entry-footer .entry-footer-container:not(:empty) {
  margin-top: 25px;
}

.posts-list--grid.card-deck .posts-list__item .post-list_header {
  padding: 40px;
}

.posts-list--grid.card-deck .posts-list__item .post-list_header .post__cats {
  margin-bottom: 6px;
}

.home .posts-list--grid.card-deck .posts-list__item .post-list_header {
  padding: 20px 40px 20px 40px;
}

.home .posts-list--grid.card-deck .posts-list__item .post-list_header .post__cats {
  margin-bottom: 6px;
}

.posts-list--masonry .posts-list__item .post-list_header {
  padding: 30px 40px 40px;
}

.post__cats a {
  border-radius: 0;
}

.posts-list--timeline .posts-list__item .posts-list__item-inner, .posts-list--default-small-img .posts-list__item .posts-list__item-inner {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px;
}

@media (max-width: 991px) {
  .posts-list--timeline .posts-list__item .posts-list__item-inner, .posts-list--default-small-img .posts-list__item .posts-list__item-inner {
    padding: 20px;
  }
}

.posts-list--timeline .posts-list__item .posts-list__item-inner .post-list_header, .posts-list--default-small-img .posts-list__item .posts-list__item-inner .post-list_header {
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
  padding: 0;
}

.posts-list--timeline .posts-list__item .posts-list__item-inner .posts-list__item-media, .posts-list--default-small-img .posts-list__item .posts-list__item-inner .posts-list__item-media {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  margin-right: 30px;
  margin-top: 30px;
}

.posts-list--timeline .posts-list__item .posts-list__item-inner .posts-list__item-content, .posts-list--default-small-img .posts-list__item .posts-list__item-inner .posts-list__item-content {
  -ms-flex: 1 1 50%;
      flex: 1 1 50%;
  padding: 0;
  margin-top: 30px;
}

.posts-list--timeline .posts-list__item .posts-list__item-inner .posts-list__item-content .entry-content p, .posts-list--default-small-img .posts-list__item .posts-list__item-inner .posts-list__item-content .entry-content p {
  padding-top: 0;
  margin-top: 0;
}

.posts-list--timeline .posts-list__item .posts-list__new-date {
  margin-left: 20px;
  margin-bottom: 0;
}

.posts-list--timeline .posts-list__item .post-timeline-date {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.posts-list--timeline .posts-list__item .post-timeline-date:before {
  display: none;
}

.posts-list--timeline .posts-list__item .posts-list__item-inner {
  -ms-flex-preferred-size: calc(100% - 110px);
      flex-basis: calc(100% - 110px);
  max-width: calc(100% - 110px);
}

@media (max-width: 767px) {
  .posts-list--timeline .posts-list__item .posts-list__item-inner {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}

.posts-list--grid-2 .posts-list__item .posts-list__item-inner .posts-list__item-content {
  padding: 40px;
}

.posts-list--grid-2 .posts-list__item .posts-list__item-inner .posts-list__item-content .entry-footer .entry-footer-container .post__button-wrap {
  padding-bottom: 0;
}

.posts-list--grid-2 .post__cats {
  margin-bottom: auto;
}

.posts-list--vertical-justify .posts-list__item .posts-list__item-inner, .posts-list--masonry .posts-list__item .posts-list__item-inner, .posts-list--grid .posts-list__item .posts-list__item-inner {
  text-align: left;
}

.posts-list--vertical-justify .posts-list__item .posts-list__item-inner .posts-list__item-media .post-thumbnail a img, .posts-list--masonry .posts-list__item .posts-list__item-inner .posts-list__item-media .post-thumbnail a img, .posts-list--grid .posts-list__item .posts-list__item-inner .posts-list__item-media .post-thumbnail a img {
  border-radius: 0;
}

.posts-list--vertical-justify .posts-list__item .posts-list__item-inner {
  border: none;
  margin-bottom: 0;
}

.card-container {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
}

.posts-load-more-nav {
  padding-top: 12px;
  padding-bottom: 50px;
  border: none;
}

.posts-load-more-nav .posts-load-more-btn {
  padding: 15px 50px;
  font-size: 18px;
  background-color: #ffffff;
}

.posts-load-more-nav .posts-load-more-btn i {
  display: none;
}

.cherry-trend-rating {
  font-size: 14px;
}

.cherry-trend-rating .cherry-trend-star {
  font-size: 14px;
  width: 14px;
  height: 14px;
  color: #58bcb3;
}

.cherry-trend-rating .cherry-trend-star:before {
  font-family: 'FontAwesome';
  content: '\f005';
}

.cherry-trend-rating .cherry-trend-star--active::before {
  color: #c3c3c9;
}

.cherry-trend-rating .cherry-trend-star--is-half::before {
  content: '\f005';
  color: #c3c3c9;
}

.cherry-trend-rating .cherry-trend-star:hover::before,
.cherry-trend-rating .cherry-trend-star:hover ~ .cherry-trend-star::before {
  content: '\f005';
}

/* #Elementor */
.elementor-widget-text-editor .elementor-drop-cap {
  font-size: 3.6em;
  line-height: 0.1;
}

.elementor-widget-jet-subscribe-form .elementor-jet-subscribe-form .jet-subscribe-form__form .jet-subscribe-form__input-group {
  position: relative;
}

.elementor-widget-jet-subscribe-form .elementor-jet-subscribe-form .jet-subscribe-form__form .jet-subscribe-form__input-group .jet-subscribe-form__submit {
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.elementor-widget-jet-subscribe-form .elementor-jet-subscribe-form .jet-subscribe-form__form .jet-subscribe-form__input-group .jet-subscribe-form__submit:hover {
  background-color: transparent;
}

.elementor-jet-posts .jet-posts .jet-posts__item.col-desk-1 .jet-posts__inner-box .jet-posts__inner-content.top {
  padding: 31px 40px 36px 40px;
}

.elementor-jet-posts .jet-posts .jet-posts__item .jet-posts__inner-box {
  background-color: #ffffff;
  border: 1px solid #f2f5f7;
}

.elementor-jet-posts .jet-posts .jet-posts__item .jet-posts__inner-box .jet-posts__inner-content.top {
  padding: 17px 40px 7px 40px;
}

.elementor-jet-posts .jet-posts .jet-posts__item .jet-posts__inner-box .jet-posts__inner-content.top .entry-title {
  padding-bottom: 9px;
}

.elementor-jet-posts .jet-posts .jet-posts__item .jet-posts__inner-box .jet-posts__inner-content.top .post-meta {
  padding: 0;
}

.elementor-jet-posts .jet-posts .jet-posts__item .jet-posts__inner-box .jet-posts__inner-content.top .post-meta span {
  padding-right: 3px;
}

.elementor-jet-posts .jet-posts .jet-posts__item .jet-posts__inner-box .post-thumbnail {
  margin-bottom: 0;
}

.elementor-jet-posts .jet-posts .jet-posts__item .jet-posts__inner-box .post-thumbnail img {
  width: 100%;
}

.elementor-jet-posts .jet-posts .jet-posts__item .jet-posts__inner-box .jet-posts__inner-content {
  padding: 0 40px;
}

.elementor-jet-posts .jet-posts .jet-posts__item .jet-posts__inner-box .jet-posts__inner-content .entry-excerpt {
  padding-top: 38px;
  padding-bottom: 29px;
}

.elementor-jet-posts .jet-posts .jet-posts__item .jet-posts__inner-box .jet-posts__inner-content .jet-more-wrap .jet-more {
  text-transform: capitalize;
  padding: 0;
  background-color: transparent;
  font-weight: 400;
}

.elementor-jet-posts .jet-posts .jet-posts__item .jet-posts__inner-box .jet-posts__inner-content .entry-excerpt + .jet-more-wrap {
  padding-bottom: 36px;
}

/* Elements */
blockquote {
  padding-left: 30px;
}

blockquote p {
  display: inline;
}

blockquote:before {
  content: '\f10e';
  font-family: 'FontAwesome';
  font-size: 20px;
  display: inline-block;
  top: 0px;
  left: 0px;
  padding-right: 10px;
}

blockquote cite {
  font-style: italic;
  font-size: 14px;
}

blockquote.quote-bg {
  background-color: #ffffff !important;
  border-left: 2px solid;
  border-radius: 0;
}

blockquote.quote-bg:before {
  font-size: 24px;
  padding-right: 0;
}

blockquote.quote-bg p {
  display: block;
}

blockquote.quote-type-2.half-box {
  padding-left: 30px;
  border-left: 2px solid;
}

.format-quote .post-featured-content,
.single-format-quote .single-featured-header .post-featured-content {
  background-color: #f2f5f7 !important;
}

.comments-area {
  padding-bottom: 40px;
}

.has-content-area + .post-respond-button {
  margin-top: 41px;
}

/* Widgets */
.widget-title {
  border: none;
  margin-bottom: 20px;
}

.tagcloud a {
  border-radius: 0;
  text-transform: capitalize;
}

.widget-title {
  font-size: 26px;
}

/*# sourceMappingURL=style.css.map */
