/* Dynamic styles */

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: $regular_link_hover_color;
}

.posts-list--default-small-img .post__button {
    color: $regular_link_color;
    background-color: transparent;
}

.posts-list--default-small-img .post__button:hover {
    color: $regular_link_hover_color;
    background-color: transparent;
}

/* Custom Blog layout styles */

.posts-list.posts-list--big_image .posts-list__item-content {
    background-color: @alpha($dark_color,55);
}

.posts-list.posts-list--big_image .entry-title a:hover {
    color: $regular_link_hover_color;
}

.invert .post-format-link:not(:hover) {
    color: $regular_link_color;
}

.posts-list.posts-list--big_image .post_format-post-format-gallery .posts-list__item-content {
    background-color: $dark_color;
}

/* Plugins styles */

.jet-smart-listing__heading {
    border-bottom-color: $grey_color_1;
}

.jet-smart-listing__heading:after {
    background-color: $regular_accent_color_1;
}

.jet-smart-listing.columns-1.has-featured-position-top .jet-smart-listing__post:after {
    background-color: $grey_color_1;
}

.jet-smart-listing__posts {
    border-top-color: $grey_color_1;
}

.jet-blog-playlist__heading, .jet-blog-playlist__items {
    background-color: transparent;
}

.jet-blog-playlist__item-duration {
    background-color: @alpha($dark_color,70);
}

.site-content .page-links a:hover,
.site-content .page-links > .page-links__item,
.nav-links a.page-numbers:hover,
.nav-links .page-numbers.current,
.woocommerce-pagination a.page-numbers:hover,
.woocommerce-pagination .page-numbers.current {
    background-color: $regular_accent_color_1;
    border-color: $regular_accent_color_1;
    color: $light_color;
}

.site-content .page-links a,
.nav-links .page-numbers,
.woocommerce-pagination .page-numbers {
    background-color: transparent;
    border-color: $regular_link_color;
    color: $regular_link_color;
}

.tagcloud a {
    font-weight: $h6_font_weight;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

.breadcrumbs__item-target, .breadcrumbs__item-sep {
    color: $dark_color;
}

.post-template-single-layout-2 .single-featured-header__meta-box,
.post-template-single-layout-9 .single-featured-header__inner-wrap {
    background-color: $regular_accent_color_2;
}