.btn,
form button,
form input[type='button'],
form input[type='reset'],
form input[type='submit'],
.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-subscribe .cherry-popup-subscribe__submit,
.popup-type-default .cherry-popup-subscribe__submit,
.elementor-widget .elementor-button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button{
	border-radius: 0;
	padding: 8px 42px;
}