/*!
Skin Name: Fashion
*/
@import "../../../../assets/sass/variables-site/_colors.scss";
@import "../../../../assets/sass/typography/icons";
@import "buttons.scss";

.posts-list {
	.cherry-trend-views__count:before {
		display: none;
	}

	.cs-share--animate .cs-share__list {
		position: static;
		transform: translate3d(0, 0, 0);
		padding: 0;
		box-shadow: none;
		opacity: 1;
		visibility: visible;
		background: transparent;
		.cs-share__item {
			margin-right: 12px;
		}

		.cs-share__link:before {
			font-size: 20px;
		}
	}

	.post__tags {
		a {
			font-style: normal;
			& + a {
				margin-left: 5px;
			}
			&:before {
				content: "#";
			}
		}
	}

	&__item {
		text-align: center;
		.entry-meta {
			margin-left: -11px;
			margin-right: -11px;
			justify-content: center;

			& > * {
				padding-left: 11px;
				padding-right: 11px;
			}

			&-top,
			&-main {
				> *:not(:last-child) {
					position: relative;
					&:after {
						content: '';
						display: inline-block;
						width: 2px;
						height: 2px;
						vertical-align: middle;
						margin-left: 20px;
					}
				}
			}
			&-top {
				margin-bottom: 6px;
			}
			&-main {
				margin-top: 15px;
			}
		}

		.entry-footer-container {
			margin-top: 8px;
			justify-content: center;
			flex-direction: column;
			> * + * {
				margin-top: 16px;
			}
		}

		.post__cats {
			margin-bottom: 0;
			a {
				padding: 0;
				margin-bottom: 0;
				&, &:hover {
					background-color: transparent;
				}
			}
		}

		.entry-title {
			letter-spacing: 0;
			text-transform: none;
		}
	}

	&--grid,
	&--masonry {
		.entry-meta-top {
			flex-wrap: wrap;
			.post__cats,
			.cherry-trend-rating {
				width: 100%;
				flex-basis: 100%;
				&:after {
					display: none;
				}
			}
		}

		.entry-meta-bottom {
			margin-top: 5px;
		}

		.entry-summary > *:first-child,
		.entry-content > *:first-child {
			margin-top: 6px;
		}

		.post-thumbnail,
		.post-featured-content {
			margin-bottom: 14px;
		}
		.entry-meta-main {
			margin-top: 8px;
		}

		.posts-list__item {
			padding-bottom: 30px;
			border-bottom-style: solid;
			border-bottom-width: 1px;


		}
		&.card-deck--2-cols {
			.posts-list__item:nth-last-child(1),
			.posts-list__item:nth-last-child(2) {
				border-bottom: none;
				padding-bottom: 0;
			}
		}
		&.card-deck--3-cols {
			.posts-list__item:nth-last-child(1),
			.posts-list__item:nth-last-child(2),
			.posts-list__item:nth-last-child(3) {
				border-bottom: none;
				padding-bottom: 0;
			}
		}
	}

	&--grid-2 .format-gallery .post__cats {
		padding-right: 0;
	}
}

.post__cats a{
	padding-left: 0;
	padding-right: 0;
}

.single-post .post__cats a{
	border-radius: 0;
}

.post-thumbnail__img,
.elementor .post-thumbnail__img,
.post-gallery,
.posts-list--grid-2 .posts-list__item-content{
	border-radius: 0;
}

.post-thumbnail,
.elementor .elementor-widget .hentry .post-thumbnail {
	margin-bottom: 17px;

}

.post-gallery {
	.swiper-button-prev,
	.swiper-button-next {
		top: 50%;
		transform: translateY(-50%);
		border-radius: 0;
		height: 40px;
		width: 20px;
		line-height: 40px;
		font-size: 22px;
	}

	.swiper-button-prev {
		left: 0;
		right: auto;
		&:before {
			content: '\f141';
		}
	}
	.swiper-button-next {
		right: 0;
		&:before {
			content: '\f142';
		}
	}
}

.posts-list--grid-2 .format-gallery .post-gallery .swiper-button-prev,
.posts-list--grid-2 .format-gallery .post-gallery .swiper-button-next {
	top: 50%;
}

.wp-video {
	width: 100%;
}

.post-format-link {
	&:before {
		display: block;
		content: '\f339';
		@include material-design-icons;
		font-size: 30px;
		margin-bottom: 10px;
	}
}

.single-format-quote .single-featured-header .post-featured-content:not(:empty),
.single-format-link .single-featured-header .post-featured-content:not(:empty),
.format-quote .post-featured-content:not(:empty),
.format-link .post-featured-content:not(:empty) {
	border-radius: 0;
}

blockquote:before {
	font-size: 34px;
}

.posts-list:not(.posts-list--default) .post-format-quote {
	font-size: 18px;
}

.post-timeline-date__date,
.post-timeline-date__time {
	border-radius: 0;
	font-weight: bold;
}

.post-timeline-date__date {
	padding: 0;
}

.post-timeline-date__link {
	width: 80px;
}

.posts-list--timeline .posts-list__item-inner {
	flex-basis: calc(100% - 100px);
	max-width: calc(100% - 100px);
}

@media (min-width: 768px) {
	.post-timeline-date__link {
		width: 100px;
	}

	.posts-list--timeline .posts-list__item-inner {
		flex-basis: calc(100% - 120px);
		max-width: calc(100% - 120px);
	}
}

.jet-smart-tiles{
	&__box{
		border-radius: 0;
		&-title{
			text-align: center;
			order:-1;
			margin-bottom: 10px;
		}
		&-content-inner{
			display: flex;
			flex-direction: column;
		}
	}

	&__terms{
		margin-bottom: 13px;
	}

	&__meta{
		margin-bottom: 0;
	}

	a.jet-smart-tiles__terms-link{
		background-color: transparent;
	}

	&-wrap .jet-blog-arrow{
		width: 30px;
		height: 60px;
		top: calc(50% - 30px);
		font-size: 22px;
	}
}

.jet-smart-listing{
	.smart-listing-sidebar &{
		.jet-smart-listing__post{
			margin-bottom: 20px;
			margin-top: 0;
			&:last-child{
				margin-bottom: 0;
			}
			& + .jet-smart-listing__post{
				padding-top: 20px;
				margin-top: 0;
				&:before{
					content:'';
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					display: inline-block;
					width: 50px;
					height: 1px;
					top: 0;
					background: #dddddd;
				}
			}
		}
	}

	.has-thumb-postion-top{
		justify-content: center;
		.jet-smart-listing__post-thumbnail{
			order:-1;
			margin-bottom: 12px;
			.has-thumb-postion-top &{
				margin-bottom: 12px;
			}
		}

		.jet-smart-listing__terms{
			margin-bottom: 5px;
			text-align: center;
			flex-basis:100%;
		}

		.jet-smart-listing__post-content{
			margin-top: 0;
		}

		.jet-smart-listing__terms-link{
			position: static;
			padding: 0;
			margin: 0;
			background: transparent;
		}

		.jet-smart-listing__post-title{
			text-align: center;
		}
	}

	&__post-thumbnail a,
	&__featured.featured-layout-boxed{
		border-radius:0;
	}

	&__featured{
		&-content{
			text-align: center;
		}
		&.featured-layout-boxed .jet-smart-listing__terms-link{
			left: 50%;
			transform: translateX(-50%);
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.jet-blog-playlist__item{
	padding: 15px;
}

.jet-blog-playlist__items-list{
	padding-top: 15px;
}

.posts-list{
	&__item-content{
		display: flex;
		flex-direction:column;
		align-items: center;
		justify-content: center;

		.post__cats{
			a + a{
				margin-left: 10px;
			}
		}
	}
	&--default-small-img{
		.posts-list__item{
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom-style:solid;
			border-bottom-width:1px;
		}
		.has-featured .posts-list__item-media{
			@media (min-width: 1200px) {
				width: 340px;
			}
			.post-thumbnail{
				@media (min-width: 768px) {
					margin-bottom: 0;
				}
			}
		}
	}
}

.jet-subscribe-form .jet-subscribe-form__input{
	border-radius: 0;
}

.pagination, .posts-load-more-nav{
	border-top:none;
}


.elementor-social-icons-wrapper{
	margin-top: -2.5px;
	margin-bottom: -2.5em;
}
.elementor-icon.elementor-social-icon{
	margin-top: 2.5px;
	margin-bottom: 2.5px;
}

.jet-review__field{
	line-height: 2;
}

/*Menu*/


ul.jet-menu > .jet-menu-item:first-child > .top-level-link{
	border-radius: 0;
}

.main-navigation .menu,
.main-navigation .menu .sub-menu,
.jet-sub-menu,
.jet-mobile-menu-active .jet-menu-container.jet-mobile-menu{
	border: none;
}

.jet-sub-menu{
	padding-top: 14px;
	padding-bottom: 14px;
	& > li > a{
		font-size: 14px;
		line-height: 26px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.jet-menu-title{
	font-weight: 400;
}

.jet-tabs .jet-tabs__label-text{
	text-transform: none;
}

.jet-custom-nav>.jet-custom-nav__item>a,
.jet-custom-nav .jet-dropdown-arrow{
	background-color: transparent!important;
}

.jet-custom-nav .menu-item{
	a{
		padding-left: 20px;
		&:before{
			position: absolute;
			top:15px;
			left: 0;
			content:'\f142';
			@include material-design-icons;
		}
	}

	.jet-custom-nav__sub{
		padding: 5px 20px;
	}
}

.jet-sub-menu,
.jet-sub-mega-menu{
	border:none;
}

.pagination, .posts-load-more-nav{
	@media (min-width: 1200px) {
		padding-top: 57px;
	}
}

#toTop{
	border-radius: 0;
}

.jet-instagram-gallery__content{
	&:before{
		background-color: rgba($color__dark, 0.5);
	}
	&:after{
		content:'\f415';
		@include material-design-icons;
		font-size: 30px;
		color: $color__white;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
}

#toTop:before{
	font-size: 44px;
}