// General styles
%btn {
	display: inline-block;
	max-width: 100%;
	padding: $button__indents;
	overflow: hidden;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: none;
	@include border-radius();
	transition: .1s;

	&:focus {
		outline: 0;
	}
}

@mixin btn {
	@extend %btn;
}

%btn-lg {
	padding: $button__indents_y + 3.5px $button__indents_x + 10px;
	font-size: 16px;
}

.btn {
	@include btn;

	&.btn-fullwidth {
		width: 100%;
	}

	&.btn-lg{
		@extend %btn-lg;
	}

	i {
		margin-left: 5px;
	}
}

.btn-link {
	display: inline-block;
	font-size: 14px;
	line-height: 1.5;
	text-transform: uppercase;

	i {
		margin-left: 5px;
	}
}