/*!
Skin Name: Gastronomix
*/

@import "variables/variables";
@import "grid/grid";
@import "card/card";
@import "plugins/jet_plugins";

/* Header Styles */
.jet-nav__sub {
  z-index: 1000;
}

.sidebar-title {

}

.jet-search__submit-icon,
.jet-search__popup-trigger-icon,
.jet-search__popup-close-icon {
  font-size: 15px;
}

.jet-nav .menu-item-link.menu-item-link-top {
  padding: 0;
}

.jet-nav .menu-item.jet-nav__item {
  margin: 5px 15px;
  @include media-breakpoint-down(md) {
    margin: 5px 10px;
  }
}

.post-gallery,
.post-thumbnail__img,
.elementor .post-thumbnail__img,
.jet-smart-listing__post-thumbnail a,
.nav-links .page-numbers,
.woocommerce-pagination .page-numbers,
.site-content .page-links a,
.site-content .page-links > .page-links__item,
.btn, .post-password-form input[type="submit"],
.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-subscribe .cherry-popup-subscribe__submit,
.popup-type-default .cherry-popup-subscribe__submit,
.wpcf7 input[type="submit"], .wpcf7 input[type="reset"],
.wpcf7 button, .elementor-widget .elementor-button,
.woocommerce #respond input#submit, .woocommerce a.button,
.woocommerce button.button, .woocommerce input.button,
input, select, textarea {
  border-radius: 0;
}

.entry-meta {
  margin-left: -11.5px;
  margin-right: -11.5px;
  > * {
    padding-left: 11.5px;
    padding-right: 11.5px;
  }
}
.jet-subscribe-form .jet-subscribe-form__input {
  color: #939398;
}

.btn,
.btn-link,
.post-password-form input[type="submit"],
.wpcf7 button, .wpcf7 input[type="submit"],
.wpcf7 input[type="reset"],
.elementor-widget .elementor-button {
  font-weight: 400;
}

.sidebar-title {
  .elementor-widget-container {
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: auto;
      background-color: #eaeaea;
      z-index: -1;
      height: 1px;
    }
  }
  .elementor-heading-title {
    display: inline-block;
    background: white;
    padding: 0 16px;
  }
}

.no_title_widget {
  .widget-title {
    display: none;
  }
}

.tagcloud a {
  padding: 4px 11px;
  margin: 4px 2px 6px;
}

.jet-nav__sub {
  @include media-breakpoint-up(md) {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.jet-nav .menu-item-link {
  padding: 0;
}
.menu-item.jet-nav-hover>.jet-nav__sub.jet-nav-depth-0,
.menu-item.jet-nav-hover-out>.jet-nav__sub.jet-nav-depth-0 {
  top: 150%;
}