.jet-smart-listing {
  &.has-featured-position-top {
    .jet-smart-listing__meta {
      font-size: 12px;
    }
  }
   &.columns-1.has-featured-position-top {
    .jet-smart-listing__post {
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        width: 75%;
      }
      &:last-child {
        &:after {
          content: none;
        }
      }
    }
  }
  &__post-excerpt.post-excerpt-featured {
    font-size: 16px;
    line-height: 1.55;
    letter-spacing: 0.3px;
    margin-bottom: 23px;
  }
  &__heading {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 1px;
    margin-bottom: 20px;
    position: relative;
    &:after {
      content: '';
      bottom: 0;
      left: 0;
      height: 1px;
      position: absolute;
      width: 90px;
      transform: translateY(100%);
    }
  }
  &__featured {
    margin-bottom: 12px;
  }
  &__post-title {
    font-weight: bold;
    margin-top: 6px;
  }
  &__posts {
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 3px;
  }
  &__post {
    padding-top: 14px;
    padding-bottom: 15px;
    margin: 0;
  }
  &__meta-item {
    position: relative;
    &:before {
      content: '•';
      position: absolute;
      top: 0;
      right: 10px;
      left: auto;
    }
    &:last-child {
      &:before {
        content: none;
      }
    }
  }
}

.featured-img-top.has-post-thumb .jet-smart-listing__featured-content {
  margin-top: 15px;
}

.jet-smart-listing__featured .jet-smart-listing__post-title {
  margin-top: 5px;
  margin-bottom: 13px;
}

.jet-testimonials .jet-testimonials__comment {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.jet-testimonials .jet-testimonials__name {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.1px;
}

.jet-blog-playlist__heading,
.jet-blog-playlist__items {
  background-color: transparent;
}

.jet-tumbs-horizontal .jet-blog-playlist__items-list-content {
  @include media-breakpoint-up(sm) {
    justify-content: space-around;
  }
}

.jet-tumbs-horizontal {
  .jet-blog-playlist__item-thumb-img {
    max-height: 120px;
  }
}

.jet-blog-playlist__item .jet-blog-playlist__item-title {
  letter-spacing: .3px;
}

.jet-blog-playlist__item-thumb {
  position: relative;
}
.jet-blog-playlist__item-duration {
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  top: auto;
  padding: 2px 10px;
  font-size: 12px;
  font-weight: 700;
}

.jet-subscribe-form .jet-subscribe-form__input {
  padding: 11.5px 15px;
  border-radius: 0;
}

.jet-subscribe-form--block-layout .jet-subscribe-form__submit {
  margin-top: 15px;
}

.elementor-icon.elementor-social-icon {
  font-size: 20px;
  padding: 0.5em;
}

.elementor-social-icon {
  margin-right: 7px;
}

.no-featured {
  .jet-smart-listing__posts {
    border: none;
  }
}