.post__cats a{
	color: $regular_h6_color;
}

.posts-list .posts-list__item,
.posts-list--search .posts-list__item,
.posts-list--timeline .posts-list__item .posts-list__item-inner{
	background-color: $light_color;
}

.posts-list--timeline .posts-list__item{
	background-color: transparent;
}

.posted-by a{
	color: $regular_accent_color_1;
}

.posted-by a:hover{
	color: $regular_accent_color_2;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover { color: $regular_link_hover_color; }

.post__tags a{
	color: $regular_text_color;
}

.post__tags a:hover{
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	color: $light_color;
}

.tagcloud a{
	font-size: $body_font_size{px};
	font-family: @font_family( $body_font_family );
	font-weight: $body_font_weight;
}


.entry-meta-main>*:after,
.entry-meta-top>*:after,
.jet-smart-listing__meta>*:after{
	background-color: @darken($grey_color_1, 19);
}

.entry-meta,
.posted-by{
	color: @darken($grey_color_1, 19);
}

.post-template-single-layout-2 .single-featured-header__meta-box .entry-meta,
.post-template-single-layout-2 .single-featured-header__meta-box .posted-by,
.post-template-single-layout-2 .single-featured-header__meta-box .posted-by a,

.post-template-single-layout-4 .single-featured-header__inner-wrap .entry-meta,
.post-template-single-layout-4 .single-featured-header__inner-wrap .posted-by,
.post-template-single-layout-4 .single-featured-header__inner-wrap .posted-by a,

.post-template-single-layout-5 .single-featured-header__container .entry-meta,
.post-template-single-layout-5 .single-featured-header__container .posted-by,
.post-template-single-layout-5 .single-featured-header__container .posted-by a,

.post-template-single-layout-6 .single-featured-header__inner-wrap .entry-meta,
.post-template-single-layout-6 .single-featured-header__inner-wrap .posted-by,
.post-template-single-layout-6 .single-featured-header__inner-wrap .posted-by a:not(:hover),

.post-template-single-layout-8 .single-featured-header__inner-wrap .entry-meta,
.post-template-single-layout-8 .single-featured-header__inner-wrap .posted-by,
.post-template-single-layout-8 .single-featured-header__inner-wrap .posted-by a,

.post-template-single-layout-9 .single-featured-header__inner-wrap .entry-meta,
.post-template-single-layout-9 .single-featured-header__inner-wrap .posted-by,
.post-template-single-layout-9 .single-featured-header__inner-wrap .posted-by a{
	color: $light_color;
}

.post-template-single-layout-2 .single-featured-header__meta-box a:hover,
.post-template-single-layout-9 .single-featured-header__inner-wrap a:hover{
	color: $dark_color;
}

.post-template-single-layout-4 .single-featured-header__inner-wrap .posted-by a:hover,
.post-template-single-layout-4 .single-featured-header__inner-wrap .post__date a:hover,

.post-template-single-layout-5 .single-featured-header__container .posted-by a:hover,
.post-template-single-layout-5 .single-featured-header__container .post__date a:hover,

.post-template-single-layout-6 .single-featured-header__inner-wrap .posted-by a:hover,
.post-template-single-layout-6 .single-featured-header__inner-wrap .post__date a:hover,

.post-template-single-layout-8 .single-featured-header__inner-wrap .posted-by a:hover,
.post-template-single-layout-8 .single-featured-header__inner-wrap .post__date a:hover{
	color: $regular_accent_color_2;
}

.post-template-single-layout-2 .single-featured-header__meta-box .entry-meta-main>*:after,
.post-template-single-layout-2 .single-featured-header__meta-box .entry-meta-top>*:after,

.post-template-single-layout-4 .single-featured-header__inner-wrap .entry-meta-main>*:after,
.post-template-single-layout-4 .single-featured-header__inner-wrap .entry-meta-top>*:after,

.post-template-single-layout-5 .single-featured-header__container .entry-meta-main>*:after,
.post-template-single-layout-5 .single-featured-header__container .entry-meta-top>*:after,

.post-template-single-layout-6 .single-featured-header__inner-wrap .entry-meta-main>*:after,
.post-template-single-layout-6 .single-featured-header__inner-wrap .entry-meta-top>*:after,

.post-template-single-layout-8 .single-featured-header__inner-wrap .entry-meta-main>*:after,
.post-template-single-layout-8 .single-featured-header__inner-wrap .entry-meta-top>*:after,

.post-template-single-layout-9 .single-featured-header__inner-wrap .entry-meta-main>*:after,
.post-template-single-layout-9 .single-featured-header__inner-wrap .entry-meta-top>*:after,

.posts-list--grid-2 .entry-meta-main>*:after,
.posts-list--grid-2 .entry-meta-top>*:after{
	background-color: $light_color;
}

.single-post .posted-by__author:hover{
	color: $dark_color;
}

.post-gallery .swiper-button-next,
.post-gallery .swiper-button-prev{
	background-color: $dark_color;
	color: $light_color;
}

cite{
	color: $grey_color_1;
}

.format-link .post-featured-content,
.single-format-link .single-featured-header .post-featured-content{
	background-color: $dark_color;
}

.format-link .post-featured-content a,
.single-format-link .single-featured-header .post-featured-content a{
	color: $regular_accent_color_2;
}

.format-link .post-featured-content a:hover,
.single-format-link .single-featured-header .post-featured-content a:hover{
	color:$light_color;
}

.format-link .post-featured-content .post-format-link:before{
	color: $grey_color_1;
}

.post-timeline-date__day{
	font-style: $h6_font_style;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	text-align: $h6_text_align;
	text-transform: $h6_text_transform;
}

.jet-smart-tiles__terms-link,
.jet-smart-listing__terms-link{
	background-color: $regular_accent_color_2;
	color: $dark_color;
}

.jet-smart-tiles__box-title{
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
	text-align: $h3_text_align;
	text-transform: $h3_text_transform;
}

.jet-smart-listing-wrap .post-title-featured{
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
	text-align: $h3_text_align;
	text-transform: $h3_text_transform;
}

.jet-smart-listing__post-excerpt{
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	text-align: $body_text_align;
	text-transform: $body_text_transform;
}

.nav-links .page-numbers.current,
.nav-links .page-numbers.current:hover{
	background-color: $regular_accent_color_1;
	color: $light_color;
}

.site-content .page-links a,
.nav-links .page-numbers,
.woocommerce-pagination .page-numbers{
	background-color: transparent;
	color: $dark_color;
}

.site-content .page-links a:hover,
.nav-links .page-numbers:hover,
.woocommerce-pagination .page-numbers:hover{
	color:$regular_accent_color_1;
}


.widget-title{
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{em};
	text-align: $h3_text_align;
	text-transform: $h3_text_transform;
}

.main-navigation .menu > li.current_page_item > a,
.main-navigation .menu > li.current_page_ancestor > a,
.main-navigation .menu > li.current-menu-item > a,
.main-navigation .menu > li.current-menu-ancestor > a,
.jet-menu >li.jet-current-menu-item >a,
.main-navigation .menu > li > a, .jet-menu >li >a,
.main-navigation .menu > li:hover > a,
.jet-menu >li:hover >a, .jet-menu >li.jet-menu-hover >a{
	background-color: transparent;
}

.jet-tabs__control.active-tab .jet-tabs__label-text,
.jet-tabs__control:hover .jet-tabs__label-text,
.jet-tabs__control.active-tab .jet-tabs__label-icon,
.jet-tabs__control:hover .jet-tabs__label-icon{
	color: $regular_accent_color_1;
}


.jet-sub-mega-menu .jet-tabs .jet-tabs__label-text{
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	text-align: $body_text_align;
	text-transform: $body_text_transform;
	color: $regular_text_color;
}

.jet-tabs__control.active-tab .jet-tabs__label-text,
.jet-tabs__control:hover .jet-tabs__label-text,
.jet-tabs__control.active-tab .jet-tabs__label-icon,
.jet-tabs__control:hover .jet-tabs__label-icon{
	color:$regular_accent_color_1;
}

.jet-custom-nav>.jet-custom-nav__item>a,
.jet-custom-nav__sub .jet-custom-nav__item a,
.jet-custom-nav__sub .jet-custom-nav__item a .jet-menu-link-text{
	font-style: $body_font_style;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	text-align: $body_text_align;
	background-color: transparent;
}

.jet-custom-nav .jet-menu-link-text,
.jet-custom-nav__sub .jet-custom-nav__item a,
.jet-custom-nav__sub .jet-custom-nav__item a .jet-menu-link-text,
.main-navigation .sub-menu a, .jet-sub-menu >li >a{
	color: $regular_text_color;
}

.jet-custom-nav>.jet-custom-nav__item>a:hover .jet-menu-link-text,
.jet-custom-nav>.jet-custom-nav__item.hover-state > a .jet-menu-link-text,
.jet-custom-nav__sub .jet-custom-nav__item a:hover,
.jet-custom-nav__sub .jet-custom-nav__item.hover-state>a .jet-menu-link-text{
	color: $regular_accent_color_1;
	background-color: transparent;
}

.jet-custom-nav .menu-item a:before{
	color: $grey_color_1;
}

.main-navigation .menu,
.main-navigation .menu .sub-menu,
.jet-sub-menu,
.jet-mobile-menu-active .jet-menu-container.jet-mobile-menu{
	background-color: $light_color;
}

.main-navigation .sub-menu a:hover,
.main-navigation .sub-menu li.current_page_item > a,
.main-navigation .sub-menu li.current_page_ancestor > a,
.main-navigation .sub-menu li.current-menu-item > a,
.main-navigation .sub-menu li.current-menu-ancestor > a,
.jet-sub-menu >li.jet-menu-hover >a, .jet-sub-menu >li.jet-current-menu-item >a{
	color:$regular_accent_color_1;
}

.site-footer .widget_recent_entries a,
.site-footer .widget_recent_comments a{
	color: $regular_accent_color_2;
}

.site-footer .widget_recent_entries a:hover,
.site-footer .widget_recent_comments a:hover{
	color: $light_color;
}

#toTop:hover{
	background-color: $dark_color;
}

.jet-smart-tiles-wrap .jet-blog-arrow{
	background-color: $dark_color;
	border-color: $dark_color;
	color: $light_color;
}