/*!
Skin Name: Famelle
*/
/*Button*/
.add_to_cart_button,
.btn,
a.btn,
.elementor-widget .elementor-button,
.popup-type-default .cherry-popup-subscribe__submit,
.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-subscribe .cherry-popup-subscribe__submit,
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce a.button.loading,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce input.button:disabled,
.woocommerce input.button[disabled]:disabled,
form button,
form input[type=button],
form input[type=reset],
form input[type=submit],
.elementor-widget .elementor-button.elementor-size-md,
.btn.btn-lg,
form button.btn-lg,
form input[type='button'].btn-lg,
form input[type='reset'].btn-lg,
form input[type='submit'].btn-lg,
.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-subscribe .cherry-popup-subscribe__submit,
.popup-type-default .cherry-popup-subscribe__submit,
.elementor-widget .elementor-button.elementor-size-lg,
.jet-subscribe-form .jet-subscribe-form__submit.elementor-button.elementor-size-md {
  font-size: 13px;
  letter-spacing: 0.03em;
  padding: 10px 38px 10px;
  border-radius: 0;
}

.search-form__submit[type=submit] {
  padding-bottom: 10px;
}

.jet-subscribe-form .jet-subscribe-form__submit.elementor-button.elementor-size-md {
  padding: 10px 38px 10px;
}

/* #Site */
.position-fullwidth .site-content__wrap {
  margin-top: 0;
}

/* Breadrumbs */
.position-fullwidth .breadcrumbs,
.position-fullwidth .page-header {
  position: relative;
}

.position-fullwidth .breadcrumbs:before,
.position-fullwidth .page-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 3000px;
  background-color: #F8F8F8;
  z-index: -1;
}

.position-fullwidth .breadcrumbs {
  margin-bottom: 30px;
}

.position-fullwidth .breadcrumbs .breadcrumbs__inner {
  border: none;
  margin-bottom: 0;
  padding-top: 8px;
  padding-bottom: 7px;
}

.position-fullwidth .breadcrumbs + .page-header {
  margin-top: -30px;
}

.position-fullwidth .page-header {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 56px;
}

.position-fullwidth .page-header .page-title {
  text-align: center;
}

/* #Menu */
.main-navigation .menu > li > a {
  background-color: transparent;
}

.main-navigation .menu > li > a:before {
  display: none;
}

.main-navigation .menu > li:hover > a, .main-navigation .menu > li.current_page_item > a, .main-navigation .menu > li.current_page_ancestor > a, .main-navigation .menu > li.current-menu-item > a, .main-navigation .menu > li.current-menu-ancestor > a {
  background-color: transparent;
}

/* #Jet-Menu */
.jet-menu-inner .jet-menu > li > a {
  background-color: transparent;
  padding: 11px 12px;
}

.jet-menu-inner .jet-menu > li > a:before {
  display: none;
}

.jet-menu-inner .jet-menu > li > a .jet-menu-item-wrapper:after {
  display: none;
}

.jet-menu-inner .jet-menu > li:hover > a, .jet-menu-inner .jet-menu > li.jet-menu-hover > a, .jet-menu-inner .jet-menu > li.jet-current-menu-item > a {
  background-color: transparent;
}

.jet-menu-inner .jet-menu > li .jet-sub-menu {
  border: none;
}

.jet-menu-inner .jet-menu > li .jet-sub-menu .jet-menu-item > a {
  padding: 5px 20px;
}

.jet-menu-inner .jet-menu .top-level-link {
  position: relative;
}

.jet-menu-inner .jet-menu .top-level-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -4px;
  border-radius: 3px;
}

.jet-menu-inner .jet-menu .top-level-link .jet-menu-item-wrapper {
  position: relative;
}

.jet-menu-inner .jet-menu .top-level-link .jet-menu-item-wrapper:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  opacity: 0;
  transition: .2s;
  transform: translateY(8px);
}

.jet-menu-inner .jet-menu .jet-menu-item:hover > .top-level-link .jet-menu-item-wrapper:after,
.jet-menu-inner .jet-menu .jet-menu-hover > .top-level-link .jet-menu-item-wrapper:after,
.jet-menu-inner .jet-menu .jet-current-menu-item > .top-level-link .jet-menu-item-wrapper:after {
  opacity: 1;
  transform: translateY(3px);
}

/* #Jet-blog */
.elementor-widget-jet-blog-smart-listing .jet-smart-listing__post-content .jet-smart-listing__meta, .elementor-widget-jet-blog-smart-listing .jet-smart-listing__featured-content .jet-smart-listing__meta {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}

.elementor-widget-jet-blog-smart-listing .jet-smart-listing__post-content .jet-smart-listing__meta .posted-by, .elementor-widget-jet-blog-smart-listing .jet-smart-listing__featured-content .jet-smart-listing__meta .posted-by {
  text-transform: capitalize;
}

.elementor-widget-jet-blog-smart-listing .jet-smart-listing__post-content .jet-smart-listing__meta .posted-by + .post__date, .elementor-widget-jet-blog-smart-listing .jet-smart-listing__featured-content .jet-smart-listing__meta .posted-by + .post__date {
  padding-top: 2px;
}

.elementor-widget-jet-blog-smart-listing .jet-smart-listing__post-excerpt {
  margin-top: 5px;
}

.elementor-widget-jet-blog-smart-listing.custom_count .jet-smart-listing__posts {
  counter-reset: post-list-counter;
}

.elementor-widget-jet-blog-smart-listing.custom_count .jet-smart-listing__posts .jet-smart-listing__post {
  padding-top: 36px;
  position: relative;
  counter-increment: post-list-counter;
}

.elementor-widget-jet-blog-smart-listing.custom_count .jet-smart-listing__posts .jet-smart-listing__post:before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: counter(post-list-counter);
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 48px;
  border-radius: 50%;
  text-align: center;
}

.elementor .post-thumbnail img {
  border-radius: 0;
}

/* #Post */
.single-post.position-fullwidth .site-content__wrap .row .site-main {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.single-post.post-template-single-layout-7 .site-content__wrap .row .site-main {
  max-width: 100%;
}

.single-post .post {
  margin-top: 58px;
}

.single-post .post .post-thumbnail {
  margin-bottom: 55px;
}

.single-post .post .entry-header {
  margin-top: 14px;
  margin-bottom: 0;
}

.single-post .post .entry-header h1 {
  line-height: 0.9em;
  text-align: center;
}

.single-post .post .entry-meta.entry-meta-main-top {
  -ms-flex-pack: center;
      justify-content: center;
}

.single-post .post .entry-meta.entry-meta-main-top .post__cats a {
  background-color: transparent;
  font-size: 13px;
  letter-spacing: 0.04em;
  margin-bottom: 0;
}

.single-post .post .entry-meta.entry-meta-main-middle {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  padding-bottom: 11px;
}

.single-post .post .entry-meta.entry-meta-main-middle .posted-by__content {
  margin-bottom: -4px;
}

.single-post .post .entry-meta.entry-meta-main-bottom {
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 15px 0 42px;
  border-top: 1px solid #F0F0F0;
}

.single-post .post .entry-meta.entry-meta-main-bottom .inner_bootom_meta {
  font-size: 12px;
}

.single-post .post .entry-meta.entry-meta-main-bottom .inner_bootom_meta:first-child > * {
  padding-right: 20px;
}

.single-post .post .entry-meta.entry-meta-main-bottom .inner_bootom_meta .cherry-trend-rating {
  display: inline-block;
}

.single-post .post .entry-meta.entry-meta-main-bottom .inner_bootom_meta .cherry-trend-rating .cherry-trend-star {
  font-size: 12px;
  width: 12px;
  height: 12px;
  color: #E5452F;
}

.single-post .post .entry-meta.entry-meta-main-bottom .inner_bootom_meta .cherry-trend-rating .cherry-trend-star:before {
  font-family: 'FontAwesome';
  content: '\f005';
}

.single-post .post .entry-meta.entry-meta-main-bottom .inner_bootom_meta .cherry-trend-rating .cherry-trend-star--active {
  color: #E0E0E0;
}

.single-post .post .post__date .post__date-link {
  letter-spacing: 0.04em;
}

.single-post .post .post__tags a {
  font-style: normal;
}

.archive.position-fullwidth .posts-list--default,
.blog.position-fullwidth .posts-list--default {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.archive.position-fullwidth .posts-list--default .posts-list__item:not(:first-child),
.blog.position-fullwidth .posts-list--default .posts-list__item:not(:first-child) {
  padding-top: 53px;
}

.archive.position-fullwidth .posts-list--default .posts-list__item .post-thumbnail,
.blog.position-fullwidth .posts-list--default .posts-list__item .post-thumbnail {
  margin-bottom: 16px;
}

.archive.position-fullwidth .posts-list--default .posts-list__item .post-thumbnail img,
.blog.position-fullwidth .posts-list--default .posts-list__item .post-thumbnail img {
  border-radius: 0;
}

.archive.position-fullwidth .posts-list--default .posts-list__item .entry-content,
.blog.position-fullwidth .posts-list--default .posts-list__item .entry-content {
  margin-bottom: 7px;
}

.archive.position-fullwidth .posts-list--default .posts-list__item .entry-content p,
.blog.position-fullwidth .posts-list--default .posts-list__item .entry-content p {
  font-size: 14px;
}

.archive.position-fullwidth .posts-list--default .posts-list__item .entry-meta,
.blog.position-fullwidth .posts-list--default .posts-list__item .entry-meta {
  -ms-flex-pack: center;
      justify-content: center;
}

.archive.position-fullwidth .posts-list--default .posts-list__item .entry-meta.entry-meta-main,
.blog.position-fullwidth .posts-list--default .posts-list__item .entry-meta.entry-meta-main {
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: 6px;
  margin-bottom: 24px;
}

.archive.position-fullwidth .posts-list--default .posts-list__item .entry-meta.entry-meta-top .cherry-trend-views .cherry-trend-views__count:before,
.blog.position-fullwidth .posts-list--default .posts-list__item .entry-meta.entry-meta-top .cherry-trend-views .cherry-trend-views__count:before {
  font-family: 'FontAwesome';
  content: '\f06e';
  font-size: 16px;
}

.archive.position-fullwidth .posts-list--default .posts-list__item .entry-footer,
.blog.position-fullwidth .posts-list--default .posts-list__item .entry-footer {
  margin-top: 27px;
  margin-bottom: 60px;
}

.archive.position-fullwidth .posts-list--default .posts-list__item .entry-footer .entry-footer-container,
.blog.position-fullwidth .posts-list--default .posts-list__item .entry-footer .entry-footer-container {
  -ms-flex-pack: center;
      justify-content: center;
}

.posts-list--timeline .posts-list__item .posts-list__item-inner, .posts-list--default-small-img .posts-list__item .posts-list__item-inner {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #F0F0F0;
}

.posts-list--timeline .posts-list__item .posts-list__item-inner .post-list_header, .posts-list--default-small-img .posts-list__item .posts-list__item-inner .post-list_header {
  -ms-flex: 1 1 100%;
      flex: 1 1 100%;
}

.posts-list--timeline .posts-list__item .posts-list__item-inner .posts-list__item-media, .posts-list--default-small-img .posts-list__item .posts-list__item-inner .posts-list__item-media {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}

.posts-list--timeline .posts-list__item .posts-list__item-inner .posts-list__item-content, .posts-list--default-small-img .posts-list__item .posts-list__item-inner .posts-list__item-content {
  -ms-flex: 1 1 50%;
      flex: 1 1 50%;
}

.posts-list--timeline .posts-list__item .posts-list__item-inner {
  border: none;
  margin-bottom: 0;
}

.posts-list--vertical-justify .posts-list__item .posts-list__item-inner, .posts-list--masonry .posts-list__item .posts-list__item-inner, .posts-list--grid .posts-list__item .posts-list__item-inner {
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #F0F0F0;
}

.posts-list--vertical-justify .posts-list__item .posts-list__item-inner .post-list_header, .posts-list--masonry .posts-list__item .posts-list__item-inner .post-list_header, .posts-list--grid .posts-list__item .posts-list__item-inner .post-list_header {
  padding-bottom: 15px;
}

.posts-list--vertical-justify .posts-list__item .posts-list__item-inner .post-list_header .entry-meta-main, .posts-list--masonry .posts-list__item .posts-list__item-inner .post-list_header .entry-meta-main, .posts-list--grid .posts-list__item .posts-list__item-inner .post-list_header .entry-meta-main {
  -ms-flex-pack: center;
      justify-content: center;
}

.posts-list--vertical-justify .posts-list__item .posts-list__item-inner .posts-list__item-media .post-thumbnail a img, .posts-list--masonry .posts-list__item .posts-list__item-inner .posts-list__item-media .post-thumbnail a img, .posts-list--grid .posts-list__item .posts-list__item-inner .posts-list__item-media .post-thumbnail a img {
  border-radius: 0;
}

.posts-list--vertical-justify .posts-list__item .posts-list__item-inner .posts-list__item-content .entry-footer .entry-footer-container, .posts-list--masonry .posts-list__item .posts-list__item-inner .posts-list__item-content .entry-footer .entry-footer-container, .posts-list--grid .posts-list__item .posts-list__item-inner .posts-list__item-content .entry-footer .entry-footer-container {
  -ms-flex-pack: center;
      justify-content: center;
}

.posts-list--vertical-justify .posts-list__item .posts-list__item-inner {
  border: none;
  margin-bottom: 0;
}

.post .post__cats a,
.posts-list .post__cats a,
.single-featured-header .post__cats a {
  background-color: transparent;
  font-size: 13px;
  letter-spacing: 0.04em;
  margin-bottom: 0;
  padding-left: 0;
}

.post .post__cats a:hover,
.posts-list .post__cats a:hover,
.single-featured-header .post__cats a:hover {
  background-color: transparent;
}

.post__date .post__date-link {
  letter-spacing: 0.04em;
}

.post__tags a {
  font-style: normal;
}

.cherry-trend-rating {
  font-size: 10px;
}

.cherry-trend-rating .cherry-trend-star {
  font-size: 12px;
  width: 12px;
  height: 12px;
  color: #E5452F;
}

.cherry-trend-rating .cherry-trend-star:before {
  font-family: 'FontAwesome';
  content: '\f005';
}

.cherry-trend-rating .cherry-trend-star--active::before {
  color: #E0E0E0;
}

.cherry-trend-rating .cherry-trend-star--is-half::before {
  content: '\f005';
  color: #E0E0E0;
}

.cherry-trend-rating .cherry-trend-star:hover::before,
.cherry-trend-rating .cherry-trend-star:hover ~ .cherry-trend-star::before {
  content: '\f005';
}

.pagination,
.posts-load-more-nav {
  border: none;
  padding-top: 0;
  margin-bottom: 27px;
}

.nav-links .page-numbers,
.woocommerce-pagination .page-numbers {
  background-color: transparent !important;
  border: none;
  border-radius: 0;
  height: 30px;
  margin: 0;
}

.nav-links .page-numbers.next i, .nav-links .page-numbers.prev i,
.woocommerce-pagination .page-numbers.next i,
.woocommerce-pagination .page-numbers.prev i {
  line-height: 30px;
}

/* #Elementor */
.elementor-widget-text-editor .elementor-drop-cap {
  font-size: 3.6em;
  line-height: 0.1;
}

/* Elements */
.elementor-text-editor ul li {
  list-style-type: none;
  padding-left: 20px;
  position: relative;
}

.elementor-text-editor ul li + li {
  margin-top: 1px;
}

.elementor-text-editor ul li:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  width: 3px;
  height: 3px;
  background-color: #333;
  border-radius: 50%;
}

blockquote {
  padding-left: 30px;
}

blockquote p {
  display: inline;
}

blockquote:before {
  content: '\f10e';
  font-family: 'FontAwesome';
  font-size: 20px;
  display: inline-block;
  top: 0px;
  left: 0px;
  padding-right: 10px;
}

blockquote cite {
  font-style: italic;
  font-size: 14px;
}

blockquote.quote-bg {
  background-color: #F8F8F8 !important;
  border-left: 2px solid;
  border-radius: 0;
}

blockquote.quote-bg:before {
  font-size: 24px;
  padding-right: 0;
}

blockquote.quote-bg p {
  display: block;
}

blockquote.quote-type-2.half-box {
  padding-left: 30px;
  border-left: 2px solid;
}

.format-quote .post-featured-content,
.single-format-quote .single-featured-header .post-featured-content {
  background-color: #F8F8F8 !important;
}

.comments-area {
  padding-bottom: 40px;
}

.has-content-area + .post-respond-button {
  margin-top: 41px;
}

/*# sourceMappingURL=style.css.map */
