/* #Jet-Menu */
.jet-menu >li:hover >a:before,
.jet-menu >li.jet-menu-hover >a:before,

.jet-menu >li.jet-current-menu-item >a:before {
	background-color: $dark_color;
}

.main-navigation .menu,
.main-navigation .menu .sub-menu,
.jet-sub-menu,
.jet-mobile-menu-active .jet-menu-container.jet-mobile-menu,
.main-navigation .menu > li > a, .jet-menu > li > a{
	background-color: $dark_color;
}
.jet-sub-menu {
	background-color: @lighten($dark_color,5);
}

.jet-menu > li > a {
	font-family: @font_family( $breadcrumbs_font_family );
	font-size: $breadcrumbs_font_size{px};
	line-height: $breadcrumbs_line_height;
	letter-spacing: $breadcrumbs_letter_spacing{em};
}

.jet-sub-menu {
	border-color: $grey_color_1;
}

.jet-sub-menu > li > a {
	font-family: @font_family( $breadcrumbs_font_family );
	font-size: $breadcrumbs_font_size{px};
	line-height: $breadcrumbs_line_height;
	letter-spacing: $breadcrumbs_letter_spacing{em};
}

.main-navigation .menu > li > a,
.jet-menu >li >a,
.jet-menu-badge__inner {
	font-style: $breadcrumbs_font_style;
	font-weight: $breadcrumbs_font_weight;
	font-family: @font_family( $breadcrumbs_font_family );
	color: $light_color;
}

.main-navigation .menu > li:hover > a,

.main-navigation .menu > li.current_page_item > a,
.main-navigation .menu > li.current_page_ancestor > a,
.main-navigation .menu > li.current-menu-item > a,
.main-navigation .menu > li.current-menu-ancestor > a,

.jet-menu >li:hover >a,
.jet-menu >li.jet-menu-hover >a,

.jet-menu >li.jet-current-menu-item >a {
	background-color: $dark_color;
	color: $grey_color_1;
}

/* Logo */
.jet-logo__text {
	font-size: $h6_font_size{px};
	line-height: $header_logo_line_height;
	color: $regular_link_color;
}

.jet-logo__link:hover {
	color: $regular_link_color;
}

/* Icon List */
.elementor-icon-list-text {
	font-size: $h6_font_size{px};
	line-height: $header_logo_line_height;
}

.elementor-icon-list-item a:hover {
	color: $light_color;
}

/* #toTop */

#toTop {
	color: $dark_color;
	background-color: $light_color;
}

#toTop:hover {
	background-color: @darken($light_color,10);
}

/* Jet Portfolio */
.jet-portfolio.preset-type-4 .jet-portfolio__content-inner {
	background-image: linear-gradient(180deg, $dark_color 0%, transparent 100%);
}

.jet-portfolio .jet-portfolio__title {
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}

.jet-portfolio .jet-portfolio__desc {
	font-size: $h6_font_size{px};
}

.elementor-widget .jet-portfolio__button.elementor-button {
	font-size: $breadcrumbs_font_size{px};
	font-family: @font_family( $breadcrumbs_font_family );
	line-height: $breadcrumbs_line_height;
	font-style: $breadcrumbs_font_style;
	font-weight: $breadcrumbs_font_weight;
	letter-spacing: $breadcrumbs_letter_spacing{em};
}

.elementor-widget .jet-portfolio__button.elementor-button:hover {
	color: $grey_color_1;
}

/* Images Layout */
.jet-images-layout__content:before {
	background-color: $dark_color;
}

.jet-images-layout .jet-images-layout__title {
	font-size: $breadcrumbs_font_size{px};
	font-family: @font_family( $breadcrumbs_font_family );
	font-weight: $breadcrumbs_font_weight;
	letter-spacing: $breadcrumbs_letter_spacing{em};
}

/* CF7 */
input,
select,
textarea {
	background-color: @lighten($dark_color,4.5);
	border-color: @lighten($dark_color,4.5);
}

input:focus,
select:focus,
textarea:focus {
	border-color: $grey_color_1;
}

.wpcf7 input[type="submit"] {
	font-family: @font_family( $breadcrumbs_font_family );
	font-weight: $breadcrumbs_font_weight;
	letter-spacing: $breadcrumbs_letter_spacing{em};
}

.btn-primary,
.post-password-form input[type="submit"],
.wpcf7 button, .wpcf7 input[type="submit"],
.elementor-widget .elementor-button {
	background-color: @lighten($dark_color,4.5);
	color: $light_color;
}

.btn-primary:hover,
.post-password-form input[type="submit"]:hover,
.wpcf7 button, .wpcf7 input[type="submit"]:hover,
.elementor-widget .elementor-button:hover {
	background-color: $light_color;
	color: $dark_color;
}

/* #Pages */
.site--layout-boxed .site-inner,
.site--layout-framed .site-inner {
	max-width: $page_boxed_width{px};
	background-color: $page_boxed_bg_color;
}

.card-container,
.content-separate-style .card-wrapper,
.content-separate-style .sidebar .widget:not(.elementor-template-widget):not(.widget_elementor-library):not(.elementor-wp-widget),
.content-separate-style .post-author-bio,
.content-separate-style .comments-area,
.content-separate-style .related-posts {
	background-color: $dark_color;
}

/* #Entry Meta */
.posts-list .entry-meta {
	color: @darken($grey_color_1, 19);
}

.post__cats a {
	font-style: $breadcrumbs_font_style;
	font-weight: $breadcrumbs_font_weight;
	font-size: $breadcrumbs_font_size{px};
	font-family: @font_family( $breadcrumbs_font_family );
	letter-spacing: $breadcrumbs_letter_spacing{em};

	background-color: @alpha($dark_color, 80%);
	color: $light_color;
}
.post__cats a:hover {
	background-color: @darken($dark_color, 10);
}

.post__cats i,
.post__date i,
.post__comments i,
.post__tags i,
.posted-by i { color: @darken( $grey_color_1, 6 ) }

.posted-by {
	color: $regular_link_color;
}

.post-via .meta-title,
.post-sources .meta-title,
.single-post .hentry .post__tags .meta-title {
	background-color: $dark_color;
	color: $light_color;
}

.post-via a,
.post-sources a,
.single-post .hentry .post__tags a {
	border-color: $grey_color_1;
}

.post-via a:hover,
.post-sources a:hover,
.single-post .hentry .post__tags a:hover {
	color: $light_color;
	border-color: $regular_accent_color_1;
	background-color: $regular_accent_color_1;
}

.invert .post__cats i,
.invert .post__date i,
.invert .post__comments i,
.invert .post__tags i,
.invert .posted-by i,
.invert .cs-share__icon,
.invert .cherry-trend-views__count:before {
	color: @darken($light_color, 4.7);
}

.format-standard.has-post-thumbnail .post__button-wrap::after {
	background-color: @alpha($dark_color, 50%);
}
.single-post .hentry .cherry-trend-views__count::before,
.single-featured-header .cherry-trend-views__count::before,
.cherry-trend-views__count::before {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	font-size: $h6_font_size{px};
}

.single-post .hentry .post__tags a {
	font-style: $breadcrumbs_font_style;
	font-weight: $breadcrumbs_font_weight;
	font-family: @font_family( $breadcrumbs_font_family );
	letter-spacing: $breadcrumbs_letter_spacing{em};
}
.single-post .hentry .post__tags a:hover {
	color: $grey_color_1;
}

.comment-date__link:hover,
.comment-reply-link:hover,
.comment-form a:hover {
	color: $light_color;
}

.posts-list .entry-meta,
.entry-meta,
.cherry-trend-views__count::before {
	color: $grey_color_1;
}
.entry-meta a:hover {
	color: $light_color;
}
.post__cats a:hover {
	color: $grey_color_1;
}
.posts-list .post__cats a:hover {
	color: $light_color;
}
.invert .posts-list .entry-meta,
.invert .entry-meta,
.invert .cherry-trend-views__count::before {
	color: $light_color;
}
.invert .entry-meta a:hover {
	color: @darken($light_color, 10);
}
.invert .post__cats a:hover {
	color: @darken($light_color, 10);
}
.posts-list .invert .post__cats a:hover {
	color: $light_color;
}
.invert .entry-title a:hover {
	color: @darken($light_color, 10);
}

.site-content .page-links a:hover,
.site-content .page-links > .page-links__item,
.nav-links a.page-numbers:hover,
.nav-links .page-numbers.current,
.woocommerce-pagination a.page-numbers:hover,
.woocommerce-pagination .page-numbers.current {
	color: $grey_color_1;
}

.site-content .page-links a,
.site-content .page-links > .page-links__item,
.nav-links .page-numbers,
.nav-links .page-numbers i::before,
.woocommerce-pagination .page-numbers,
.posts-load-more-btn__text,
.next.page-numbers .mdi:before {
	font-style: $breadcrumbs_font_style;
	font-weight: $breadcrumbs_font_weight;
	font-family: @font_family( $breadcrumbs_font_family );
	letter-spacing: $breadcrumbs_letter_spacing{em};
}
.posts-load-more-btn:not([disabled]):hover {
    color: $light_color;
}

blockquote {
	background-color: @alpha($light_color, 5%);
	font-style: $breadcrumbs_font_style;
	font-weight: $breadcrumbs_font_weight;
	font-family: @font_family( $breadcrumbs_font_family );
}
blockquote.quote-bg {
	background-color: @alpha($light_color, 95%);
	color: $dark_color;
}
blockquote::before {
	color: $light_color;
}
blockquote.quote-bg::before {
	color: $dark_color;
}
blockquote cite {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	color: @alpha($light_color, 50%);
}
blockquote.quote-bg cite {
	color: @alpha($dark_color, 80%);
}

.comment-form label {
	color: $grey_color_1;
}

/* #Button Appearance Styles */
.btn,
.btn-link,
.post-password-form input[type="submit"],
.wpcf7 button,
.wpcf7 input[type="submit"],
.wpcf7 input[type="reset"],
.elementor-widget .elementor-button {
	font-style: $breadcrumbs_font_style;
	font-weight: $breadcrumbs_font_weight;
	font-family: @font_family( $breadcrumbs_font_family );
	letter-spacing: $breadcrumbs_letter_spacing{em};
}

/* Share buttons */
.cs-share__link-text {
	font-size: $h6_font_size{px};
}
.cs-share__link {
	color: $grey_color_1;
}
.cs-share__link:hover {
	color: $light_color;
}