/**
 * woocommerce-theme.scss
 * Governs the general look and feel of WooCommerce sections of stores using themes that do not
 * integrate with WooCommerce specifically.
 *
 */
/**
 *
 * IMPORT STYLES and VARIABLES FOR WOOPAGES(cart, checkout, my-account)
 *
 */
@import "variables-wootheme";
@import "woocommerce-pages";

.woocommerce-products-header {
	&__title.page-title {
		margin-bottom: 20px;
	}
}

/**
 * Woo-elements
 * Styles for compare and wishlist
 *
 */
.woocommerce {
	.product {
		position: relative;
		&:not(.product-list) {
			.wishlist_compare_button_block {
				*::after {
					margin-left: 0;
				}
				button.button.btn {
					margin-top: 5px;
				}

				button.button.btn,
				.tm-quick-view {
					visibility: hidden;
					opacity: 0;
					left: 50%;
					&.tm-woowishlist-button {
						transition: 0.3s all ease;
					}
					&.tm-woocompare-button {
						transition: 0.3s all ease;
						transition-delay: 0.1s;
					}
				}
			}

			&:hover {
				> .block_product_thumbnail .wishlist_compare_button_block {
					button.button.btn,
					.tm-quick-view {
						visibility: visible;
						opacity: 1;
						left: 0;
					}
				}
			}
		}
	}

	&.single-product,
	&.quick-view-product {
		.product:not(.product-list) {
			button.button.btn,
			.tm-quick-view {
				visibility: visible;
				opacity: 1;
				left: auto;
			}
		}
	}

	.wishlist_compare_button_block {
		z-index: 111;

		.tm-quick-view {
			@include transition(.3s ease all);

			a {
				display: block;
				line-height: 36px;
				transition: 0s;
				color: inherit;
			}
		}

		button.button.btn,
		.tm-quick-view {
			display: block;
			overflow: visible;
			width: 36px;
			height: 36px;
			padding: 0;
			margin: 0 0 5px 0;
			font-size: 18px;
			text-align: center;
			vertical-align: middle;
			border: 1px solid;
			border-radius: 50%;
			box-shadow: none;
			background: white;

			span.text {
				display: none;
			}

			&:after {
				position: absolute;
				@include material-design-icons;
				top: 50%;
				left: 50%;
				@include transform(translate(-50%, -50%));
			}

			&.tm-woocompare-button {
				&:after {
					content: "\f456";
				}

				&.in_compare {
					&:after {
						content: "\f457";
						margin: 0;
					}
				}

				&.loading {
					opacity: 1;

					&:after {
						content: "\f450";
						margin-top: -9px;
						margin-left: -15px;
						width: 30px;
					}
				}
			}

			&.tm-woowishlist-button {
				&:after {
					content: "\f2d5";
				}

				&.in_wishlist {
					&:after {
						content: "\f2d1";
					}
				}

				&.loading {
					opacity: 1;
					&:after {
						content: "\f450";
						margin-top: -9px;
						margin-left: -15px;
						width: 30px;
					}
				}
			}
		}

		button.button.btn.tm-woowishlist-button,
		button.button.btn.tm-woocompare-button {
			position: relative;

			.text {
				display: block;
				position: absolute;
				top: -10px;
				left: 50%;
				transform: translateX(-50%) translateZ(0);
				padding: 5px;
				font-size: 10px;
				line-height: 1;
				opacity: 0;
				visibility: hidden;
				@include border-radius();
				@include transition(.3s ease all);
			}
			&:hover {
				.text {
					top: -25px;
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}

/**
 * Woo-elements
 * WooPagination
 *
 */
.woocommerce {
	nav.woocommerce-pagination {
		margin-top: 30px;
		padding-top: 25px;
		text-align: center;
		border-top: 1px solid;
		
		ul.page-numbers {
			border: none;
			background: none;
		}
	}
}

/**
 * Woo-elements
 * Woo Badges
 *
 */
.woocommerce {
	ul.products li.product span.onsale,
	ul.products li.product span.featured,
	ul.products li.product span.new,
	span.onsale,
	span.featured,
	span.new {
		position: absolute;
		left: -10px;
		right: auto;
		top: 20px;
		z-index: 6;
		
		margin: 0;
		min-height: 0;
		min-width: 0;
		
		padding: 3px 8px;
		font-size: 10px;
		line-height: 1.5;
		text-transform: uppercase;
		@include border-radius();
	}
}

/**
 * Woo-elements
 * Styles for price and rating
 *
 */
.woocommerce {
	
	.price,
	ul.products li.product .price,
	div.product .woocommerce-variation-price span.price,
	div.product span.price,
	div.product p.price,
	&.widget .woocs_price_code {
		display: block;
		font-size: 16px;
		
		ins {
			border: none;
			font-style: normal;
			font-weight: normal;
		}
		
		del {
			opacity: 1;
			font-size: 12px;
		}
	}
	
	&.single-product div.summary p.price del {
		font-size: 16px;
	}
	
	div.product .woocommerce-variation-price span.price,
	div.product p.price {
		font-size: 40px;
		line-height: 1.1em;
	}
	
	// Rating styles
	.star-rating,
	ul.products li.product .star-rating {
		font-size: 0.857em;
		color: $woo_yellow;
		margin: 0 auto;
		width: 6.7em;
		height: 2em;
		line-height: 2;
		
		&::before {
			content: '\73  \73  \73  \73  \73';
		}
		span {
			&::before {
				content: '\53  \53  \53  \53  \53';
			}
		}
	}
	
	.entry-summary .star-rating,
	.commentlist .star-rating {
		width: 7em;
		margin-top: 2px;
	}
	
	p.stars {
		color: $woo_stars_col;
		
		a {
			color: $woo_stars_col;

			&:hover {
				color: $woo_yellow;
			}
		}
		
		&:hover {
			color: transparent;
		}
	}
}

.product-categories,
.product-widget-tags {
	li {
		&:last-child:after {
			display: none;
		}
	}
}

.tm-wc-ajax-filters-wrapper {
	> span {
		background-color: transparent;
	}
	
	.dashicons {
		position: relative;
		top: -2px;
	}
	
	a.button.tm-wc-ajax-filters-reset {
		border-radius: 3px;
	}
}

.woocommerce #respond input#submit.loading,
.woocommerce a.button.loading,
.woocommerce button.button.loading,
.woocommerce input.button.loading {
	padding-right: 30px;
}

/**
 * Woo-elements
 * Styles for listing products
 *
 */
.woocommerce.single-product ul.swiper-wrapper {
	padding: 20px 0 0 0;
}

.woocommerce ul.products,
.woocommerce-page ul.products,
.single-product ul.swiper-wrapper {
	padding: 50px 0 0 0;
	margin-bottom: 0;
	
	&[class*="columns-"] {
		li.product {
			margin-bottom: 0;
			
			@include media-breakpoint-down(sm) {
				float: none;
				width: 100%;
			}
		}
	}
	
	li.product {
		text-align: center;
		
		.product-categories li {
			display: inline-block;
		}
		
		.block_product_thumbnail {
			position: relative;
			z-index: 1;
			
			img {
				display: inline-block;
			}
		}
		
		&.has-price:not(.product-list) {
			&:hover .block_product_content {
				.star-rating {
					bottom: 0;
				}
			}
		}
		
		&.swiper-slide:not(.product-list) {
			padding-left: 0;
			padding-right: 0;
			
			+ li {
				margin-top: 0;
			}
			
			.wishlist_compare_button_block {
				.tm_woowishlist_product_actions_tip .text,
				.tm_woocompare_product_actions_tip .text {
					left: -150%;
					top: 25%;
				}
			}
			
			.star-rating {
				width: 6.6em;
			}
			
			.block_product_content .button {
				display: none;
			}
			
			span.featured,
			span.onsale,
			span.new {
				left: 10px;
			}
			&::before {
				display: none;
			}
		}
		
		.tm-products-sale-end-date {
			position: absolute;
			bottom: 30px;
			left: 0;
			right: 0;
			padding: 0 5px;
			display: flex;
			justify-content: space-between;
			> span i {
				font-style: normal;
			}
			> span {
				padding: 0 2px;
				font-weight: 700;
			}
		}
		
		&.product-list {
			.wishlist_compare_button_block {
				> button.added::after {
					margin-left: 0;
				}
			}

			.tm-products-sale-end-date {
				bottom: 65px;
				right: 60px;
				span {
					padding: 10px 20px;
				}
			}
		}
		
		&:not(.product-list) {
			padding-left: 30px;
			padding-right: 30px;
			
			&::before {
				content: '';
				position: absolute;
				top: -30px;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				opacity: 0;
				height: 100%;
				@include transition(.3s ease all);
				z-index: 1;
				box-shadow: 0 0 35px 2px rgba(0, 0, 0, 0.1);
			}
			
			&:hover::before {
				opacity: 1;
			}
			
			.wishlist_compare_button_block {
				position: absolute;
				top: 10px;
				right: 5px;
			}
			
			.block_product_content {
				padding-bottom: 30px;
				
				> a {
					position: absolute;
					bottom: -20px;
					left: 50%;
					@include translate(-50%, 0);
					opacity: 0;
					visibility: hidden;
				}
			}
			
			.star-rating {
				position: absolute;
				bottom: 30px;
				left: 50%;
				@include translate(-50%, 0);
				@include transition(.3s ease all);
				opacity: 0;
				visibility: hidden;
			}
			
			.star-rating + .price {
				@include transition(.3s ease all);
			}
			
			&:hover,
			&.hover {
				z-index: 3;
			}
			
			&:hover {
				&::before {
					height: calc(100% + 100px);
				}
				.block_product_content {
					.star-rating + .price {
						@include translate(0, 33px);
					}
					
					> a {
						opacity: 1;
						visibility: visible;
						bottom: -45px;
						left: 50%;
						@include translate(-50%, 0);
						transform: translateX(-50%) translateZ(0);
					}
					.star-rating {
						visibility: visible;
						opacity: 1;
						bottom: 40px;
					}
				}
			}
		}
		
		.block_product_content {
			position: relative;
			z-index: 1;
			padding-bottom: 15px;
			
			h3 {
				display: block;
				max-width: 100%;
				overflow: hidden;
				-ms-text-overflow: ellipsis;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.price {
				margin-bottom: 10px;
				margin-top: 10px;
			}
			
			@include media-breakpoint-up(sm) {
				padding-bottom: 30px;
			}
		}
		
		h3 {
			margin-top: 5px;
			padding: 0;
			font-size: 18px;
		}
		
		.product-categories,
		.product-widget-tags {
			margin-bottom: 0;
			text-align: center;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		
		&.product-list {
			padding-bottom: 50px;
			
			h3 {
				@include media-breakpoint-up(md) {
					font-size: 22px;
				}
			}
			
			.block_product_thumbnail {
				@include media-breakpoint-up(md) {
					width: 40%;
				}
				
				@include media-breakpoint-up(lg) {
					width: 420px;
				}
			}
			
			a img {
				@include media-breakpoint-down(sm) {
					float: none;
					width: 100%;
					margin-right: 0;
				}
			}
			
			.block_product_content {
				overflow: hidden;
				padding-bottom: 0;
				margin-top: 10px;
				text-align: left;
				
				@include media-breakpoint-up(md) {
					margin-top: 0;
				}
			}
			
			.product-categories {
				text-align: left;
			}
			
			.star-rating {
				margin: 0 0 15px 0;
			}
			
			.desc_products_listing_line {
				margin: 0 0 15px 0;
			}
			
			.wishlist_compare_button_block {
				position: static;
				padding-top: 25px;
				
				button.button.btn,
				.tm-quick-view {
					display: inline-block;
					margin: 0 7px 0 0;
				}
				
				.tm-quick-view {
					margin: 0 3px 0 0;
				}
			}
			
			&.product-category {
				text-align: left;
				
				> a {
					display: block;
					
					@include media-breakpoint-up(md) {
						width: 40%;
					}
					
					@include media-breakpoint-up(lg) {
						width: 420px;
					}
				}
				
				.title_count_block {
					overflow: hidden;
					margin-top: 10px;
					
					@include media-breakpoint-up(md) {
						margin-top: 0;
					}
				}
				
				.product-category__description {
					overflow: hidden;
				}
			}
		}
		
		&.product-category {
			.count {
				display: inline-block;
				margin-bottom: 0;
			}
			
			.product-category__description {
				margin-top: 10px;
				
				&:empty {
					margin-top: 0;
				}
			}
		}
		
		&.product-category:not(.product-list) {
			> a {
				display: block;
			}
			
			> a,
			.title_count_block {
				position: relative;
				z-index: 1;
			}
			
			.title_count_block {
				padding-bottom: 30px;
			}
			
			&:hover:before {
				height: calc(100% + 30px);
			}
		}
	}
}

/**
 * Woo-elements
 * Styles for single product
 *
 */
.woocommerce {
	div.woocommerce-product-gallery.images {
		ol.flex-control-thumbs {
			display: flex;
			margin-top: 10px;
			
			li + li {
				margin-left: 10px;
			}
		}
	}
	
	table.shop_attributes {
		border-style: solid;
		
		tr {
			td, th {
				border-style: solid;
			}
		}
	}
	
	#woo-primary .woocommerce-tabs {
		ul.tabs {
			padding-left: 0;
			text-align: center;
			
			li {
				font-size: 14px;
				text-transform: uppercase;
				border: none;
				background: transparent;
				
				&.active {
					border-color: transparent;
				}
				
				&::before,
				&::after {
					border-color: transparent;
					box-shadow: none;
				}
			}
		}
		
		.comment-form {
			p input {
				width: 100%;
			}
			
			.comment-form-rating {
				margin-bottom: 0;
			}
		}
	}
	
	div.entry-summary {
		.entry-title.product_title {
			margin-bottom: 15px;
		}
		form.cart table.woocommerce-grouped-product-list {
			border: none;
			tr {
				td {
					padding: 5px 0;
					vertical-align: middle;

					del {
						font-size: 12px;
					}

					ins {
						border: none;
						font-style: normal;
					}
				}
				td:first-child {
					text-align: left;
					input {
						padding: 8.5px 8px;
						width: 60px;

						&::-webkit-inner-spin-button,
						&::-webkit-outer-spin-button {
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
							margin: 0;
						}
						&[type=number] {
							-moz-appearance:textfield;
						}
					}
				}
			}
			
		}
		
		.wishlist_compare_button_block {
			button.button.btn {
				display: inline-block;
				&::after {
					margin-left: 0;
				}
			}
			
			button.button.btn + button.button.btn {
				margin-left: 10px;
			}
			
			.tm-woocompare-page-button,
			.tm-woowishlist-page-button {
				padding: 0;
				margin: 0 5px;
			}
		}
		
		.product_meta {
			margin-top: 10px;
			
			> span {
				display: block;
			}
		}
		
		.woocommerce-product-rating,
		.woocommerce-product-details__short-description,
		p.price,
		div.woocommerce-variation-price .price {
			margin-bottom: 10px;
		}
		
		p.price,
		div.woocommerce-variation-price .price {
			font-size: 24px;
		}
		
		form.cart {
			div.quantity,
			.button {
				float: none;
				display: inline-block;
				width: calc(50% - 5px);
				margin: 0;
				@include media-breakpoint-down(sm) {
					width: 100%;
				}
			}
			
			.button {
				padding: 9px 30px;
				@include media-breakpoint-down(sm) {
					margin-top: 10px;
				}
			}
			
			input[type=number] {
				width: 100%;
				padding: 8.5px 20px;
				
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}
		
		.quantity {
			position: relative;
			
			.tm-qty-minus,
			.tm-qty-plus {
				position: absolute;
				top: 50%;
				@include translate(0, -50%);
				line-height: 1;
				
				&:hover {
					cursor: pointer;
				}
				
				&::before {
					@include font-awesome-icon;
					font-size: 20px;
				}
			}
			
			.tm-qty-minus {
				left: 10px;
				&::before {
					content: '\f068';
				}
			}
			
			.tm-qty-plus {
				right: 10px;
				&::before {
					content: '\f067';
				}
			}
		}
		
		form.cart {
			margin-bottom: 10px;
			
			table.variations {
				margin-bottom: 0;
				
				select {
					-webkit-appearance: none;
					-moz-appearance: none;
				}
				
				tr {
					td {
						padding: 5px 0;
						&.value {
							position: relative;
							
							i {
								position: absolute;
								top: 20px;
								right: 20px;
							}
						}
					}
				}
			}
		}
	}
}

.woocommerce table.shop_attributes td {
	padding: 0 10px;
	
	p {
		font-style: normal;
	}
}

/**
 * Woo-elements
 * Styles for woocommerce message
 *
 */
.woocommerce-message {
	.button {
		#page & {
			padding: 0;
			background-color: transparent;
		}
	}
}

.woocommerce-Message.woocommerce-Message--info.woocommerce-info {
	a {
		padding: 0;
		#page & {
			background-color: transparent;
		}
	}
}

/**
 * Woo-elements
 * Styles for ajax filter
 *
 */
.tm-wc-ajax-products-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	
	.tm-wc-ajax-filters-wrapper {
		flex: 1 1 100%;
		padding-bottom: 20px;
	}
	
	.woocommerce-message {
		flex: 1 1 100%;
	}
	
	.woocommerce-result-count {
		order: 3;
		flex: 1 1 100%;
		align-self: flex-start;
		
		margin: 0;
		padding: 23px 10px;
		font-size: 14px;
		line-height: 24px;
		font-weight: 700;
		text-align: left;
		
		@include media-breakpoint-up(sm) {
			flex: 1 1 auto;
			order: 2;
		}
		@include media-breakpoint-down(xs) {
			text-align: center;
		}
	}
	
	.woocommerce-ordering {
		position: relative;
		
		order: 0;
		flex: 0 1 auto;
		align-self: flex-end;
		
		padding: 12.5px 20px;
		margin: 0;
		@include media-breakpoint-down(xs) {
			width: 100%;
		}
		
		select {
			width: 200px;
			height: 45px;
			font-size: 14px;
			line-height: 24px;
			cursor: pointer;
			appearance: none;
			
			@include media-breakpoint-down(xs) {
				width: 100%;
			}
			
			&::-ms-expand {
				opacity: 0;
			}
		}
		
		&:after {
			content: "\f35d";
			@include material-design-icons;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			font-size: 25px;
			line-height: 30px;
			cursor: pointer;
			pointer-events: none;
		}
	}
	
	&.loading {
		.tm-woo-grid-list-toggle-button-wrapper,
		.woocommerce-ordering,
		.woocommerce-result-count{
			opacity: 0.5;
		}
	}

	.tm-woo-grid-list-toggle-button-wrapper {
		position: relative;
		order: 2;
		flex: 1 1 auto;
		align-self: flex-end;
		
		margin: 0;
		padding: 10px 5px;
		
		@include media-breakpoint-down(sm) {
			width: 100px;
			text-align: center;
		}
		
		.tm-woo-grid-list-toggle-button {
			display: block;
			
			.tm-woo-grid-list-toggler {
				display: inline-flex;
				width: 50px;
				height: 50px;
				padding: 11px 12px;
				transform: translate(0, 0);
				transition: all 0.3s ease;
				text-align: center;
				background: none;
				box-shadow: none;
				
				.dashicons {
					@include material-design-icons;
					width: 24px;
					height: 24px;
					font-size: 24px;
				}
				&.tm-woo-grid-list-toggle-button-list {
					.dashicons {
						&:before {
							content: "\f572";
						}
					}
				}
				
				&.tm-woo-grid-list-toggle-button-grid {
					.dashicons {
						&:before {
							content: "\f570";
						}
					}
				}
			}
		}
	}
	
	.products {
		order: 4;
		flex: 1 1 100%;
		align-self: auto;
		
		max-width: 100%;
	}
	
	.woocommerce-pagination,
	.pagination {
		order: 6;
		flex: 1 1 100%;
		align-self: auto;
	}
	
	.tm-wc-ajax-load-more-button {
		order: 5;
		flex: 0 1 auto;
		align-self: auto;
		
		.woocommerce & {
			margin-top: 30px;
			margin-left: auto;
			margin-right: auto;
		}
		
		&.loading {
			.woocommerce & {
				padding-right: $button__indents_x;
				&::after {
					display: none;
				}
			}
		}
	}
}

/**
 * Woo-elements
 * Quick-view
 *
 */
.tm-quick-view-popup {
	&__content {
		.woocommerce-product-details__short-description {
			margin-bottom: 15px;
		}
	}
}

/**
 * Woo-elements
 * WooButtons
 *
 */
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	@include btn();
	
	&.loading::after {
		display: none;
	}
}

.woocommerce {
	a.added_to_cart {
		display: none;
	}
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
	pointer-events: none;
}

/*
* Styles for Wishlist & Compare
*
*/
.tm-woowishlist-remove,
.tm-woocompare-remove {
	.dashicons {
		display: none;
	}
	&:hover {
		opacity: 1;
	}
}

//Wishlist
.tm-woowishlist {
	padding: 40px 0 50px;
	
	.tm-woowishlist-item {
		padding-bottom: 25px;
		border-bottom: 1px solid $wooborder_color;
		display: flex;
		.tm-woowishlist-remove {
			top: 10px;
			
			&::before {
				color: $color__not-valid;
				content: '\f00d';
				font-family: FontAwesome;
				font-size: 16px;
				@include transition(.3s ease all);
			}
		}
		
		p {
			margin: 10px 0 10px;
		}
		.tm-woocomerce-list__product-title {
			a {
				font-size: 18px;
			}
		}
		.tm-woocomerce-list__product-image {
			float: none;
			margin-bottom: 0;
			padding-left: 30px;
		}
		
		.tm-woowishlist-remove {
			position: absolute;
			top: 30px;
			left: 0;
			width: 20px;
		}
		
		.wrap_elements {
			overflow: hidden;
			display: flex;
			flex: 0 1 100%;
			justify-content: space-between;
			align-items: flex-start;
			flex-direction: column;
			flex-wrap: wrap;
			
			@include media-breakpoint-up(md) {
				flex-direction: row;
				align-items: center;
			}
			
			.stock {
				font-weight: 800;
			}
		}
		
		.price {
			line-height: 1.2em;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
		.tm-woocomerce-list__product-title {
			margin: 10px 0 10px;
		}
	}
}

.tm-woocomerce-wishlist-widget-wrapper {
	.tm-woowishlist-widget-product {
		padding-top: 25px;
		
		.tm-woowishlist-remove {
			top: 0;
			&::before {
				content: '\f00d';
				@include font-awesome-icon;
			}
		}
		
		h3 {
			margin-bottom: 10px;
		}
		
		.tm-woocomerce-list__product-image {
			float: none;
			@include media-breakpoint-up(sm) {
				margin: 0 20px 0 0;
			}
		}
		
		div:not(class) {
			overflow: hidden;
			
			.price {
				margin-bottom: 20px;
			}
		}
		
	}
}

//Compare

.tm-woocompare-list {
	.tm-woocompare-wrapper {
		padding-bottom: 30px;
		@include media-breakpoint-down(xs) {
			padding: 30px 0;
		}
	}
	table.tm-woocompare-table {
		.tm-woocompare-row {
			border-top: 1px solid $wooborder_color;
			&:first-child,
			&:first-child + .tm-woocompare-row {
				border-top: none;
			}
		}
		thead th,
		.tm-woocompare-cell,
		.tm-woocompare-row {
			background-color: transparent;
			border-right: 1px solid $wooborder_color !important;
			padding: 5px 35px 5px 30px;
			vertical-align: top;
			.tm-woocompare-heading-cell {
				border-right: 1px solid $wooborder_color !important;
				font-size: 14px;
				line-height: 1em;
				@include media-breakpoint-up(sm) {
					width: 150px;
				}
			}
			
			.tm-woocomerce-list__product-title {
				padding-top: 10px;
				font-size: 16px;
			}
			
			.button {
				margin: 10px 0;
			}
			
			.tm-woocompare-remove {
				top: 15px;
				right: 20px;
				left: auto;
				&::before {
					color: $color__not-valid;
					content: '\f00d';
					font-family: FontAwesome;
					font-size: 16px;
					@include transition(.3s ease all);
				}
			}
		}
		
		.tm-woocompare-row {
			.title {
				font-weight: 800;
			}
			
			.tm-woocompare-cell {
				font-size: 16px;
			}
		}
	}
	
	.tm-woocomerce-list__product-image {
		padding: 10px 0;
	}
}

.woocommerce .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn {
	border: none;
	box-shadow: none;
	background: none;
	opacity: 1;
	width: 30px;
	height: 30px;
	padding: 0;
	color: $wooborder_color;
	
	&:active, &:focus {
		box-shadow: none !important;
	}
	
	&:before {
		display: none;
	}
	
	&:after {
		@include material-design-icons;
		width: 26px;
		height: 26px;
		font-size: 14px;
		border: 1px solid $wooborder_color;
		line-height: 26px;
		border-radius: 3px;
	}
	
	&.left:after {
		content: "\F04D";
	}
	
	&.right:after {
		transform: scale(-1, 1);
		content: "\F04D";
	}
}

.tm-woocompare-wrapper {
	.tablesaw-advance {
		padding-bottom: 10px;
		overflow: hidden;
	}
}

.tm-woocompare-widget-wrapper {
	.tm-woocompare-widget-products {
		padding-bottom: 20px;
	}
	
	.tm-woocompare-widget-product {
		margin-bottom: 0;
		padding-top: 20px;
		@include flexbox();
		@include flex-direction(row);
		@include flex-wrap(wrap);
		@include justify-content(flex-start);
		@include align-content(flex-start);
		@include align-items(flex-start);
		
		.tm-woocompare-remove {
			top: -10px;
			&::before {
				content: '\f00d';
				font-family: FontAwesome;
				font-size: 16px;
				@include transition(.3s ease all);
			}
		}
	}
	
	h3 {
		@include flex(1 1 100%);
		@include order(2);
		margin-bottom: 10px;
	}
	
	.tm-woocomerce-list__product-image {
		@include flex(0 1 auto);
		@include order(1);
	}
	
	.btn {
		width: 100%;
		margin-bottom: 10px;
		.woocommerce & {
			margin-bottom: 10px;
		}
	}
}

//Woocommerce loader, compare && wishlist
$loader-width: 30px;
$border-width: 3px;

.woocommerce .loader:before,
.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-loader span {
	position: absolute;
	left: 50%;
	top: 50%;
	width: $loader-width;
	height: $loader-width;
	margin: ($loader-width+$border-width)/-2 0 0 ($loader-width+$border-width)/-2;
	background-image: none;
	background-color: transparent;
	border-radius: 50%;
	border: $border-width solid transparent;
	animation: storycle_spin 1s linear infinite;
	z-index: 11;
}

.tm-woocomerce-wishlist-widget-wrapper .tm-woowishlist-widget-product h3 {
	margin-top: 15px;
}

.tm-woocomerce-wishlist-widget-wrapper {
	.tm-woowishlist-widget-product {
		.tm-woocomerce-list__product-image {
			margin-right: 0;
		}
	}

	.tm-woowishlist-page-button {
		display: block;
		width: 100%;
	}
}

.woocommerce-wishlist-widget {
	> div > .button {
		display: block;
	}
}

.woocommerce.single-product div.woocommerce-tabs .woocommerce-Tabs-panel .comment-form-rating .stars span a:not(.active)::before,
.woocommerce.single-product div.woocommerce-tabs .woocommerce-Tabs-panel .comment-form-rating .stars span a.active::before {
	color: $woo_yellow;
}

.woocommerce.single-product div.woocommerce-tabs .woocommerce-Tabs-panel .comment-form-rating .stars span a.active ~ a::before,
.woocommerce.single-product div.woocommerce-tabs .woocommerce-Tabs-panel .comment-form-rating .stars:not(.selected) span a::before {
	color: $woo_grey;
}

.woocommerce.single-product div.woocommerce-tabs .woocommerce-Tabs-panel .comment-form-rating .stars a + a {
	margin-left: 3px;
}

/**
 * Related Products
 */
.related.products {
	.swiper-button-disabled {
		pointer-events: auto;
		cursor: auto;
	}
}

/**
 * Woo shopping cart widget
 */
.widget_shopping_cart {
	.widget_shopping_cart_content {
		font-size: 14px;

		.cart_list {
			.mini_cart_item {
				padding-left: 1.5em;
				padding-bottom: 10px;

				a {
					img {
						width: 50px;
					}
				}

				.blockOverlay {
					background-color: $color__white !important;

					&:before {
						display: none;
					}
				}
			}

			.quantity {
				font-size: 16px;
			}
		}

		a.remove {
			margin-left: 0;
		}

		.woocommerce-mini-cart__buttons {
			a.button {
				width: 100%;
				margin-right: 0;
				margin-bottom: 0;

				& + a.button {
					margin-top: 10px;
				}
			}
		}

		.woocommerce-mini-cart__total.total {
			margin-top: 10px;
			padding-top: 10px;

			.amount {
				font-size: 16px;
			}
		}
	}
}