/* #Jet-Menu */
.main-navigation .menu,
.main-navigation .menu .sub-menu,
.jet-menu-item .jet-sub-menu,
.jet-mobile-menu-active .jet-menu-container.jet-mobile-menu,
.main-navigation .menu > li > a,
.jet-menu > li > a {
	background-color: $light_color;
}

.main-navigation .menu > li.current_page_item > a,
.main-navigation .menu > li.current_page_ancestor > a,
.main-navigation .menu > li.current-menu-item > a,
.main-navigation .menu > li.current-menu-ancestor > a, .jet-menu >li.jet-current-menu-item >a,
.main-navigation .menu > li:hover > a,
.jet-menu >li:hover >a,
.jet-menu >li.jet-menu-hover >a{
	background-color: transparent;
	color: $light_color;
}

.jet-menu .jet-sub-menu {
	border-color: $grey_color_1;
	border-top-color: $regular_accent_color_1;
}

.jet-custom-nav .jet-menu-link-text,
.jet-custom-nav__sub .jet-custom-nav__item a .jet-menu-link-text {
    color: $dark_color;
}

.main-navigation .sub-menu a:hover,
.main-navigation .sub-menu li.current_page_item > a,
.main-navigation .sub-menu li.current_page_ancestor > a,
.main-navigation .sub-menu li.current-menu-item > a,
.main-navigation .sub-menu li.current-menu-ancestor > a,
.jet-sub-menu >li.jet-menu-hover >a,
.jet-sub-menu >li.jet-current-menu-item >a,
.jet-custom-nav__item.hover-state > a .jet-menu-link-text,
.jet-custom-nav__sub .jet-custom-nav__item.hover-state>a .jet-menu-link-text {
    color: $regular_accent_color_1;
}

.main-navigation .menu > li > a,
.jet-menu >li >a,
.jet-menu-badge__inner {
    font-weight: $body_font_weight;
}


/* ##Jet Text Ticker */
.jet-text-ticker__title {
	color: $regular_accent_color_1;
	background-color: $light_color;
}

.jet-text-ticker__date,
.jet-text-ticker__post-date,
.jet-text-ticker__post-author,
.jet-text-ticker .jet-blog-arrow {
	color: $dark_color;
}

.jet-text-ticker__item-typed:hover {
	color: $regular_link_color;
}

.jet-text-ticker .jet-blog-arrow {
	background-color: $grey_color_1;
}

.jet-text-ticker .jet-blog-arrow:hover {
	color: $light_color;
	background-color: $regular_accent_color_1;
}

/* ##Widget */
.widget-title{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
}

/* ##Stock Ticker */
.stock_ticker .sqitem .company{
	color: $dark_color;
}
.stock_ticker .sqitem .price {
	color: $regular_accent_color_1;
}

/* ## Jet Smart Listing / Tiles */
.jet-smart-listing__meta {
	color: $dark_color;
}

.jet-smart-listing__meta .post__date,
.jet-smart-listing__meta .posted-by,
.jet-smart-listing__meta .post__comments,
.jet-smart-tiles__terms-link,
.jet-smart-listing__terms-link {
	font-size: $body_font_size{px};
	line-height: $h1_line_height;
}

.jet-smart-listing__post .post-excerpt-simple,
.jet-smart-listing__post-excerpt {
    font-size: $body_font_size{px};
}

.jet-smart-tiles__terms-link,
.jet-smart-listing__terms-link {
	background: transparent;
	color: $regular_accent_color_1;
	font-weight: $body_font_weight;
}

.jet-smart-tiles__terms-link:hover,
.jet-smart-listing__terms-link:hover {
	background: transparent;
	color: $regular_accent_color_2;
}

.jet-blog .jet-smart-listing__arrow {
	background-color: $grey_color_1;
	color: $dark_color;
}

.jet-blog .jet-smart-listing__arrow:hover {
	color: $light_color;
	background-color: $regular_accent_color_1;
}

/* ## Elementor */
.btn,
.btn-link,
.post-password-form input[type="submit"],
.wpcf7 button, .wpcf7 input[type="submit"],
.wpcf7 input[type="reset"],
.elementor-widget .elementor-button,
.site-content .page-links a,
.site-content .page-links > .page-links__item,
.nav-links .page-numbers,
.woocommerce-pagination .page-numbers,
.posts-load-more-btn {
    font-size: $body_font_size{px};
    font-weight: $body_font_weight;
	letter-spacing: 0.01em;
}


.btn-primary:hover,
.post-password-form input[type="submit"]:hover,
.wpcf7 button:hover,
.wpcf7 input[type="submit"]:hover,
.elementor-widget .elementor-button:hover {
    background-color: $dark_color;
}

.btn.btn-lg,
.elementor-widget .elementor-button.elementor-size-lg,
.jet-subscribe-form .jet-subscribe-form__submit.elementor-button.elementor-size-md {
    font-size: $body_font_size{px};
    line-height: $h1_line_height;
}

/*Jet Subscribe*/
.jet-subscribe-form .jet-subscribe-form__input {
    background-color: $grey_color_1;
    font-size: $body_font_size{px};
    line-height: $body_line_height;
}

/*Elements*/
blockquote {
	color: $regular_accent_color_1;
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	text-align: $h5_text_align;
}

blockquote:before, blockquote.quote-bg cite {
	color: $regular_accent_color_1;
}

cite {
	color: $dark_color;
}

/*  Breadcrumbs */
.breadcrumbs__item-target,
.breadcrumbs__item-sep {
	color: $dark_color;
}

/*Single Post*/
.entry-meta {
	color: $dark_color;
}
.invert .entry-meta {
	color: $light_color;
}
.post__cats a {
	background-color: transparent;
	color: $regular_accent_color_1;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
}
.invert .post__cats a {
	color: $light_color;
}
.post__cats a:hover,
.invert .post__cats a:hover {
	background-color: transparent;
	color: $regular_accent_color_2;
}

.single-post .hentry .post__tags a {
	background-color: $grey_color_1;
	color: $regular_accent_color_1;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $h1_line_height;
}
.single-post .hentry .post__tags a:hover {
	background-color: $regular_accent_color_1;
	color: $light_color;
}

.cherry-trend-star,
.post__cats i,
.post__date i,
.post__comments i,
.post__tags i,
.posted-by i,
.cherry-trend-views__count:before {
	color: inherit;
	font-size: @font_size($h6_font_size, multiple, round, 0.9)px;
}

.cherry-trend-star--active,
.cherry-trend-star:hover {
	color: $regular_accent_color_1;
}

.posted-by__content a,
.posted-by {
	color: inherit;
	font-weight: $h6_font_weight;
}
.posted-by__content a:hover {
	color: $regular_accent_color_2;
}

/*Cherry Popup*/
.popup-type-login .cherry-popup-login__login-in,
.popup-type-signup .cherry-popup-register__sign-up,
.popup-type-default .cherry-popup-subscribe__submit,
.popup-type-subscribe .cherry-popup-subscribe__submit {
	font-weight: $body_font_weight;
}
.popup-type-login .cherry-popup-login__login-in:hover,
.popup-type-signup .cherry-popup-register__sign-up:hover,
.popup-type-login .cherry-popup-login__login-in:active,
.popup-type-signup .cherry-popup-register__sign-up:active {
	background-color: $dark_color;
}

/*Post Listing*/
.posts-list .entry-meta {
	color: $dark_color;
}

.posts-list .entry-summary,
.posts-list .entry-content {
	font-size: $body_font_size{px};
}

.posts-list--default-small-img .posts-list__item {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: $grey_color_1;
}

.posts-load-more-btn {
	border-width: 1px;
	border-style: solid;
	border-color: $grey_color_1;
}

.posts-load-more-nav .posts-load-more-btn:hover {
	border-color: $regular_accent_color_1;
	background-color: $regular_accent_color_1;
	color: $light_color;
}

.post-gallery .swiper-button-next,
.post-gallery .swiper-button-prev {
	color: $dark_color;
}