/*!
Skin Name: Lifestyle
*/
@import "../../../../assets/sass/variables-site/_colors.scss";
@import "../../../../assets/sass/typography/icons";
@import "buttons.scss";

$border-tag-color: #c3c3c9;

.posts-list {
	&:not(.posts-list--default-small-img):not(.posts-list--timeline) {
		.has-featured:not(.format-audio) .posts-list__item-media .post__cats {
			bottom: -15px;
			top: auto;
		}
	}
}

.posts-list {
	.entry-summary > *:first-child,
	.entry-content > *:first-child {
		margin-top: 16px;
	}

	&__item {
		border-radius: 2px;
	}

	&--default,
	&--vertical-justify {
		.has-featured:not(.format-audio) .posts-list__item-media .post__cats {
			margin: 20px 30px;
		}

		.posts-list__item-content {
			padding: 7px 30px 30px;
		}
		.posts-list__item:not(:first-child) {
			border: none;
			padding-top: 0;
		}

		.format-audio {
			.post-featured-content {
				padding: 30px 30px 0;
			}

			.posts-list__item-media .post__cats {
				order: 0;
				padding: 0 30px;
			}
		}
		.has-featured {
			&.format-video {
				.posts-list__item-media .post__cats {
					position: static;
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}

	&--grid,
	&--masonry {
		.posts-list__item-content {
			padding: 8px 20px 20px;
		}
		.entry-summary > *:first-child,
		.entry-content > *:first-child {
			margin-top: 7px;
		}

		.posts-list__item {
			&.format-audio {
				.post-featured-content {
					padding: 20px 20px 0;
				}
				.posts-list__item-media .post__cats {
					order: 1;
					padding-left: 20px;
					padding-right: 20px;
				}
			}
			&.format-video {
				.post__cats {
					position: static;
					margin-top: 0;
					margin-bottom: 0;
				}
			}
		}
	}

	&--default-small-img {
		.posts-list__item-inner {
			padding: 20px;
		}

		.posts-list__item {
			margin-bottom: 30px;
		}

		.has-featured:not(.format-audio) .posts-list__item-media .post__cats {
			bottom: auto;
			top: 0;
		}

	}

	.post-thumbnail__img {
		border-radius: 0;
	}

	&--timeline {
		.posts-list__item-inner {
			padding: 20px;
		}

		.post-timeline-date__date,
		.post-timeline-date__time {
			border-radius: 0;
		}

		.post-timeline-date__day {
			font-weight: bold;
			letter-spacing: 0.03em;
		}
	}

	.post__date,
	.cherry-trend-views,
	.post__comments,
	.cherry-trend-rating {
		font-style: italic;
	}

	.post__tags a {
		font-style: normal;
	}
}

.cherry-trend-views__count::before {
	display: none;
}

.entry-footer-container {
	justify-content: space-between;
}

.entry-meta {
	font-size: 14px;
	&-top,
	&-main {
		> *:not(:last-child) {
			position: relative;
			&:after {
				content: '';
				display: inline-block;
				width: 3px;
				height: 3px;
				vertical-align: middle;
				margin-left: 20px;
			}
		}
	}

	.posts-list--default & {
		margin-left: -20px;
		margin-right: -20px;
		> * {
			padding-left: 20px;
			padding-right: 0;
		}
	}

	.posts-list--grid &,
	.posts-list--masonry & {
		margin-left: -10px;
		margin-right: -10px;
		> * {
			padding-left: 10px;
			padding-right: 10px
		}
	}

	&-main {
		.posts-list--grid &,
		.posts-list--masonry & {
			margin-top: 7px;
		}
	}

	&-top {
		.posts-list--grid &,
		.posts-list--masonry & {
			margin-bottom: 10px;
		}
	}

	&-bottom {
		.posts-list--grid &,
		.posts-list--masonry &,
		.posts-list--grid-2 & {
			margin-top: 7px;
			> * + * {
				margin-top: 14px;
			}
		}
	}

	.posts-list--default-small-img & {
		margin-left: -10px;
		margin-right: -10px;
		> * {
			padding-left: 10px;
			padding-right: 0;
		}
	}

	&-bottom {
		margin-top: 14px;
	}
}

.post-template-single-layout-2 .single-featured-header__meta-box,
.post-template-single-layout-9 .single-featured-header__inner-wrap {
	.posted-by:after {
		display: none;
	}
}

.post-template-single-layout-8 .single-featured-header__inner-wrap {
	.cherry-trend-rating:after {
		display: none;
	}
}

.posts-list .entry-summary,
.posts-list .entry-content {
	font-size: 14px;
	line-height: 24px;
}

.post__tags,
.tagcloud {
	margin: -5px;
	a {
		padding: 3px 14px;
		display: inline-block;
		border: 1px solid $border-tag-color;
		border-radius: 2px;
		margin: 5px;
		font-style: normal;
		text-transform: none;
		font-weight: 400;
	}
}

.cs-share__icon {
	font-size: 24px;
}

.post-gallery {
	.swiper-button-prev,
	.swiper-button-next {
		top: 50%;
		transform: translateY(-50%);
		border-radius: 0;
		height: 40px;
		width: 20px;
		line-height: 40px;
		font-size: 22px;
	}

	.swiper-button-prev {
		left: 0;
		right: auto;
		&:before {
			content: '\f141';
		}
	}
	.swiper-button-next {
		right: 0;
		&:before {
			content: '\f142';
		}
	}
}

.posts-list--grid-2 .format-gallery .post-gallery .swiper-button-prev,
.posts-list--grid-2 .format-gallery .post-gallery .swiper-button-next {
	top: 50%;
}

.single-format-quote .single-featured-header .post-featured-content:not(:empty),
.single-format-link .single-featured-header .post-featured-content:not(:empty),
.format-quote .post-featured-content:not(:empty),
.format-link .post-featured-content:not(:empty) {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0;
}

.post-format-quote {
	font-weight: 400;
	.posts-list:not(.posts-list--default) & {
		font-size: 18px;
		line-height: 22px;
		text-align: left;
	}
}

.format-link {
	.post-featured-content {
		.post-format-link {
			max-width: none;
			margin: 0;
			&:before {
				content: '\f339';
				@extend %material-design-icons;
				font-size: 24px;
				display: block;
				text-align: left;
				margin-bottom: 10px;
			}
		}
	}
	.posts-list--default & {
		.post-featured-content {
			justify-content: center;
			a:before {
				text-align: center;
			}
		}
	}
}

.single-post{
	.format-link{
		.post-featured-content {
			justify-content: center;
			a:before {
				text-align: center;
			}
		}
	}
}


.post-gallery {
	border-radius: 0;
}

blockquote cite {
	font-size: 14px;
}

.format-link .post-featured-content a,
.single-format-link .single-featured-header .post-featured-content a {
	font-weight: 400;
}

.jet-smart-tiles-wrap .jet-blog-arrow {
	width: 30px;
	height: 60px;
}

div.jet-smart-tiles-wrap .jet-blog-arrow.jet-arrow-prev{
	left: 0;
}

div.jet-smart-tiles-wrap .jet-blog-arrow.jet-arrow-next{
	left: calc(100% - 30px);
}

.jet-smart-tiles__terms {
	margin-bottom: 5px;
}

.jet-smart-listing {

	&-box-shadow {
		.jet-smart-listing__post,
		.jet-smart-listing__featured:not(.featured-layout-boxed) {
			overflow: visible;
			.jet-smart-listing__post-content,
			.jet-smart-listing__featured-content {
				transition: .2s;
				width: 100%;
			}

			&:hover {
				.jet-smart-listing__post-content,
				.jet-smart-listing__featured-content {
					box-shadow: 0 0 12px 3px rgba(#6e7b9d, .18);
				}
			}
		}

	}

	&__post-thumbnail a {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	&__meta {
		> *:not(:last-child) {
			position: relative;
			&:after {
				content: '';
				display: inline-block;
				width: 3px;
				height: 3px;
				vertical-align: middle;
				margin-left: 10px;
				margin-right: 10px;
			}
		}
	}

	.post-title-simple {
		font-size: 16px;
		letter-spacing: 0;
		font-weight: bold;
		line-height: 22px;
	}

	&__post-content {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	&__featured {
		.jet-smart-listing__meta {
			> *:after {
				margin-left: 20px;
				margin-right: 20px;
			}
		}

		.jet-smart-listing__post-title {
			margin-bottom: 20px;
		}

		.jet-smart-listing__post-excerpt {
			margin-top: 25px;
		}
	}

	.has-thumb-postion-top.has-post-thumb .jet-smart-listing__post-content,
	.featured-img-top.has-post-thumb .jet-smart-listing__featured-content {
		margin-top: 0;
	}

	.has-thumb-postion-left.has-post-thumb .jet-smart-listing__post-content,
	.featured-img-left.has-post-thumb .jet-smart-listing__featured-content {
		margin-left: 0;
	}

	.jet-smart-listing__meta {
		font-size: 14px;
	}

	.post__date-link {
		font-style: italic;
	}

	.jet-smart-listing__more-wrap {
		margin-top: 25px;
	}
}

.elementor-widget-storycle-blog {

		.posts-list__item {
			border-radius: 3px;
			.posts-list__item-media img{
				border-top-left-radius:3px;
				border-top-right-radius:3px;
			}
		}

}

.pagination,
.posts-load-more-nav {
	border-top: none;
	padding-top: 0;
}

.nav-links .page-numbers,
.site-content .page-links a,
.site-content .page-links > .page-links__item {
	border: none;
}

input, select, textarea {
	font-size: 14px;
}

.widget_recent_entries .post-date {
	font-style: italic;
	font-size: 14px;
}

.widget-title {
	margin-bottom: 1.1em;
}

.widget_recent_entries {
	.post-date {
		margin-top: 5px;
	}
}

.widget ul li + li,
.widget ul li > ul,
.widget ul li > ol {
	margin-top: 20px;
}

.wp-video {
	width: 100%;
}

.jet-nav__sub {
	padding: 10px;
}

.jet-sub-menu,
.jet-sub-mega-menu {
	border-top: none;
}

.jet-sub-mega-menu {
	.jet-tabs .jet-tabs__control-wrapper {
		border: none;
	}
	.jet-tabs__control.active-tab,
	.jet-tabs__control:hover {
		background-color: transparent;
	}
	.jet-tabs .jet-tabs__label-text {
		text-transform: none;
	}
	.jet-smart-listing__post-thumbnail a{
		border-radius: 0;
	}

	.jet-custom-nav .menu-item{

		a{
			padding-left: 20px;
			&:before{
				position: absolute;
				top:15px;
				left: 0;
				content:'\f142';
				@include material-design-icons;
			}
		}

		.jet-custom-nav__sub{
			padding: 5px 20px;
		}
	}
}

.jet-sub-menu > li > a{
	font-size: 14px;
}

.elementor-widget{
	.elementor-icon-list-icon+.elementor-icon-list-text{
		padding-left: 20px;
	}
	.elementor-icon-list-item + .elementor-icon-list-item{
		margin-top: 6px;
	}
}

.jet-sub-menu{
	box-shadow: 0 7px 12px 0 rgba(75,77,88,0.15);
}

.last-child-without-border{
	.jet-smart-listing__post:last-child{
		border-bottom: none!important;
	}
}