/* Basic Styles */

.page-title {
    font-style: $h2_font_style;
    font-weight: $h2_font_weight;
    font-size: @font_size($h2_font_size, multiple, round, $h2_mobile_multiple)px;
    line-height: $h2_line_height;
    font-family: @font_family( $h2_font_family );
    letter-spacing: $h2_letter_spacing{em};
    text-align: $h2_text_align;
    text-transform: $h2_text_transform;
    color: $regular_h2_color;
}

.posts-list--grid-2 .has-thumb .posts-list__item-content,
.posts-list--grid-2 .format-gallery .posts-list__item-content {
    background-color: @alpha($dark_color,80);
}

.posts-list--default-small-img .posts-list__item {
    border-bottom-color: #C4C4C4;
}


.post__cats a:hover {
    background-color: @lighten($regular_accent_color_1,70);
    color: $light_color;
}

.wp-social-login-widget .wp-social-login-provider-list a {
    background-color: $regular_accent_color_1;
}

.wp-social-login-widget .wp-social-login-provider-list a:hover {
    background-color: $grey_color_1;
}

.jet-nav__sub {
    box-shadow: 3px 3px 10px 0px @lighten($grey_color_1,0.70);
}

a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.elementor-widget-heading .elementor-heading-title>a:hover {
    color: $regular_link_hover_color;
}

.btn-primary,
.posts-load-more-btn:hover {
    color: $regular_accent_color_1;
    background-color: transparent;
    border-color: $regular_accent_color_1;
}

.btn-primary:hover {
    background-color: $regular_accent_color_1;
    color: $light_color;
    border-color: $regular_accent_color_1;
}

.post-password-form input[type="submit"]:hover,
.wpcf7 button:hover,
.wpcf7 input[type="submit"]:hover,
.elementor-widget .elementor-button:hover,
#toTop:hover {
    background-color: $regular_link_hover_color;
    border-color: $regular_link_hover_color;
}

.format-quote .post-featured-content,
.single-format-quote .single-featured-header .post-featured-content {
    background-color: $regular_accent_color_1;
}

.post-format-quote:before,
.post-format-quote cite {
    color: $light_color;
}

    /* Ticker Plugins Styles */
ul.stock_ticker li.plus .sqitem .price,
ul.stock_ticker li.plus .sqitem .company,
ul.stock_ticker li.minus .sqitem .price,
ul.stock_ticker li.minus .sqitem .company{
    color: $regular_accent_color_1;
}

.invert ul.stock_ticker li.plus .sqitem .price,
.invert ul.stock_ticker li.plus .sqitem .company,
.invert ul.stock_ticker li.minus .sqitem .price,
.invert ul.stock_ticker li.minus .sqitem .company {
    color: $light_color;
}

blockquote:before,
blockquote.quote-bg cite {
    color: $regular_accent_color_1;
}

blockquote.quote-bg {
    background-color: $grey_color_1;
}

cite {
    color: $regular_accent_color_1;
}

.entry-meta-main>:after {
    background-color: @lighten($regular_accent_color_1, 70);
}

.cherry-trend-star {
    color: $grey_color_1;
}

.posts-load-more-btn {
    background-color: $regular_accent_color_1;
    color: $light_color;
}

.posts-load-more-btn:not([disabled]):hover {
    color: $regular_accent_color_1;
}
/* Jet Elements Styles */

.jet-tabs__control.active-tab .jet-tabs__label-text,
.jet-tabs__control.active-tab .jet-tabs__label-icon,
.jet-tabs__control.active-tab:hover .jet-tabs__label-text,
.jet-tabs__control.active-tab:hover .jet-tabs__label-icon{
    color: $regular_accent_color_1;
}

.jet-tabs__control:hover .jet-tabs__label-text,
.jet-tabs__control:hover .jet-tabs__label-icon {
    color: $light_color;
}
.jet-tabs__control.active-tab {
    background-color: transparent;
    border-color: $regular_accent_color_1;
}
.jet-tabs__control.active-tab:hover {
    background-color: transparent;
    border-color: @lighten($regular_accent_color_1,90);
}

.jet-tabs__control {
    background-color: transparent;
    color: $regular_accent_color_1;
    border-color: @lighten($regular_accent_color_1,90);
}

.jet-tabs__control:hover {
    color: $light_color;
    border-color: $regular_accent_color_1;
}

.jet-smart-tiles__terms-link:hover,
.jet-smart-listing__terms-link:hover {
    background-color: $regular_link_hover_color;
}

.jet-smart-listing__more.elementor-button.elementor-size-md {
    background-color: transparent;
    border: 1px solid $regular_accent_color_1;
    color: $regular_accent_color_1;
}
.jet-smart-listing__more.elementor-button.elementor-size-md:hover {
    background-color: $regular_accent_color_1;
    border: 1px solid $regular_accent_color_1;
    color: $light_color;
}

.invert .jet-subscribe-form .jet-subscribe-form__input:focus {
    border-color: $light_color;
}
.jet-subscribe-form .jet-subscribe-form__input:focus {
    border-color: @lighen($regular_accent_color_1,80);
}

.invert .btn-primary,
.invert .post-password-form input[type="submit"],
.invert .wpcf7 button, .wpcf7 input[type="submit"],
.invert .elementor-widget .elementor-button {
    background-color: $light_color;
    color: $regular_accent_color_1;
}

.invert .btn-primary:hover,
.invert .post-password-form input[type="submit"]:hover,
.invert .wpcf7 button, .wpcf7 input[type="submit"]:hover,
.invert .elementor-widget .elementor-button:hover {
    background-color: $regular_link_hover_color;
    color: $light_color;
}

.invert .jet-subscribe-form .jet-subscribe-form__submit-icon {
    color: $regular_accent_color_1;
}

/* Mirror effect styles */
.mirror-effect .elementor-image:before,
.mirror-effect .elementor-image:after {
    background: linear-gradient(to right, @alpha($light_color,0) 0%, @alpha($light_color,30) 10%, @alpha($light_color,0) 100%);
}
